<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.zaijushou.zhx.sys.dao.DataCaseBankReconciliationMapper">

    <sql id="colSql">
        b.id as id,
        b.data_case as 'dataCase.id',
        b.cp_money as cpMoney,
        b.cp_date as cpDate,
        b.repay_user as repayUser,
        b.repay_type as repayType,
        b.submit_user as 'submitUser.id',
        b.submit_time as submitTime,
        b.status as status,
        c.batch_no as 'dataCase.batcNo',
        c.card_no as 'dataCase.cardNo',
        c.ident_no as 'dataCase.identNo',
        c.name as 'dataCase.name',
        c.seq_no as 'dataCase.seqNo',
        c.client as 'dataCase.client',
        c.money as 'dataCase.money',
        b.remark as remark,
        b.create_user as 'createUser.id',
        b.update_user as 'updateUser.id',
        b.create_time as createTime,
        b.update_time as updateTime,
        b.delete_flag as deleteFlag
    </sql>

    <select id="pageData" parameterType="xyz.zaijushou.zhx.sys.entity.DataCaseBankReconciliationEntity" resultType="xyz.zaijushou.zhx.sys.entity.DataCaseBankReconciliationEntity">
        select
        <include refid="colSql"/>
        from data_case_bank_reconciliation b
        left join data_case c on b.data_case = c.id
        where b.delete_flag = 0
        <if test="status != null and status != ''">
            and b.status = #{status}
        </if>

        <if test="dataCase != null and dataCase.collectionArea != null and dataCase.collectionArea.id != null">
            and c.collection_area = #{dataCase.collectionArea.id}
        </if>
        <if test="dataCase != null and dataCase.client != null">
            and c.client = #{dataCase.client}
        </if>
        <if test="dataCase != null and dataCase.batchNo != null">
            and c.batch_no = #{dataCase.batchNo}
        </if>
        <if test="dataCase != null and dataCase.dept != null">
            and c.dept = #{dataCase.dept}
        </if>
        <if test="dataCase != null and dataCase.name != null">
            and c.name = #{dataCase.name}
        </if>
        <if test="dataCase != null and dataCase.collectionUser != null and dataCase.collectionUser.id != null">
            and c.collection_user = #{dataCase.collectionUser.id}
        </if>
        <if test="dataCase != null and dataCase.province != null and dataCase.province.id != null">
            and c.province = #{dataCase.province.id}
        </if>
        <if test="dataCase != null and dataCase.city != null and dataCase.city.id != null">
            and c.city = #{dataCase.city.id}
        </if>
        <if test="dataCase != null and dataCase.county != null and dataCase.county.id != null">
            and c.county = #{dataCase.county.id}
        </if>
        <if test="dataCase != null and dataCase.status != null">
            and c.status = #{dataCase.status}
        </if>
        <if test="dataCase != null and dataCase.overdueBillTime != null">
            and c.overdue_bill_time = #{dataCase.overdueBillTime}
        </if>
        <if test="dataCase != null and dataCase.collectStatus != null and '' != dataCase.collectStatusMsg">
            and c.collect_status = #{dataCase.collectStatus}
        </if>
        <if test="dataCase != null and dataCase.caseDateStart != null">
            and c.case_date >= #{caseDateStart}
        </if>
        <if test="dataCase != null and dataCase.caseDateEnd != null">
            and c.case_date &lt;= #{caseDateEnd}
        </if>
        <if test="dataCase != null and dataCase.expectStartTime != null">
            and c.expect_start_time >= #{expectStartTime}
        </if>
        <if test="dataCase != null and dataCase.expectEndTime != null">
            and c.expect_start_time &lt;= #{expectEndTime}
        </if>
        <if test="dataCase != null and dataCase.caseType != null">
            and c.case_type = #{dataCase.caseType}
        </if>

        <if test="submitTimeStart != null">
            and b.submit_time >= #{submitTimeStart}
        </if>
        <if test="submitTimeEnd != null">
            and b.submit_time &lt;= #{submitTimeEnd}
        </if>
        <if test="dataCase != null and dataCase.names != null and dataCase.names.length > 0">
            and c.name in
            <foreach collection="dataCase.names" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="dataCase != null and dataCase.seqNos != null and dataCase.seqNos.length > 0">
            and c.seq_no in
            <foreach collection="dataCase.seqNos" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="dataCase != null and dataCase.identNos != null and dataCase.identNos.length > 0">
            and c.ident_no in
            <foreach collection="dataCase.identNos" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="dataCase != null and dataCase.accounts != null and dataCase.accounts.length > 0">
            and c.account in
            <foreach collection="dataCase.accounts" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>

    </select>

    <update id="updateStatus" parameterType="xyz.zaijushou.zhx.sys.entity.DataCaseBankReconciliationEntity">
        update data_case_bank_reconciliation
        set status = #{status}
        where delete_flag = 0
        and id in
        <foreach collection="ids" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </update>

</mapper>