<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.zaijushou.zhx.sys.dao.DataCaseAddressMapper">

    <!--插入数据信息-->
    <insert id="saveAddress" parameterType="xyz.zaijushou.zhx.sys.entity.DataCaseAddressEntity">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into data_case_address
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="address != null">address,</if>
            <if test="caseId != null">case_id,</if>
            <if test="seqNo != null">seq_no,</if>
            <if test="archiveNo != null">archive_no,</if>
            <if test="cardNo != null">card_no,</if>
            <if test="identNo != null">ident_no,</if>
            <if test="caseDate != null">case_date,</if>
            <if test="name != null">name,</if>
            <if test="type != null">address_type,</if>
            <if test="relation != null">relation,</if>
            <if test="remark != null">remark,</if>
            <if test="status != null">status,</if>
            letter_count,
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="address != null">#{address},</if>
            <if test="caseId != null">#{caseId},</if>
            <if test="seqNo != null">#{seqNo},</if>
            <if test="archiveNo != null">#{archiveNo},</if>
            <if test="cardNo != null">#{cardNo},</if>
            <if test="identNo != null">#{identNo},</if>
            <if test="caseDate != null">#{caseDate},</if>
            <if test="name != null">#{name},</if>
            <if test="type != null">#{type},</if>
            <if test="relation != null">#{relation},</if>
            <if test="remark != null">#{remark},</if>
            <if test="status != null">#{status},</if>
            0,
        </trim>
    </insert>

    <insert id="saveBatchAddress" parameterType="xyz.zaijushou.zhx.sys.entity.DataCaseAddressEntity">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into data_case_address
        (
            address,
            case_id,
            seq_no,
            archive_no,
            card_no,
            ident_no,
            case_date,
            name,
            address_type,
            relation,
            remark,
            status,
            letter_count
        )
        values
        <foreach collection ="list" item="reddemCode" index= "index" separator =",">
        (
            #{reddemCode.address},
            #{reddemCode.caseId},
            #{reddemCode.seqNo},
            #{reddemCode.archiveNo},
            #{reddemCode.cardNo},
            #{reddemCode.identNo},
            #{reddemCode.caseDate},
            #{reddemCode.name},
            #{reddemCode.type},
            #{reddemCode.relation},
            #{reddemCode.remark},
            #{reddemCode.status},
            0
        )
        </foreach >
    </insert>

    <update id="updateAddress" parameterType="xyz.zaijushou.zhx.sys.entity.DataCaseAddressEntity">

        update data_case_address set name =#{name},relation=#{relation},address=#{address},address_type=#{type},remark=#{remark}
        where id = #{id}

    </update>

    <!--通过Id删除数据信息-->
    <delete id="deleteAddress" parameterType="xyz.zaijushou.zhx.sys.entity.DataCaseAddressEntity">
        delete from data_case_address
        where id = #{id}
    </delete>

    <select id="findAll" parameterType="xyz.zaijushou.zhx.sys.entity.DataCaseAddressEntity" resultType="xyz.zaijushou.zhx.sys.entity.DataCaseAddressEntity">
        select t.id,t.address,t.case_id as caseId,(select count(id) from letter where address = t.address) as letterCount,
        t.name,t.address_type as type,t.relation,t.remark,status
        from data_case_address t where t.case_id = #{caseId}
    </select>
    <update id="updateCaseAddressStatus" parameterType="xyz.zaijushou.zhx.sys.entity.DataCaseAddressEntity" >
        update data_case_address set status=#{status} where id=#{id}
    </update>

    <update id="updateLetterCount" parameterType="xyz.zaijushou.zhx.sys.entity.DataCaseAddressEntity">
        update data_case_address set letter_count = letter_count+1 where id = #{id}
    </update>
</mapper>