<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.zaijushou.zhx.sys.dao.DataArchiveMapper">

    <!--插入数据信息-->
    <insert id="saveArchive" parameterType="xyz.zaijushou.zhx.sys.entity.DataArchiveEntity" >
        <selectKey keyProperty="id" order="AFTER"  resultType="java.lang.Integer">
            SELECT @@IDENTITY AS 'Identity'
        </selectKey>
        insert  into data_archive
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">name,</if>
            <if test="cardNo != null">card_no,</if>
            <if test="addressType != null">address_type,</if>
            <if test="identNo != null">ident_no,</if>
            <if test="mobile != null">mobile,</if>
            <if test="address != null">address,</if>
            <if test="remark != null">remark,</if>
            <if test="msgType != null">msg_type,</if>
            <if test="msgContext != null">msg_context,</if>
            delete_flag,
            create_time,
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">#{name},</if>
            <if test="cardNo != null">#{cardNo},</if>
            <if test="addressType != null">#{addressType},</if>
            <if test="identNo != null">#{identNo},</if>
            <if test="mobile != null">#{mobile},</if>
            <if test="address != null">#{address},</if>
            <if test="remark != null">#{remark},</if>
            <if test="msgType != null">#{msgType},</if>
            <if test="msgContext != null">#{msgContext},</if>
            0,
            GETDATE(),
        </trim>
    </insert>

    <insert id="saveBatchArchive" parameterType="xyz.zaijushou.zhx.sys.entity.DataArchiveEntity" >
        <selectKey keyProperty="id" order="AFTER"  resultType="java.lang.Integer">
            SELECT @@IDENTITY AS 'Identity'
        </selectKey>
        insert  into data_archive
        (
            name,
            card_no,
            address_type,
            ident_no,
            mobile,
            address,
            remark,
            msg_type,
            msg_context,
            delete_flag,
            create_time
        )
        values
        <foreach collection ="list" item="reddemCode" index= "index" separator =",">
        (
            #{reddemCode.name},
            #{reddemCode.cardNo},
            #{reddemCode.addressType},
            #{reddemCode.identNo},
            #{reddemCode.mobile},
            #{reddemCode.address},
            #{reddemCode.remark},
            #{reddemCode.msgType},
            #{reddemCode.msgContext},
            0,
            GETDATE()
        )
        </foreach >
    </insert>

    <update id="updateArchive" parameterType="xyz.zaijushou.zhx.sys.entity.DataArchiveEntity">
        update data_archive
        set
        <trim suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="identNo != null">ident_no = #{identNo},</if>
            <if test="mobile != null">mobile = #{mobile},</if>
            <if test="address != null">address = #{address},</if>
            <if test="remark != null">remark = #{remark},</if>
            update_time = GETDATE(),
        </trim>
        where
        id = #{id}
    </update>

    <!--通过Id删除数据信息-->
    <delete id="deleteById" parameterType="java.lang.Integer">
        update data_archive set delete_flag =1
        where id = #{id}
    </delete>

    <select id="pageDataArchive" parameterType="xyz.zaijushou.zhx.sys.entity.DataArchiveEntity" resultType="xyz.zaijushou.zhx.sys.entity.DataArchiveEntity">
        select
        id,name,ident_no as identNo,mobile,address,remark,create_time as createTime,update_time as updateTime
        from data_archive
        <where>
            delete_flag = 0
            <trim suffixOverrides=",">
                <if test="name != null and name!=''">
                    AND  name = #{name}
                </if>
                <if test="identNo != null and identNo!=''">
                    AND ident_no = #{identNo}
                </if>
                <if test="mobile != null and mobile!=''">
                    AND mobile  = #{mobile}
                </if>
                <if test="address != null and address!=''">
                    AND address = #{address}
                </if>
                <if test="startTime != null and startTime!=''">
                     <![CDATA[   and dbo.fnFormatDate(update_time, 'yyyy-MM-dd')>=  #{startTime}   ]]>
                </if>
                <if test="endTime != null and endTime!=''" >
                    <![CDATA[   and dbo.fnFormatDate(update_time, 'yyyy-MM-dd')<=  #{endTime}   ]]>
                </if>
            </trim>
        </where>
        order by ${orderBy} ${sort}
    </select>


    <select id="countDataArchive" parameterType="xyz.zaijushou.zhx.sys.entity.DataArchiveEntity" resultType="java.lang.Integer">
        select
        count(id) as sum
        from data_archive
        <where>
            delete_flag = 0
            <trim suffixOverrides=",">
                <if test="name != null and name!=''">
                    AND  name = #{name}
                </if>
                <if test="identNo != null and identNo!=''">
                    AND ident_no = #{identNo}
                </if>
                <if test="mobile != null and mobile!=''">
                    AND mobile  = #{mobile}
                </if>
                <if test="address != null and address!=''">
                    AND address = #{address}
                </if>
                <if test="startTime != null and startTime!=''">
                    <![CDATA[   and dbo.fnFormatDate(update_time, 'yyyy-MM-dd')>=  #{startTime}  ]]>
                </if>
                <if test="endTime != null and endTime!=''" >
                    <![CDATA[   and dbo.fnFormatDate(update_time, 'yyyy-MM-dd')<=  #{endTime}   ]]>
                </if>
            </trim>
        </where>
    </select>

    <select id="selectById" parameterType="xyz.zaijushou.zhx.sys.entity.DataArchiveEntity" resultType="xyz.zaijushou.zhx.sys.entity.DataArchiveEntity">
        select
        id,name,ident_no as identNo,mobile,address,remark,msg_type as msgType,msg_context as msgContext,create_time as createTime,update_time as updateTime
        from data_archive where id=#{id}
    </select>

    <select id="selectByIdentNo" parameterType="xyz.zaijushou.zhx.sys.entity.DataArchiveEntity" resultType="xyz.zaijushou.zhx.sys.entity.DataArchiveEntity">
        select top 1
        id,name,ident_no as identNo,mobile,address,remark,msg_type as msgType,msg_context as msgContext,create_time as createTime,update_time as updateTime
        from data_archive where ident_no=#{identNo} and delete_flag = 0
    </select>

    <select id="selectAll" resultType="xyz.zaijushou.zhx.sys.entity.DataArchiveEntity">
        select
        id,name,ident_no as identNo,mobile,address,remark,msg_type as msgType,msg_context as msgContext,create_time as createTime,update_time as updateTime
        from data_archive
    </select>
</mapper>