<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.zaijushou.zhx.sys.dao.DataCaseInterestMapper">

    <!--插入数据信息-->
    <insert id="saveInterest" parameterType="xyz.zaijushou.zhx.sys.entity.DataCaseInterestEntity">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT @@IDENTITY AS 'Identity'
        </selectKey>
        insert  into data_case_interest
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="interest != null">interest,</if>
            <if test="caseId != null">case_id,</if>
            <if test="seqNo != null">seq_no,</if>
            <if test="cardNo != null">card_no,</if>
            <if test="caseDate != null">case_date,</if>
            <if test="name != null">name,</if>
            <if test="currency != null">currency,</if>
            <if test="lastestDebt != null">lastest_debt,</if>
            <if test="endDate != null">end_date,</if>
            <if test="principal != null">principal,</if>
            <if test="penalty != null">penalty,</if>
            <if test="lateFee != null">late_fee,</if>
            <if test="overrunFee != null">overrun_fee,</if>
            <if test="serivceFee != null">service_fee,</if>
            <if test="yearFee != null">year_fee,</if>
            <if test="elseFee != null">else_fee,</if>
            <if test="sheetFee != null">sheet_fee,</if>
            create_time,
            delete_flag,
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="interest != null">#{interest},</if>
            <if test="caseId != null">#{caseId},</if>
            <if test="seqNo != null">#{seqNo},</if>
            <if test="cardNo != null">#{cardNo},</if>
            <if test="caseDate != null">#{caseDate},</if>
            <if test="name != null">#{name},</if>
            <if test="currency != null">#{currency},</if>
            <if test="lastestDebt != null">#{lastestDebt},</if>
            <if test="endDate != null">#{endDate},</if>
            <if test="principal != null">#{principal},</if>
            <if test="penalty != null">#{penalty},</if>
            <if test="lateFee != null">#{lateFee},</if>
            <if test="overrunFee != null">#{overrunFee},</if>
            <if test="serivceFee != null">#{serivceFee},</if>
            <if test="yearFee != null">#{yearFee},</if>
            <if test="elseFee != null">#{elseFee},</if>
            <if test="sheetFee != null">#{sheetFee},</if>
            GETDATE(),
            0,
        </trim>
    </insert>



    <!--通过Id删除数据信息-->
    <delete id="deleteInterest" parameterType="xyz.zaijushou.zhx.sys.entity.DataCaseInterestEntity">
        update data_case_interest set delete_flag =1 where case_id = #{caseId}
    </delete>

    <select id="findAll" parameterType="xyz.zaijushou.zhx.sys.entity.DataCaseInterestEntity" resultType="xyz.zaijushou.zhx.sys.entity.DataCaseInterestEntity">
        select id,interest,case_id as caseId,currency,lastest_debt as lastestDebt,end_date as endDate,principal,penalty,late_fee as lateFee,overrun_fee as overrunFee,service_fee as serivceFee,
        year_fee as yearFee,else_fee as elseFee,sheet_fee as sheetFee,create_time as createTime
        from data_case_interest where case_id = #{caseId} and delete_flag=0
    </select>

</mapper>