<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.zaijushou.zhx.sys.dao.DataCaseMapper">

    <!--插入数据信息-->
    <insert id="saveCase" parameterType="xyz.zaijushou.zhx.sys.entity.DataCase">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into data_case
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="batchNo != null">batch_no,</if>
            <if test="client != null">client,</if>
            <if test="area != null">area,</if>
            <if test="caseTime != null">case_time,</if>
            <if test="caseType != null">case_type,</if>
            <if test="returnTime != null">return_time,</if>
            <if test="rate != null">rate,</if>
            <if test="remark != null">remark,</if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="batchNo != null">#{batchNo},</if>
            <if test="client != null">#{client},</if>
            <if test="area != null">#{area},</if>
            <if test="caseTime != null">#{caseTime},</if>
            <if test="caseType != null">#{caseType},</if>
            <if test="returnTime != null">#{returnTime},</if>
            <if test="rate != null">#{rate},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updateCase" parameterType="xyz.zaijushou.zhx.sys.entity.DataCase">
        update data_case
        set
        <trim suffixOverrides=",">
            <if test="batchNo != null">batch_no = #{batchNo},</if>
            <if test="client != null">client = #{client},</if>
            <if test="area != null">area = #{area},</if>
            <if test="caseTime != null">case_time = #{caseTime},</if>
            <if test="caseType != null">case_type = #{caseType},</if>
            <if test="returnTime != null">return_time = #{returnTime},</if>
            <if test="rate != null">rate = #{rate},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where
        id = #{id}
    </update>

    <!--通过Id删除数据信息-->
    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from data_case
        where id = #{id}
    </delete>

    <select id="pageDataCase" parameterType="xyz.zaijushou.zhx.sys.entity.DataCase" resultType="xyz.zaijushou.zhx.sys.entity.DataCase">
        select
        batch_no as batchNo,client,area,case_time as caseTime,case_type as caseType,return_time as returnTime,rate,remark,upload_time as uploadTime,status,create_user as createUser,real_return_time as realReturnTime
        from data_case
    </select>

    <select id="selectCaseById" parameterType="java.lang.Integer" resultType="xyz.zaijushou.zhx.sys.entity.DataCase">
        select
        batch_no as batchNo,client,area,case_time as caseTime,case_type as caseType,return_time as returnTime,rate,remark,upload_time as uploadTime,status,create_user as createUser,real_return_time as realReturnTime
        from data_case limit 1
    </select>
</mapper>