<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.zaijushou.zhx.sys.dao.DataCaseTelMapper">

    <!--插入数据信息-->
    <insert id="saveTel" parameterType="xyz.zaijushou.zhx.sys.entity.DataCaseTelEntity">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into data_case_tel
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="tel != null">tel,</if>
            <if test="caseId != null">case_id,</if>
            <if test="seqNo != null">seq_no,</if>
            <if test="archiveNo != null">archive_no,</if>
            <if test="cardNo != null">card_no,</if>
            <if test="identNo != null">ident_no,</if>
            <if test="caseDate != null">case_date,</if>
            <if test="name != null">name,</if>
            <if test="type != null">tel_type,</if>
            <if test="relation != null">relation,</if>
            <if test="remark != null">remark,</if>
            <if test="telStatusMsg != null">status,</if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="tel != null">#{tel},</if>
            <if test="caseId != null">#{caseId},</if>
            <if test="seqNo != null">#{caseId},</if>
            <if test="archiveNo != null">#{archiveNo},</if>
            <if test="cardNo != null">#{cardNo},</if>
            <if test="identNo != null">#{identNo},</if>
            <if test="caseDate != null">#{caseDate},</if>
            <if test="name != null">#{name},</if>
            <if test="type != null">#{type},</if>
            <if test="relation != null">#{relation},</if>
            <if test="remark != null">#{remark},</if>
            <if test="telStatusMsg != null">#{telStatusMsg},</if>
        </trim>
    </insert>

    <update id="updateTel" parameterType="xyz.zaijushou.zhx.sys.entity.DataCaseTelEntity">

        update data_case_tel set name =#{name},relation=#{relation},tel=#{tel},type=#{type},status=#{telStatusMsg},remark=#{remark}
        where id = #{id}

    </update>

    <!--通过Id删除数据信息-->
    <delete id="deleteTel" parameterType="xyz.zaijushou.zhx.sys.entity.DataCaseTelEntity">
        delete from data_case_tel
        where case_id = #{caseId}
    </delete>

    <select id="findAll" parameterType="xyz.zaijushou.zhx.sys.entity.DataCaseTelEntity" resultType="xyz.zaijushou.zhx.sys.entity.DataCaseTelEntity">
        select id,tel,case_id as caseId,seq_no as seqNo,archive_no as archiveNo, card_no as cardNo,ident_no as identNo,case_date as caseDate,
        name,tel_type as type,relation,remark,status as telStatusMsg
        from data_case_tel where case_id = #{caseId}
    </select>

    <update id="updateCaseTelStatus" parameterType="xyz.zaijushou.zhx.sys.entity.DataCaseTelEntity" >
        update data_case_tel set status=#{telStatusMsg} where id=#{id}
    </update>

</mapper>