<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.zaijushou.zhx.sys.dao.DataCaseSynergisticMapper">

    <sql id="colSql">
        s.id as id,
        s.case_id as 'dataCase.id',
        c.collect_status as 'dataCase.collectStatus',
        c.batch_no as 'dataCase.batchNo',
        c.client as 'dataCase.client',
        c.seq_no as 'dataCase.seqNo',
        c.ident_no as 'dataCase.identNo',
        c.card_no as 'dataCase.cardNo',
        c.card_type as 'dataCase.cardType',
        c.account as 'dataCase.account',
        c.currency_type as 'dataCase.currencyType',
        c.archive_no as 'dataCase.archiveNo',
        c.name as 'dataCase.name',
        c.money as 'dataCase.money',
        c.en_repay_amt as 'dataCase.enRepayAmt',
        c.principle as 'dataCase.principle',
        c.last_repay_date as 'dataCase.lastRepayDate',
        c.case_date as 'dataCase.caseDate',
        c.collection_user as 'dataCase.collectionUser.id',
        c.credit_line as 'dataCase.creditLine',
        c.home_address as 'dataCase.homeAddress',
        c.home_tel_number as 'dataCase.homeTelNumber',
        c.unit_name as 'dataCase.unitName',
        c.unit_address as 'dataCase.unitAddress',
        c.tel as 'dataCase.tel',
        c.unit_tel_number as 'dataCase.unitTelNumber',
        s.synergistic_type as 'synergisticType.id',
        s.apply_content as applyContent,
        s.apply_time as applyTime,
        c.odv as 'applyUser.id',
        c.latest_overdue_money as 'dataCase.latestOverdueMoney',
        c.apply_order_no as 'dataCase.applyOrderNo',
        s.synergistic_time as synergisticTime,
        s.synergistic_user as 'synergisticUser.id',
        s.synergistic_result as synergisticResult,
        s.synergistic_apply_status as 'applyStatus',
        s.synergistic_finish_status as 'finishStatus',
        s.remark as remark,
        s.create_user as 'createUser.id',
        s.update_user as 'updateUser.id',
        s.create_time as createTime,
        s.update_time as updateTime,
        s.delete_flag as deleteFlag
    </sql>

    <select id="pageSynergisticList" parameterType="xyz.zaijushou.zhx.sys.entity.DataCaseSynergisticEntity" resultType="xyz.zaijushou.zhx.sys.entity.DataCaseSynergisticEntity">
        select
        <include refid="colSql"/>
        from data_case_synergistic s
        left join data_case c on s.case_id = c.id
        where s.delete_flag = 0
        <if test="synergisticType != null and synergisticType.id != null and synergisticType.id != ''">
            and s.synergistic_type = #{synergisticType.id}
        </if>
        <if test="applyStatus != null and applyStatus != ''">
            and s.synergistic_apply_status = #{applyStatus}
        </if>
        <if test="finishStatus != null and finishStatus != ''">
            and s.synergistic_finish_status = #{finishStatus}
        </if>
        <if test="dataCase != null and dataCase.collectionArea != null and dataCase.collectionArea.id != null">
            and c.collection_area = #{dataCase.collectionArea.id}
        </if>
        <if test="dataCase != null and dataCase.clientFlag != null and dataCase.clientFlag != ''">
            and c.client in
            <foreach item="item" index="index" collection="dataCase.clients" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="dataCase != null and dataCase.batchNoFlag != null and dataCase.batchNoFlag != ''">
            and c.batch_no in
            <foreach item="item" index="index" collection="dataCase.batchNos" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="dataCase != null and dataCase.status != null">
            and c.status = #{dataCase.status}
        </if>
        <if test="dataCase != null and dataCase.moneyStart != null">
            and c.money >= #{dataCase.moneyStart}
        </if>
        <if test="dataCase != null and dataCase.moneyEnd != null">
            and c.money &lt;= #{dataCase.moneyEnd}
        </if>
        <if test="dataCase != null and dataCase.caseDateStart != null">
            and c.case_date >= #{dataCase.caseDateStart}
        </if>
        <if test="dataCase != null and dataCase.caseDateEnd != null">
            and c.case_date &lt;= #{dataCase.caseDateEnd}
        </if>
        <if test="dataCase != null and dataCase.collectStatus != 0">
            and c.collect_status = #{dataCase.collectStatus}
        </if>
        <if test="applyUser != null and applyUser.idsList != null and applyUser.idsList.size > 0">
            and s.apply_user in
            <foreach collection="applyUser.idsList" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="applyTimeStart != null">
            and s.apply_time >= #{applyTimeStart}
        </if>
        <if test="applyTimeEnd != null">
            and s.apply_time &lt; =#{applyTimeEnd}
        </if>

        <if test="dataCase != null and dataCase.names != null and dataCase.names != null and dataCase.names.length > 0">
            and c.name in
            <foreach collection="dataCase.names" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="dataCase != null and dataCase.seqNos != null and dataCase.seqNos != null and dataCase.seqNos.length > 0">
            and c.seq_no in
            <foreach collection="dataCase.seqNos" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="dataCase != null and dataCase.identNos != null and dataCase.identNos != null and dataCase.identNos.length > 0">
            and c.ident_no in
            <foreach collection="dataCase.identNos" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="dataCase != null and dataCase.accounts != null and dataCase.accounts != null and dataCase.accounts.length > 0">
            and c.account in
            <foreach collection="dataCase.accounts" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="dataCase != null and dataCase.id != null">
            and c.id = #{dataCase.id}
        </if>
        <if test="orderBy != null and orderBy != '' and sort != null and sort != ''">
            order by ${orderBy} ${sort}
        </if>
    </select>

    <select id="pageSynergisticExportList" parameterType="xyz.zaijushou.zhx.sys.entity.DataCaseSynergisticEntity" resultType="xyz.zaijushou.zhx.sys.entity.DataCaseSynergisticEntity">
        select
        <foreach collection ="exportKeyList" item="reddemCode" index= "index" separator =",">
            ${reddemCode}
        </foreach >
        from data_case_synergistic s
        left join data_case c on s.case_id = c.id
        where s.delete_flag = 0
        <if test="synergisticType != null and synergisticType.id != null and synergisticType.id != ''">
            and s.synergistic_type = #{synergisticType.id}
        </if>
        <if test="applyStatus != null and applyStatus != ''">
            and s.synergistic_apply_status = #{applyStatus}
        </if>
        <if test="finishStatus != null and finishStatus != ''">
            and s.synergistic_finish_status = #{finishStatus}
        </if>
        <if test="dataCase != null and dataCase.collectionArea != null and dataCase.collectionArea.id != null">
            and c.collection_area = #{dataCase.collectionArea.id}
        </if>
        <if test="dataCase != null and dataCase.clientFlag != null and dataCase.clientFlag != ''">
            and c.client in
            <foreach item="item" index="index" collection="dataCase.clients" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="dataCase != null and dataCase.batchNoFlag != null and dataCase.batchNoFlag != ''">
            and c.batch_no in
            <foreach item="item" index="index" collection="dataCase.batchNos" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="dataCase != null and dataCase.status != null">
            and c.status = #{dataCase.status}
        </if>
        <if test="dataCase != null and dataCase.moneyStart != null">
            and c.money >= #{dataCase.moneyStart}
        </if>
        <if test="dataCase != null and dataCase.moneyEnd != null">
            and c.money &lt;= #{dataCase.moneyEnd}
        </if>
        <if test="dataCase != null and dataCase.caseDateStart != null">
            and c.case_date >= #{dataCase.caseDateStart}
        </if>
        <if test="dataCase != null and dataCase.caseDateEnd != null">
            and c.case_date &lt;= #{dataCase.caseDateEnd}
        </if>
        <if test="dataCase != null and dataCase.collectStatus != 0">
            and c.collect_status = #{dataCase.collectStatus}
        </if>
        <if test="applyUser != null and applyUser.idsList != null and applyUser.idsList.size > 0">
            and s.apply_user in
            <foreach collection="applyUser.idsList" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="applyTimeStart != null">
            and s.apply_time >= #{applyTimeStart}
        </if>
        <if test="applyTimeEnd != null">
            and s.apply_time &lt; =#{applyTimeEnd}
        </if>

        <if test="dataCase != null and dataCase.names != null and dataCase.names != null and dataCase.names.length > 0">
            and c.name in
            <foreach collection="dataCase.names" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="dataCase != null and dataCase.seqNos != null and dataCase.seqNos != null and dataCase.seqNos.length > 0">
            and c.seq_no in
            <foreach collection="dataCase.seqNos" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="dataCase != null and dataCase.identNos != null and dataCase.identNos != null and dataCase.identNos.length > 0">
            and c.ident_no in
            <foreach collection="dataCase.identNos" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="dataCase != null and dataCase.accounts != null and dataCase.accounts != null and dataCase.accounts.length > 0">
            and c.account in
            <foreach collection="dataCase.accounts" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="dataCase != null and dataCase.id != null">
            and c.id = #{dataCase.id}
        </if>
        <if test="orderBy != null and orderBy != '' and sort != null and sort != ''">
            order by ${orderBy} ${sort}
        </if>
    </select>

    <select id="listSynergistic" parameterType="xyz.zaijushou.zhx.sys.entity.DataCaseSynergisticEntity" resultType="xyz.zaijushou.zhx.sys.entity.DataCaseSynergisticEntity">
        select
       <!-- <include refid="colSql"/>-->
        <foreach collection ="exportKeyList" item="reddemCode" index= "index" separator =",">
            ${reddemCode}
        </foreach >
        from data_case_synergistic s
        left join data_case c on s.case_id = c.id
        where s.delete_flag = 0
        <if test="synergisticType != null and synergisticType.id != null and synergisticType != ''">
            and s.synergistic_type = #{synergisticType.id}
        </if>
        <if test="applyStatus != null and applyStatus != ''">
            and s.synergistic_apply_status = #{applyStatus}
        </if>
        <if test="finishStatus != null and finishStatus != ''">
            and s.synergistic_finish_status = #{finishStatus}
        </if>
        <if test="dataCase != null and dataCase.collectionArea != null and dataCase.collectionArea.id != null">
            and c.collection_area = #{dataCase.collectionArea.id}
        </if>
        <if test="dataCase != null and dataCase.client != null and dataCase.client != ''">
            and c.client = #{dataCase.client}
        </if>
        <if test="dataCase != null and dataCase.batchNo != null and dataCase.batchNo != ''">
            and c.batch_no = #{dataCase.batchNo}
        </if>
        <if test="dataCase != null and dataCase.status != null">
            and c.status = #{dataCase.status}
        </if>
        <if test="dataCase != null and dataCase.moneyStart != null">
            and c.money >= #{dataCase.moneyStart}
        </if>
        <if test="dataCase != null and dataCase.moneyEnd != null">
            and c.money &lt;= #{dataCase.moneyEnd}
        </if>
        <if test="dataCase != null and dataCase.caseDateStart != null">
            and c.case_date >= #{dataCase.caseDateStart}
        </if>
        <if test="dataCase != null and dataCase.caseDateEnd != null">
            and c.case_date &lt;= #{dataCase.caseDateEnd}
        </if>
        <if test="dataCase != null and dataCase.collectStatus != 0">
            and c.collect_status = #{dataCase.collectStatus}
        </if>
        <if test="applyUser != null and applyUser.idsList != null and applyUser.idsList.size() > 0">
            and s.apply_user in
            <foreach collection="applyUser.idsList" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="applyTimeStart != null">
            and s.apply_time >= #{applyTimeStart}
        </if>
        <if test="applyTimeEnd != null">
            and s.apply_time &lt;= #{applyTimeEnd}
        </if>
        <if test="dataCase != null and dataCase.name != null and dataCase.name != ''">
            and c.name = #{dataCase.name}
        </if>
        <if test="dataCase != null and dataCase.seqNo != null and dataCase.seqNo != ''">
            and c.seq_no = #{dataCase.seqNo}
        </if>
        <if test="dataCase != null and dataCase.identNo != null and dataCase.identNo != ''">
            and c.ident_no = #{dataCase.identNo}
        </if>
        <if test="dataCase != null and dataCase.names != null and dataCase.names.length > 0">
            and c.name in
            <foreach collection="dataCase.names" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="dataCase != null and dataCase.seqNos != null and dataCase.seqNos.length > 0">
            and c.seq_no in
            <foreach collection="dataCase.seqNos" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="dataCase != null and dataCase.identNos != null and dataCase.identNos.length > 0">
            and c.ident_no in
            <foreach collection="dataCase.identNos" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="dataCase != null and dataCase.accounts != null and dataCase.accounts.length > 0">
            and c.account in
            <foreach collection="dataCase.accounts" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="ids != null and ids.length >0">
            and s.id in
            <foreach collection="ids" item="item" open="(" close=")">
                #{item}
            </foreach>
        </if>
    </select>

    <update id="updateApplyStatus" parameterType="xyz.zaijushou.zhx.sys.entity.DataCaseSynergisticEntity">
        update data_case_synergistic
        set synergistic_apply_status = #{applyStatus}
        where
              delete_flag = 0
              and id in
              <foreach collection="ids" item="item" open="(" close=")" separator=",">
                  #{item}
              </foreach>
    </update>

    <update id="updateFinishStatus" parameterType="xyz.zaijushou.zhx.sys.entity.DataCaseSynergisticEntity">
        update data_case_synergistic
        set synergistic_finish_status = #{finishStatus}
        where
        delete_flag = 0
        and id in
        <foreach collection="ids" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </update>

    <select id="countNum"  parameterType="xyz.zaijushou.zhx.sys.entity.DataCaseSynergisticEntity" resultType="xyz.zaijushou.zhx.sys.entity.DataCaseSynergisticEntity">

        select
        a.id as 'synergisticType.id', a.name as 'synergisticType.name', b.countNum as countNum from
        (select
        id, name
        from sys_data_dictionary
        where dictionary_id in (
            select id from sys_data_dictionary where name = '协催类型'
        )
        ) a
        left join
        (
        select count(id) as countNum,synergistic_type
        from data_case_synergistic
        where delete_flag = 0
        <if test="synergisticUser != null and synergisticUser.id != null">
            and synergistic_user = #{synergisticUser.id}
        </if>
        and synergistic_apply_status = #{applyStatus}
        and synergistic_finish_status = #{finishStatus}
        group by synergistic_type
        ) b
        on a.id = b.synergistic_type
    </select>

    <select id="listByIdsSet" parameterType="xyz.zaijushou.zhx.sys.entity.DataCaseSynergisticEntity" resultType="xyz.zaijushou.zhx.sys.entity.DataCaseSynergisticEntity">
        select id
        from data_case_synergistic
        where id in
        <foreach collection="idsSet" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>

    <update id="updateInfo" parameterType="xyz.zaijushou.zhx.sys.entity.DataCaseSynergisticEntity">
        update data_case_synergistic
        set
        <if test="synergisticContent != null and synergisticContent != ''">
            synergistic_content = #{synergisticContent},
        </if>
        synergistic_result = #{synergisticResult},
        <if test="synergisticUser != null and synergisticUser.id != null">
        synergistic_user = #{synergisticUser.id},
        </if>
        synergistic_time = #{synergisticTime},
        synergistic_apply_status = #{applyStatus},
        synergistic_finish_status = #{finishStatus}
        where id = #{id} and delete_flag = 0
    </update>

    <update id="updateInfoByCaseId" parameterType="xyz.zaijushou.zhx.sys.entity.DataCaseSynergisticEntity">
        update data_case_synergistic
        set
        <if test="applyContent != null and applyContent != ''">
            apply_content = #{applyContent},
        </if>
        synergistic_result = #{synergisticResult},
        <if test="synergisticUser != null and synergisticUser.id != null">
            synergistic_user = #{synergisticUser.id},
        </if>
        synergistic_time = #{synergisticTime},
        synergistic_apply_status = #{applyStatus},
        synergistic_finish_status = #{finishStatus}
        where case_id = #{dataCase.id} and delete_flag = 0
    </update>

    <!--插入数据信息-->
    <insert id="saveBatch" parameterType="xyz.zaijushou.zhx.sys.entity.DataCaseSynergyDetailEntity" >
        <selectKey keyProperty="id" order="AFTER"  resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert  into data_case_synergistic
        (
            case_id,
            apply_content,
            synergistic_result,
            synergistic_user,
            synergistic_time,
            synergistic_apply_status,
            synergistic_finish_status,
            delete_flag,
            create_time
        )
        values
        <foreach collection ="list" item="reddemCode" index= "index" separator =",">
            (
                #{reddemCode.dataCase.id},
                #{reddemCode.applyContent},
                #{reddemCode.synergisticResult},
                #{reddemCode.synergisticUser.id},
                #{reddemCode.synergisticTime},
                #{reddemCode.applyStatus},
                #{reddemCode.finishStatus},
                0,
                now()
            )
        </foreach >
    </insert>

    <!--插入数据信息-->
    <insert id="saveApply" parameterType="xyz.zaijushou.zhx.sys.entity.DataCaseSynergyDetailEntity" >
        <selectKey keyProperty="id" order="AFTER"  resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert  into data_case_synergistic
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="caseId != null">case_id,</if>
            <if test="synergisticType != null">synergistic_type,</if>
            <if test="applyer != null">apply_user,</if>
            <if test="applyContent != null">apply_content,</if>
            apply_time,
            synergistic_apply_status,
            synergistic_finish_status,
            delete_flag,
            create_time,
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="caseId != null">#{caseId},</if>
            <if test="synergisticType !=  null">#{synergisticType},</if>
            <if test="applyer != null">#{applyer},</if>
            <if test="applyContent != null">#{applyContent},</if>
            now(),
            0,
            0,
            0,
            now(),
        </trim>
    </insert>
    <!--插入数据信息-->
    <insert id="saveResult" parameterType="xyz.zaijushou.zhx.sys.entity.DataCaseSynergyDetailEntity" >
        <selectKey keyProperty="id" order="AFTER"  resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert  into data_case_synergistic
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="caseId != null">case_id,</if>
            <if test="applyer != null">apply_user,</if>
            <if test="synergisticType != null">synergistic_type,</if>
            <if test="synergisticUser != null">synergistic_user,</if>
            <if test="synergisticResult != null">synergistic_result,</if>
            synergistic_time,
            synergistic_apply_status,
            synergistic_finish_status,
            delete_flag,
            create_time,
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="caseId != null">#{caseId},</if>
            <if test="applyer != null">#{applyer},</if>
            <if test="synergisticType != null">#{synergisticType},</if>
            <if test="synergisticUser != null">#{synergisticUser},</if>
            <if test="synergisticResult != null">#{synergisticResult},</if>
            now(),
            1,
            0,
            0,
            now(),
        </trim>
    </insert>
</mapper>