<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.zaijushou.zhx.sys.dao.DataCaseMapper">

    <!--插入数据信息-->
    <insert id="saveArchive" parameterType="xyz.zaijushou.zhx.sys.entity.DataCaseEntity">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into data_case
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="batchNo != null">batch_no,</if>
            <if test="money != null">money,</if>
            <if test="balance != null">balance,</if>
            <if test="rate != null">rate,</if>
            <if test="remark != null">remark,</if>
            <if test="realReturnTime != null">real_return_time,</if>
            <if test="status != null">status,</if>
            delete_flag,
            create_time,
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="batchNo != null">#{batchNo},</if>
            <if test="money != null">#{money},</if>
            <if test="balance != null">#{balance},</if>
            <if test="rate != null">#{rate},</if>
            <if test="remark != null">#{remark},</if>
            <if test="realReturnTime != null">#{real_return_time},</if>
            <if test="status != null">#{status},</if>
            0,
            now(),
        </trim>
    </insert>

    <update id="updateArchive" parameterType="xyz.zaijushou.zhx.sys.entity.DataArchiveEntity">
        update data_case
        set
        <trim suffixOverrides=",">
            <if test="money != null">money = #{money},</if>
            <if test="balance != null">balance = #{balance},</if>
            <if test="status != null">status = #{status},</if>
        </trim>
        where
        id = #{id}
    </update>

    <!--通过Id删除数据信息-->
    <delete id="deleteById" parameterType="java.lang.Integer">
        update data_case set delete_flag =1
        where id = #{id}
    </delete>

    <select id="pageDataCase" parameterType="xyz.zaijushou.zhx.sys.entity.DataCaseEntity" resultType="xyz.zaijushou.zhx.sys.entity.DataCaseEntity">
        select
        id,money,balance,remark,status,create_time as createTime
        from data_case
        <where>
            <trim suffixOverrides=",">
                <if test="remark != null and remark!=''">
                    remark like CONCAT('%',#{remark},'%')
                </if>
            </trim>
        </where>
    </select>

    <!--催收模块-我的案件-列表查询-->
    <select id="pageCaseInfo" parameterType="xyz.zaijushou.zhx.sys.entity.DataCaseEntity" resultType="xyz.zaijushou.zhx.sys.entity.DataCaseEntity">
        select
        da.collect_status as collectStatus , da.account_age as accountAge ,da.seq_no as seqNo,da.case_date as caseDate,
        da.real_repay_date as realRepayDate ,da.name as name ,da.card_no as cardo,da.ident_no as identNo,
        da.money as money,da.balance as balance,da.over_days as overDays,da.pro_repay_date as proPepayDate,
        da.bank_amt as bankAmt,dc.collect_info as collectInfo
        from data_case da LEFT JOIN data_collection dc on da.id = dc.case_id
        <where>
            1 = 1
            <trim suffixOverrides=",">
--                 委托方
                <if test="client != null and client!=''">
                    and da.client = #{client}
                </if>
--                 批次号
                <if test="batchNo != null and batchNo!=''">
                    and da.batch_no = #{batchNo}
                </if>
--                 个案序列号
                <if test="seqNo != null and seqNo!=''">
                    and da.seq_no = #{seqNo}
                </if>
--                 姓名
                <if test="name != null and name!=''">
                    and da.name = #{name}
                </if>
 --                 证件号
                <if test="idenNo != null and idenNo!=''">
                    and da.iden_no = #{idenNo}
                </if>
 --                 逾期账龄
                <if test="accountAge != null and accountAge!=''">
                    and da.account_age = #{accountAge}
                </if>
--                 案件状态
                <if test="status != null and status!=''">
                    and da.status = #{status}
                </if>
--                 催收状态
                <if test="collectStatus != null and collectStatus!=''">
                    and da.collect_status = #{collectStatus}
                </if>
--                 案件类型
                <if test="caseType != null and caseType!=''">
                    and da.case_type = #{caseType}
                </if>
--                 标记颜色
                <if test="color != null and color!=''">
                    and da.color = #{color}
                </if>
--                 卡号
                <if test="cardNo != null and cardNo!=''">
                    and da.card_no = #{cardNo}
                </if>
--                 档案号
                <if test="archiveNo != null and archiveNo!=''">
                    and da.archive_no = #{archiveNo}
                </if>
--                 是否新分配（0-否，1-是）
                <if test="newCase != null and newCase!=''">
                    and da.new_case = #{newCase}
                </if>
--                 还款状态
                <if test="repayStatus != null and repayStatus!=''">
                    and da.repay_status = #{repayStatus}
                </if>
--                 减免状态
                <if test="reduceStatus != null and reduceStatus!=''">
                    and da.reduce_status = #{reduceStatus}
                </if>
--                 报备状态
                <if test="reportStatus != null and reportStatus!=''">
                    and da.report_status = #{reportStatus}
                </if>

                --                 委案日期
                <if test="caseDateStart != null and caseDateStart!=''">
                    <![CDATA[   and DATE_FORMAT(da.case_date, '%Y-%m-%d')>=  DATE_FORMAT(#{caseDateStart}, '%Y-%m-%d')   ]]>
                </if>
                <if test="caseDateEnd != null and caseDateEnd!=''" >
                    <![CDATA[   and DATE_FORMAT(da.case_date, '%Y-%m-%d')>=  DATE_FORMAT(#{caseDateEnd}, '%Y-%m-%d')   ]]>
                </if>
                --                 还款日期
                <if test="repayDateStart != null and repayDateStart!=''">
                    <![CDATA[   and DATE_FORMATd(da.repay_date, '%Y-%m-%d')>=  DATE_FORMAT(#{repayDateStart}, '%Y-%m-%d')   ]]>
                </if>
                <if test="repayDateEnd != null and repayDateEnd!=''" >
                    <![CDATA[   and DATE_FORMAT(da.repay_date, '%Y-%m-%d')>=  DATE_FORMAT(#{repayDateEnd}, '%Y-%m-%d')   ]]>
                </if>
                --                 委案金额
                <if test="moneyStart != null and moneyStart!=''">
                    <![CDATA[   and DATE_FORMAT(da.money, '%Y-%m-%d')>=  DATE_FORMAT(#{moneyStart}, '%Y-%m-%d')   ]]>
                </if>
                <if test="moneyEnd != null and moneyEnd!=''" >
                    <![CDATA[   and DATE_FORMAT(da.money, '%Y-%m-%d')>=  DATE_FORMAT(#{moneyEnd}, '%Y-%m-%d')   ]]>
                </if>

                --                 实际退案日
                <if test="realRepayDateStart != null and realRepayDateStart!=''">
                    <![CDATA[   and DATE_FORMAT(da.real_return_time, '%Y-%m-%d')>=  DATE_FORMAT(#{realRepayDateStart}, '%Y-%m-%d')   ]]>
                </if>
                <if test="realRepayDateEnd != null and realRepayDateEnd!=''" >
                    <![CDATA[   and DATE_FORMAT(da.real_return_time, '%Y-%m-%d')>=  DATE_FORMAT(#{realRepayDateEnd}, '%Y-%m-%d')   ]]>
                </if>
            </trim>
        </where>
    </select>

    <!--统计金额-->
    <select id="sumCaseMoney" parameterType="xyz.zaijushou.zhx.sys.entity.DataCaseEntity" resultType="xyz.zaijushou.zhx.sys.entity.DataCaseEntity">
        select
        id
        from data_case
        <where>
            <trim suffixOverrides=",">
                <if test="remark != null and remark!=''">
                    remark like CONCAT('%',#{remark},'%')
                </if>
            </trim>
        </where>
    </select>

</mapper>