<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.zaijushou.zhx.sys.dao.DataCollectionTelMapper">

    <!--插入数据信息-->
    <insert id="saveTel" parameterType="xyz.zaijushou.zhx.sys.entity.DataCollectionTelEntity">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT @@IDENTITY AS 'Identity'
        </selectKey>
        insert into data_collection_tel
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="tel != null">tel,</if>
            <if test="name != null">name,</if>
            <if test="status != null">status,</if>
            <if test="startTime != null">start_time,</if>
            <if test="endTime != null">end_time,</if>
            <if test="collectionId != null">collection_id,</if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="tel != null">#{tel},</if>
            <if test="name != null">#{name},</if>
            <if test="startTime != null">#{startTime},</if>
            <if test="endTime != null">#{endTime},</if>
            <if test="status != null">#{status},</if>
            <if test="collectionId != null">#{collectionId},</if>
        </trim>
    </insert>



    <!--通过Id删除数据信息-->
    <delete id="deleteTel" parameterType="xyz.zaijushou.zhx.sys.entity.DataCollectionTelEntity">
        delete from data_collection_tel
        where collection_id = #{collectionId}
    </delete>

    <select id="findAll" parameterType="xyz.zaijushou.zhx.sys.entity.DataCollectionTelEntity" resultType="xyz.zaijushou.zhx.sys.entity.DataCollectionTelEntity">
        select id,tel,collection_id
        from data_collection_tel where collection_id = #{collectionId}
    </select>

    <!--统计拨打电话量，可能存在没有接通的-->
    <select id="statisticsCollectionSum" parameterType="xyz.zaijushou.zhx.sys.entity.CollectionStatistic" resultType="xyz.zaijushou.zhx.sys.entity.CollectionStatistic">
        select dc.collect_time as collectTime
        from data_collection dc LEFT JOIN data_case da on dc.case_id = da.id
        where dc.delete_flag = 0
        <if test="dateStart != null">
            and dc.collect_time &gt;= convert(datetime,#{dateStart}, 20)
        </if>
        <if test="dateEnd != null" >
            and dc.collect_time &lt;= convert(datetime,#{dateEnd}, 20)
        </if>
        <if test="monthStart != null and monthStart!=''">
            <![CDATA[   and dc.collect_time>=  convert(datetime,#{monthStart}, 20)   ]]>
        </if>
        <if test="monthEnd != null and monthEnd!=''" >
            <![CDATA[   and dc.collect_time<=  convert(datetime,#{monthEnd}, 20)  ]]>
        </if>
        <if test="dateSearchStart != null">
            <![CDATA[   and dc.collect_time>=  convert(datetime,#{dateSearchStart}, 20)  ]]>
        </if>
        <if test="dateSearchEnd != null">
            <![CDATA[   and dc.collect_time<=  convert(datetime,#{dateSearchEnd}, 20)   ]]>
        </if>

        <if test="odv != null and odv!=''">
            AND da.odv =#{odv}
        </if>
    </select>

    <!--统计接通电话量-->
    <select id="statisticsCollectionCon" parameterType="xyz.zaijushou.zhx.sys.entity.CollectionStatistic" resultType="xyz.zaijushou.zhx.sys.entity.CollectionStatistic">
        select dc.collect_time as collectTime
        from data_collection dc LEFT JOIN data_case da on dc.case_id = da.id
        where dc.delete_flag = 0 and dc.result in (select id from sys_data_dictionary where dictionary_id = 14 and sys_flag=1 )
        <if test="dateStart != null">
            and dc.collect_time &gt;= convert(datetime,#{dateStart}, 20)
        </if>
        <if test="dateEnd != null" >
            and dc.collect_time &lt;= convert(datetime,#{dateEnd}, 20)
        </if>
        <if test="monthStart != null and monthStart!=''">
            <![CDATA[   and dc.collect_time>=  convert(datetime,#{monthStart}, 20)   ]]>
        </if>
        <if test="monthEnd != null and monthEnd!=''" >
            <![CDATA[   and dc.collect_time<=  convert(datetime,#{monthEnd}, 20)  ]]>
        </if>
        <if test="dateSearchStart != null">
            <![CDATA[   and dc.collect_time>=  convert(datetime,#{dateSearchStart}, 20)  ]]>
        </if>
        <if test="dateSearchEnd != null">
            <![CDATA[   and dc.collect_time<=  convert(datetime,#{dateSearchEnd}, 20)   ]]>
        </if>

        <if test="odv != null and odv!=''">
            AND da.odv = #{odv}
        </if>
    </select>

    <!--拨打电话存在的案件数量-->
    <select id="statisticsCollectionCase" parameterType="xyz.zaijushou.zhx.sys.entity.CollectionStatistic" resultType="xyz.zaijushou.zhx.sys.entity.CollectionStatistic">
        select dc.collect_time as collectTime
        from data_collection dc LEFT JOIN data_case da on dc.case_id = da.id
        where dc.delete_flag = 0
        <if test="dateStart != null">
            and dc.collect_time &gt;= convert(datetime,#{dateStart}, 20)
        </if>
        <if test="dateEnd != null" >
            and dc.collect_time &lt;= convert(datetime,#{dateEnd}, 20)
        </if>
        <if test="monthStart != null and monthStart!=''">
            <![CDATA[   and dc.collect_time>=  convert(datetime,#{monthStart}, 20)   ]]>
        </if>
        <if test="monthEnd != null and monthEnd!=''" >
            <![CDATA[   and dc.collect_time<=  convert(datetime,#{monthEnd}, 20)  ]]>
        </if>
        <if test="dateSearchStart != null">
            <![CDATA[   and dc.collect_time>=  convert(datetime,#{dateSearchStart}, 20)  ]]>
        </if>
        <if test="dateSearchEnd != null">
            <![CDATA[   and dc.collect_time<=  convert(datetime,#{dateSearchEnd}, 20)   ]]>
        </if>
        <if test="odv != null and odv!=''">
            AND da.odv = #{odv}
        </if>
    </select>

    <select id="pageCollectionDay" parameterType="xyz.zaijushou.zhx.sys.entity.CollectionStatistic" resultType="xyz.zaijushou.zhx.sys.entity.StatisticReturn">
        SELECT
        distinct(da.odv) as dOdv
        from
        data_collection dct LEFT JOIN data_case da on dct.case_id = da.id
        where dct.delete_flag = 0

        <if test="dateStart != null">
            and dct.collect_time&gt;= convert(datetime,#{dateStart}, 20)
        </if>
        <if test="dateEnd != null" >
            and dct.collect_time &lt;= convert(datetime,#{dateEnd}, 20)
        </if>
        <if test="area != null and area!=''">
            AND da.area = #{area}
        </if>
        <if test="client != null and client!=''">
            AND da.client = #{client}
        </if>
        <if test="odvAttr != null">
            <foreach collection="odvAttr" item="item" separator="," open="and da.odv in (" close=")">
                #{item}
            </foreach>
        </if>
    </select>

    <select id="pageCollectionMonth" parameterType="xyz.zaijushou.zhx.sys.entity.CollectionStatistic" resultType="xyz.zaijushou.zhx.sys.entity.StatisticReturn">
        SELECT
        distinct(da.odv) as dOdv
        from
        data_collection dct LEFT JOIN data_case da on dct.case_id = da.id
        where dct.delete_flag = 0
        <if test="monthStart != null and monthStart!=''">
            <![CDATA[   and dct.collect_time>=  convert(datetime,#{monthStart}, 20)  ]]>
        </if>
        <if test="monthEnd != null and monthEnd!=''" >
            <![CDATA[   and dct.collect_time<=  convert(datetime,#{monthEnd}, 20)  ]]>
        </if>
        <if test="area != null and area!=''">
            AND da.area = #{area}
        </if>
        <if test="client != null and client!=''">
            AND da.client = #{client}
        </if>
        <if test="odvAttr != null">
            <foreach collection="odvAttr" item="item" separator="," open="and da.odv in (" close=")">
                #{item}
            </foreach>
        </if>
    </select>

    <select id="pageCollectionDayAction" parameterType="xyz.zaijushou.zhx.sys.entity.CollectionStatistic" resultType="xyz.zaijushou.zhx.sys.entity.CollectionStatistic">
        SELECT
        distinct(da.odv)
        from
        data_collection dct LEFT JOIN data_case da on dct.case_id = da.id
        where dct.delete_flag = 0
        <if test="dateStart != null">
            and dct.collect_time &gt;= convert(datetime,#{dateStart}, 20)
        </if>
        <if test="dateEnd != null" >
            and dct.collect_time &lt;=  convert(datetime,#{dateEnd}, 20)
        </if>
        <if test="area != null and area!=''">
            AND da.area = #{area}
        </if>
        <if test="client != null and client!=''">
            AND da.client= #{client}
        </if>
        <if test="odvAttr != null">
            <foreach collection="odvAttr" item="item" separator="," open="and da.odv in (" close=")">
                #{item}
            </foreach>
        </if>
    </select>

    <select id="countCollectionDayAction" parameterType="xyz.zaijushou.zhx.sys.entity.CollectionStatistic" resultType="xyz.zaijushou.zhx.sys.entity.CollectionStatistic">
        SELECT
        dct.result as collectionResult,COUNT(result) as countResult
        from
        data_collection dct LEFT JOIN data_case da on dct.case_id = da.id
        where dct.delete_flag = 0
        <if test="odv != null and odv!=''">
            AND da.odv = #{odv}
        </if>
        <if test="dateStart != null">
            and dct.collect_time &gt;= convert(datetime,#{dateStart}, 20)
        </if>
        <if test="dateEnd != null" >
            and dct.collect_time &lt;= convert(datetime,#{dateEnd}, 20)
        </if>
        GROUP BY result
    </select>

    <select id="pageCollectionTelInfo" parameterType="xyz.zaijushou.zhx.sys.entity.CollectionStatistic" resultType="xyz.zaijushou.zhx.sys.entity.CollectionStatistic">
        SELECT
        start_time as phoneTime,name as targetName,tel as phone,type as connectionType,content,result as collectionResult,
        repay_time as repayTime,repay_amt as repayAmtP,odv
        from data_collection_tel dct
        where dct.delete_flag = 0
        <if test="dateStart != null">
            and dct.start_time &gt;= convert(datetime,#{dateStart}, 20)
        </if>
        <if test="dateEnd != null" >
            and dct.start_time &lt;= convert(datetime,#{dateEnd}, 20)
        </if>
        <if test="odv != null and odv!=''">
            AND odv = #{odv}
        </if>
        <if test="collectionResult != null and collectionResult!=''">
            AND result = #{collectionResult}
        </if>
    </select>
</mapper>