<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.zaijushou.zhx.sys.dao.DataCollectionTelMapper">

    <!--插入数据信息-->
    <insert id="saveTel" parameterType="xyz.zaijushou.zhx.sys.entity.DataCollectionTelEntity">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT @@IDENTITY AS 'Identity'
        </selectKey>
        insert into data_collection_tel
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userData != null">userData,</if>
            <if test="remark != null">remark,</if>
            collect_time,
            timeLength,
            create_time
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userData != null">#{userData},</if>
            <if test="remark != null">#{remark},</if>
            #{collectTime},
            #{timeLength},
            GETDATE()
        </trim>
    </insert>

    <update id="updateCollect" parameterType="xyz.zaijushou.zhx.sys.entity.DataCollectionTelEntity" >
        update data_collection set is_enable=#{isEnable}
        where seq = #{userData}
    </update>

    <!--通过Id删除数据信息-->
    <delete id="deleteTel" parameterType="xyz.zaijushou.zhx.sys.entity.DataCollectionTelEntity">
        delete from data_collection_tel
        where id = #{id}
    </delete>

    <select id="findAll" parameterType="xyz.zaijushou.zhx.sys.entity.DataCollectionTelEntity" resultType="xyz.zaijushou.zhx.sys.entity.DataCollectionTelEntity">
        select top 1 id,userData,timeLength,collect_time as collectTime
        from data_collection_tel where userData = #{userData}
    </select>

    <!--统计拨打电话量，可能存在没有接通的-->
    <select id="statisticsCollectionSum" parameterType="xyz.zaijushou.zhx.sys.entity.CollectionStatistic" resultType="xyz.zaijushou.zhx.sys.entity.CollectionStatistic">
        select dc.collect_time as collectTime
        from data_collection dc LEFT JOIN data_case da on dc.case_id=da.id
        <where>
            dc.result in (94,95)
        <if test="dateStart != null">
            and dc.collect_time &gt;= convert(datetime,#{dateStart}, 20)
        </if>
        <if test="dateEnd != null" >
            and dc.collect_time &lt;= convert(datetime,#{dateEnd}, 20)
        </if>
        <if test="monthStart != null and monthStart!=''">
            <![CDATA[   and dc.collect_time>=  convert(datetime,#{monthStart}, 20)   ]]>
        </if>
        <if test="monthEnd != null and monthEnd!=''" >
            <![CDATA[   and dc.collect_time<=  convert(datetime,#{monthEnd}, 20)  ]]>
        </if>
        <if test="dateSearchStart != null">
            <![CDATA[   and dc.collect_time>=  convert(datetime,#{dateSearchStart}, 20)  ]]>
        </if>
        <if test="dateSearchEnd != null">
            <![CDATA[   and dc.collect_time<=  convert(datetime,#{dateSearchEnd}, 20)   ]]>
        </if>

        <if test="odv != null and odv!=''">
            AND dc.odv =#{odv}
        </if>

            <if test="areas != null and areas.length > 0 ">
                and da.area in
                <foreach item="item" index="index" collection="areas" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>

            <if test="clients != null and clients.length > 0 ">
                and da.client in
                <foreach item="item" index="index" collection="clients" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

    <!--统计接通电话量-->
    <select id="statisticsCollectionCon" parameterType="xyz.zaijushou.zhx.sys.entity.CollectionStatistic" resultType="xyz.zaijushou.zhx.sys.entity.CollectionStatistic">
        select dc.collect_time as collectTime,dc.odv as odv
        from data_collection dc LEFT JOIN data_case da on dc.case_id=da.id
        where dc.result=95
        <if test="dateStart != null">
            and dc.collect_time &gt;= convert(datetime,#{dateStart}, 20)
        </if>
        <if test="dateEnd != null" >
            and dc.collect_time &lt;= convert(datetime,#{dateEnd}, 20)
        </if>
        <if test="monthStart != null and monthStart!=''">
            <![CDATA[   and dc.collect_time>=  convert(datetime,#{monthStart}, 20)   ]]>
        </if>
        <if test="monthEnd != null and monthEnd!=''" >
            <![CDATA[   and dc.collect_time<=  convert(datetime,#{monthEnd}, 20)  ]]>
        </if>
        <if test="dateSearchStart != null">
            <![CDATA[   and dc.collect_time>=  convert(datetime,#{dateSearchStart}, 20)  ]]>
        </if>
        <if test="dateSearchEnd != null">
            <![CDATA[   and dc.collect_time<=  convert(datetime,#{dateSearchEnd}, 20)   ]]>
        </if>

        <if test="odv != null and odv!=''">
            AND dc.odv = #{odv}
        </if>
        <if test="areas != null and areas.length > 0 ">
            and da.area in
            <foreach item="item" index="index" collection="areas" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>

        <if test="clients != null and clients.length > 0 ">
            and da.client in
            <foreach item="item" index="index" collection="clients" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </select>

    <!--拨打电话存在的案件数量-->
    <select id="statisticsCollectionCase" parameterType="xyz.zaijushou.zhx.sys.entity.CollectionStatistic" resultType="xyz.zaijushou.zhx.sys.entity.CollectionStatistic">
        select  da.id,dc.collect_time as collectTime
        from data_collection dc , data_case da
        <where>
             dc.case_id = da.id
        <if test="dateStart != null">
            and dc.collect_time &gt;= convert(datetime,#{dateStart}, 20)
        </if>
        <if test="dateEnd != null" >
            and dc.collect_time &lt;= convert(datetime,#{dateEnd}, 20)
        </if>
        <if test="monthStart != null and monthStart!=''">
            <![CDATA[   and dc.collect_time>=  convert(datetime,#{monthStart}, 20)   ]]>
        </if>
        <if test="monthEnd != null and monthEnd!=''" >
            <![CDATA[   and dc.collect_time<=  convert(datetime,#{monthEnd}, 20)  ]]>
        </if>
        <if test="dateSearchStart != null">
            <![CDATA[   and dc.collect_time>=  convert(datetime,#{dateSearchStart}, 20)  ]]>
        </if>
        <if test="dateSearchEnd != null">
            <![CDATA[   and dc.collect_time<=  convert(datetime,#{dateSearchEnd}, 20)   ]]>
        </if>
        <if test="odv != null and odv!=''">
            AND dc.odv = #{odv}
        </if>
            <if test="areas != null and areas.length > 0 ">
                and da.area in
                <foreach item="item" index="index" collection="areas" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>

            <if test="clients != null and clients.length > 0 ">
                and da.client in
                <foreach item="item" index="index" collection="clients" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

    <select id="pageCollectionDay" parameterType="xyz.zaijushou.zhx.sys.entity.CollectionStatistic" resultType="xyz.zaijushou.zhx.sys.entity.StatisticReturn">
        SELECT
        distinct(da.odv) as dOdv
        from
        data_collection dct LEFT JOIN data_case da on dct.case_id = da.id
        where dct.delete_flag = 0

        <if test="dateStart != null">
            and dct.collect_time&gt;= convert(datetime,#{dateStart}, 20)
        </if>
        <if test="dateEnd != null" >
            and dct.collect_time &lt;= convert(datetime,#{dateEnd}, 20)
        </if>
        <if test="area != null and area!=''">
            AND da.area = #{area}
        </if>
        <if test="client != null and client!=''">
            AND da.client = #{client}
        </if>
        <if test="odvAttr != null">
            <foreach collection="odvAttr" item="item" separator="," open="and da.odv in (" close=")">
                #{item}
            </foreach>
        </if>
    </select>

    <select id="pageCollectionMonth" parameterType="xyz.zaijushou.zhx.sys.entity.CollectionStatistic" resultType="xyz.zaijushou.zhx.sys.entity.StatisticReturn">
        SELECT
        distinct(da.odv) as dOdv
        from
        data_collection dct LEFT JOIN data_case da on dct.case_id = da.id
        where dct.delete_flag = 0
        <if test="monthStart != null and monthStart!=''">
            <![CDATA[   and dct.collect_time>=  convert(datetime,#{monthStart}, 20)  ]]>
        </if>
        <if test="monthEnd != null and monthEnd!=''" >
            <![CDATA[   and dct.collect_time<=  convert(datetime,#{monthEnd}, 20)  ]]>
        </if>
        <if test="area != null and area!=''">
            AND da.area = #{area}
        </if>
        <if test="client != null and client!=''">
            AND da.client = #{client}
        </if>
        <if test="odvAttr != null">
            <foreach collection="odvAttr" item="item" separator="," open="and da.odv in (" close=")">
                #{item}
            </foreach>
        </if>

        <if test="areas != null and areas.length > 0 ">
            and dct.area in
            <foreach item="item" index="index" collection="areas" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>

        <if test="clients != null and clients.length > 0 ">
            and dct.client in
            <foreach item="item" index="index" collection="clients" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </select>

    <select id="pageCollectionDayAction" parameterType="xyz.zaijushou.zhx.sys.entity.CollectionStatistic" resultType="xyz.zaijushou.zhx.sys.entity.CollectionStatistic">
        SELECT
        distinct(da.odv)
        from
        data_collection dct LEFT JOIN data_case da on dct.case_id = da.id
        where dct.delete_flag = 0
        <if test="dateStart != null">
            and dct.collect_time &gt;= convert(datetime,#{dateStart}, 20)
        </if>
        <if test="dateEnd != null" >
            and dct.collect_time &lt;=  convert(datetime,#{dateEnd}, 20)
        </if>
        <if test="area != null and area!=''">
            AND da.area = #{area}
        </if>
        <if test="client != null and client!=''">
            AND da.client= #{client}
        </if>
        <if test="odvAttr != null">
            <foreach collection="odvAttr" item="item" separator="," open="and da.odv in (" close=")">
                #{item}
            </foreach>
        </if>
        <if test="areas != null and areas.length > 0 ">
            and dct.area in
            <foreach item="item" index="index" collection="areas" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>

        <if test="clients != null and clients.length > 0 ">
            and dct.client in
            <foreach item="item" index="index" collection="clients" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="areas != null and areas.length > 0 ">
            and dct.area in
            <foreach item="item" index="index" collection="areas" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>

        <if test="clients != null and clients.length > 0 ">
            and dct.client in
            <foreach item="item" index="index" collection="clients" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </select>

    <select id="countCollectionDayAction" parameterType="xyz.zaijushou.zhx.sys.entity.CollectionStatistic" resultType="xyz.zaijushou.zhx.sys.entity.CollectionStatistic">
        SELECT
        dct.result as collectionResult,COUNT(result) as countResult
        from
        data_collection dct LEFT JOIN data_case da on dct.case_id = da.id
        where dct.delete_flag = 0
        <if test="odv != null and odv!=''">
            AND da.odv = #{odv}
        </if>
        <if test="dateStart != null">
            and dct.collect_time &gt;= convert(datetime,#{dateStart}, 20)
        </if>
        <if test="dateEnd != null" >
            and dct.collect_time &lt;= convert(datetime,#{dateEnd}, 20)
        </if>
        <if test="areas != null and areas.length > 0 ">
            and dct.area in
            <foreach item="item" index="index" collection="areas" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>

        <if test="clients != null and clients.length > 0 ">
            and dct.client in
            <foreach item="item" index="index" collection="clients" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="areas != null and areas.length > 0 ">
            and dct.area in
            <foreach item="item" index="index" collection="areas" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>

        <if test="clients != null and clients.length > 0 ">
            and dct.client in
            <foreach item="item" index="index" collection="clients" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        GROUP BY result
    </select>

    <select id="pageCollectionTelInfo" parameterType="xyz.zaijushou.zhx.sys.entity.CollectionStatistic" resultType="xyz.zaijushou.zhx.sys.entity.CollectionStatistic">
        SELECT
        dct.collect_time as phoneTime,dct.target_name as targetName,dct.mobile as phone,dct.tel_type as connectionType,dct.collect_info as content,dct.result as collectionResult,
        dct.repay_time as repayTime,dct.repay_amt as repayAmtP,da.odv
        from data_collection dct  LEFT JOIN data_case da on dct.case_id = da.id
        where dct.delete_flag = 0
        <if test="dateStart != null">
            and dct.collect_time &gt;= convert(datetime,#{dateStart}, 20)
        </if>
        <if test="dateEnd != null" >
            and dct.collect_time &lt;= convert(datetime,#{dateEnd}, 20)
        </if>
        <if test="odv != null and odv!=''">
            AND da.odv = #{odv}
        </if>
        <if test="collectionResult != null and collectionResult!=''">
            AND dct.result = #{collectionResult}
        </if>
        <if test="areas != null and areas.length > 0 ">
            and da.area in
            <foreach item="item" index="index" collection="areas" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>

        <if test="clients != null and clients.length > 0 ">
            and da.client in
            <foreach item="item" index="index" collection="clients" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </select>
    <select id="pageDetails" resultType="xyz.zaijushou.zhx.sys.entity.CollectionDetailsDTO">
        SELECT dc.collect_time as collectTime ,dc.target_name as targetName,
                dc.mobile as mobile,d2.name as telType,dc.collect_info as collectInfo
               ,d.name as result,dc.repay_time as repayTime,dc.repay_amt as repayAmt,u.username as odv
        from data_collection dc
        left join sys_user u on dc.odv=u.id
        left join sys_data_dictionary d on dc.result=d.id
        left join sys_data_dictionary d2 on dc.tel_type=d2.id
        LEFT JOIN data_case da on dc.case_id=da.id
        <where>
            <choose>
                <when test="status %2==1">
                    dc.result = 95
                </when>
                <otherwise>
                    dc.result in (94,95)
                </otherwise>
            </choose>
        <if test="dateSearchStart != null">
            <![CDATA[   and dc.collect_time>=  convert(datetime,#{dateSearchStart}, 20)  ]]>
        </if>
        <if test="dateSearchEnd != null">
            <![CDATA[   and dc.collect_time<=  convert(datetime,#{dateSearchEnd}, 20)   ]]>
        </if>

        <if test="odv != null and odv!=''">
            AND dc.odv = #{odv}
        </if>
        <if test="dateStart!= null">
            <![CDATA[  and  dbo.fnFormatDate(dc.collect_time, 'HH:ii:ss') >=dbo.fnFormatDate(#{dateStart}, 'HH:ii:ss') ]]>
        </if>
        <if test="dateEnd!= null">
            <![CDATA[   and dbo.fnFormatDate(dc.collect_time, 'HH:ii:ss') <= dbo.fnFormatDate(#{dateEnd}, 'HH:ii:ss')  ]]>
        </if>
        </where>
    </select>
</mapper>