<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.zaijushou.zhx.sys.dao.DataCaseBankReconciliationMapper">

    <sql id="colSql">
        b.id as id,
        b.data_case as [dataCase.id],
        b.cp_money as cpMoney,
        b.cp_date as cpDate,
        b.repay_user as repayUser,
        b.repay_type as repayType,
        b.submit_user as [submitUser.id],
        b.submit_time as submitTime,
        b.status as status,
        c.batch_no as [dataCase.batchNo],
        c.card_no as [dataCase.cardNo],
        c.ident_no as [dataCase.identNo],
        c.name as [dataCase.name],
        c.seq_no as [dataCase.seqNo],
        c.client as [dataCase.client],
        c.money as [dataCase.money],
        c.en_repay_amt as [dataCase.enRepayAmt],
        c.balance as [dataCase.balance],
        c.card_type as [dataCase.cardType],
        c.account as [dataCase.account],
        c.currency_type as [dataCase.currencyType],
        c.archive_no as [dataCase.archiveNo],
        b.remark as remark,
        b.create_user as [createUser.id],
        b.update_user as [updateUser.id],
        b.create_time as createTime,
        b.update_time as updateTime,
        b.delete_flag as deleteFlag
    </sql>

    <select id="pageData" parameterType="xyz.zaijushou.zhx.sys.entity.DataCaseBankReconciliationEntity" resultType="xyz.zaijushou.zhx.sys.entity.DataCaseBankReconciliationEntity">
        select
        <include refid="colSql"/>
        from data_case_bank_reconciliation b
        left join data_case c on b.data_case = c.id
        where b.delete_flag = 0
        <if test="status != null and status != ''">
            and b.status = #{status}
        </if>

        <if test="dataCase != null and dataCase.collectionArea != null and dataCase.collectionArea.id != null">
            and c.collection_area = #{dataCase.collectionArea.id}
        </if>
        <if test="dataCase != null and dataCase.client != null">
            and c.client = #{dataCase.client}
        </if>
        <if test="dataCase != null and dataCase.batchNo != null">
            and c.batch_no = #{dataCase.batchNo}
        </if>
        <if test="dataCase != null and dataCase.dept != null">
            and c.dept = #{dataCase.dept}
        </if>
        <if test="dataCase != null and dataCase.name != null">
            and c.name = #{dataCase.name}
        </if>
        <if test="dataCase != null and dataCase.collectionUser != null and dataCase.collectionUser.id != null">
            and c.collection_user = #{dataCase.collectionUser.id}
        </if>
        <if test="dataCase != null and dataCase.province != null and dataCase.province.name != null">
            and c.province = #{dataCase.province.name}
        </if>
        <if test="dataCase != null and dataCase.city != null and dataCase.city.name != null">
            and c.city = #{dataCase.city.name}
        </if>
        <if test="dataCase != null and dataCase.county != null and dataCase.county.name != null">
            and c.county = #{dataCase.county.name}
        </if>
        <if test="dataCase != null and dataCase.status != null">
            and c.status = #{dataCase.status}
        </if>
        <if test="dataCase != null and dataCase.overdueBillTime != null">
            and c.overdue_bill_time = #{dataCase.overdueBillTime}
        </if>
        <if test="dataCase != null and dataCase.collectStatus != null and '' != dataCase.collectStatusMsg">
            and c.collect_status = #{dataCase.collectStatus}
        </if>
        <if test="dataCase != null and dataCase.caseDateStart != null">
            and c.case_date >= #{dataCase.caseDateStart}
        </if>
        <if test="dataCase != null and dataCase.caseDateEnd != null">
            and c.case_date &lt;= #{dataCase.caseDateEnd}
        </if>
        <if test="dataCase != null and dataCase.expectStartTime != null">
            and c.expect_time >= #{dataCase.expectStartTime}
        </if>
        <if test="dataCase != null and dataCase.expectEndTime != null">
            and c.expect_time &lt;= #{dataCase.expectEndTime}
        </if>
        <if test="dataCase != null and dataCase.caseType != null">
            and c.case_type = #{dataCase.caseType}
        </if>

        <if test="submitTimeStart != null">
            and b.submit_time >= #{submitTimeStart}
        </if>
        <if test="submitTimeEnd != null">
            and b.submit_time &lt;= #{submitTimeEnd}
        </if>
        <if test="dataCase != null and dataCase.names != null and dataCase.names.length > 0">
            and c.name in
            <foreach collection="dataCase.names" item="item1" open="(" close=")" separator=",">
                #{item1}
            </foreach>
        </if>
        <if test="dataCase != null and dataCase.seqNos != null and dataCase.seqNos.length > 0">
            and c.seq_no in
            <foreach collection="dataCase.seqNos" item="item2" open="(" close=")" separator=",">
                '${item2}'
            </foreach>
        </if>
        <if test="dataCase != null and dataCase.cardNos != null and dataCase.cardNos.length > 0">
            and c.card_no in
            <foreach collection="dataCase.cardNos" item="item2" open="(" close=")" separator=",">
                '${item2}'
            </foreach>
        </if>
        <if test="dataCase != null and dataCase.identNos != null and dataCase.identNos.length > 0">
            and c.ident_no in
            <foreach collection="dataCase.identNos" item="item3" open="(" close=")" separator=",">
                '${item3}'
            </foreach>
        </if>
        <if test="dataCase != null and dataCase.accounts != null and dataCase.accounts.length > 0">
            and c.account in
            <foreach collection="dataCase.accounts" item="item4" open="(" close=")" separator=",">
                '${item4}'
            </foreach>
        </if>

        <if test="dataCase != null and dataCase.collectionArea != null and dataCase.collectionArea.ids != null
                and dataCase.collectionArea.ids.length > 0">
            and c.collection_area in
            <foreach item="item" index="index" collection="dataCase.collectionArea.ids" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>

        <if test="dataCase != null and dataCase.batchNos != null
                and dataCase.batchNos.length > 0">
            and c.batch_no in
            <foreach item="item" index="index" collection="dataCase.batchNos" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>

        <if test="dataCase != null and dataCase.clients != null
                and dataCase.clients.length > 0">
            and c.client in
            <foreach item="item" index="index" collection="dataCase.clients" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>

        <if test="dataCase != null and dataCase.collectionUser != null and dataCase.collectionUser.ids != null
                and dataCase.collectionUser.ids.length > 0">
            and b.data_case in
            (
            select data_case from data_case_repay_record where  collect_user in
            <foreach item="item" index="index" collection="dataCase.collectionUser.ids" open="(" separator="," close=")">
                #{item}
            </foreach>
            )
        </if>

        <if test="dataCase != null and dataCase.statuss != null
                and dataCase.statuss.length > 0">
            and c.status in
            <foreach item="item" index="index" collection="dataCase.statuss" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>

        <if test="dataCase != null and dataCase.accountAges != null
                and dataCase.accountAges.length > 0">
            and c.account_age in
            <foreach item="item" index="index" collection="dataCase.accountAges" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>

        <if test="dataCase != null and dataCase.collectStatuss != null
                and dataCase.collectStatuss.length > 0">
            and c.collect_status in
            <foreach item="item" index="index" collection="dataCase.collectStatuss" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>


        <if test="dataCase != null and dataCase.caseTypes != null
                and dataCase.collectStatuss.length > 0">
            and c.case_type in
            <foreach item="item" index="index" collection="dataCase.caseTypes" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>

        <if test="orderBy != null and orderBy != '' and sort != null and sort != ''">
            order by ${orderBy} ${sort}
        </if>

    </select>

    <select id="pageDataListExport" parameterType="xyz.zaijushou.zhx.sys.entity.DataCaseBankReconciliationEntity" resultType="xyz.zaijushou.zhx.sys.entity.DataCaseBankReconciliationEntity">
        select
        <foreach collection ="exportKeyList" item="reddemCode" index= "index" separator =",">
            ${reddemCode}
        </foreach >
        from data_case_bank_reconciliation b
        left join data_case c on b.data_case = c.id
        where b.delete_flag = 0
        <if test="status != null and status != ''">
            and b.status = #{status}
        </if>

        <if test="dataCase != null and dataCase.collectionArea != null and dataCase.collectionArea.id != null">
            and c.collection_area = #{dataCase.collectionArea.id}
        </if>
        <if test="dataCase != null and dataCase.client != null">
            and c.client = #{dataCase.client}
        </if>
        <if test="dataCase != null and dataCase.batchNo != null">
            and c.batch_no = #{dataCase.batchNo}
        </if>
        <if test="dataCase != null and dataCase.dept != null">
            and c.dept = #{dataCase.dept}
        </if>
        <if test="dataCase != null and dataCase.name != null">
            and c.name = #{dataCase.name}
        </if>
        <if test="dataCase != null and dataCase.collectionUser != null and dataCase.collectionUser.id != null">
            and c.collection_user = #{dataCase.collectionUser.id}
        </if>
        <if test="dataCase != null and dataCase.province != null and dataCase.province.name != null">
            and c.province = #{dataCase.province.name}
        </if>
        <if test="dataCase != null and dataCase.city != null and dataCase.city.name != null">
            and c.city = #{dataCase.city.name}
        </if>
        <if test="dataCase != null and dataCase.county != null and dataCase.county.name != null">
            and c.county = #{dataCase.county.name}
        </if>
        <if test="dataCase != null and dataCase.status != null">
            and c.status = #{dataCase.status}
        </if>
        <if test="dataCase != null and dataCase.overdueBillTime != null">
            and c.overdue_bill_time = #{dataCase.overdueBillTime}
        </if>
        <if test="dataCase != null and dataCase.collectStatus != null and '' != dataCase.collectStatusMsg">
            and c.collect_status = #{dataCase.collectStatus}
        </if>
        <if test="dataCase != null and dataCase.caseDateStart != null">
            and c.case_date >= #{dataCase.caseDateStart}
        </if>
        <if test="dataCase != null and dataCase.caseDateEnd != null">
            and c.case_date &lt;= #{dataCase.caseDateEnd}
        </if>
        <if test="dataCase != null and dataCase.expectStartTime != null">
            and c.expect_time >= #{dataCase.expectStartTime}
        </if>
        <if test="dataCase != null and dataCase.expectEndTime != null">
            and c.expect_time &lt;= #{dataCase.expectEndTime}
        </if>
        <if test="dataCase != null and dataCase.caseType != null">
            and c.case_type = #{dataCase.caseType}
        </if>

        <if test="submitTimeStart != null">
            and b.submit_time >= #{submitTimeStart}
        </if>
        <if test="submitTimeEnd != null">
            and b.submit_time &lt;= #{submitTimeEnd}
        </if>
        <if test="dataCase != null and dataCase.names != null and dataCase.names.length > 0">
            and c.name in
            <foreach collection="dataCase.names" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="dataCase != null and dataCase.cardNos != null and dataCase.cardNos.length > 0">
            and c.card_no in
            <foreach collection="dataCase.cardNos" item="item2" open="(" close=")" separator=",">
                '${item2}'
            </foreach>
        </if>
        <if test="dataCase != null and dataCase.seqNos != null and dataCase.seqNos.length > 0">
            and c.seq_no in
            <foreach collection="dataCase.seqNos" open="(" close=")" separator=",">
                '${item}'
            </foreach>
        </if>
        <if test="dataCase != null and dataCase.identNos != null and dataCase.identNos.length > 0">
            and c.ident_no in
            <foreach collection="dataCase.identNos" open="(" close=")" separator=",">
                '${item}'
            </foreach>
        </if>
        <if test="dataCase != null and dataCase.accounts != null and dataCase.accounts.length > 0">
            and c.account in
            <foreach collection="dataCase.accounts" open="(" close=")" separator=",">
                '${item}'
            </foreach>
        </if>
        <if test="dataCase != null and dataCase.collectionArea != null and dataCase.collectionArea.ids != null
                and dataCase.collectionArea.ids.length > 0">
            and c.collection_area in
            <foreach item="item" index="index" collection="dataCase.collectionArea.ids" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>

        <if test="dataCase != null and dataCase.batchNos != null
                and dataCase.batchNos.length > 0">
            and c.batch_no in
            <foreach item="item" index="index" collection="dataCase.batchNos" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>

        <if test="dataCase != null and dataCase.clients != null
                and dataCase.clients.length > 0">
            and c.client in
            <foreach item="item" index="index" collection="dataCase.clients" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>

        <if test="dataCase != null and dataCase.collectionUser != null and dataCase.collectionUser.ids != null
                and dataCase.collectionUser.ids.length > 0">
            and b.data_case in
            (
            select data_case from data_case_repay_record where  collect_user in
            <foreach item="item" index="index" collection="dataCase.collectionUser.ids" open="(" separator="," close=")">
                #{item}
            </foreach>
            )
        </if>

        <if test="dataCase != null and dataCase.statuss != null
                and dataCase.statuss.length > 0">
            and c.status in
            <foreach item="item" index="index" collection="dataCase.statuss" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>

        <if test="dataCase != null and dataCase.accountAges != null
                and dataCase.accountAges.length > 0">
            and c.account_age in
            <foreach item="item" index="index" collection="dataCase.accountAges" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>

        <if test="dataCase != null and dataCase.collectStatuss != null
                and dataCase.collectStatuss.length > 0">
            and c.collect_status in
            <foreach item="item" index="index" collection="dataCase.collectStatuss" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>


        <if test="dataCase != null and dataCase.caseTypes != null
                and dataCase.collectStatuss.length > 0">
            and c.case_type in
            <foreach item="item" index="index" collection="dataCase.caseTypes" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>

        <if test="orderBy != null and orderBy != '' and sort != null and sort != ''">
            order by ${orderBy} ${sort}
        </if>

    </select>

    <select id="listBankReconciliation" parameterType="xyz.zaijushou.zhx.sys.entity.DataCaseBankReconciliationEntity" resultType="xyz.zaijushou.zhx.sys.entity.DataCaseBankReconciliationEntity">
    select
    <include refid="colSql"/>
    from data_case_bank_reconciliation b
    left join data_case c on b.data_case = c.id
    where b.delete_flag = 0
    <if test="status != null and status != ''">
        and b.status = #{status}
    </if>

    <if test="dataCase != null and dataCase.collectionArea != null and dataCase.collectionArea.id != null">
        and c.collection_area = #{dataCase.collectionArea.id}
    </if>
    <if test="dataCase != null and dataCase.client != null">
        and c.client = #{dataCase.client}
    </if>
    <if test="dataCase != null and dataCase.batchNo != null">
        and c.batch_no = #{dataCase.batchNo}
    </if>
    <if test="dataCase != null and dataCase.dept != null">
        and c.dept = #{dataCase.dept}
    </if>
    <if test="dataCase != null and dataCase.name != null">
        and c.name = #{dataCase.name}
    </if>
    <if test="dataCase != null and dataCase.collectionUser != null and dataCase.collectionUser.id != null">
        and c.collection_user = #{dataCase.collectionUser.id}
    </if>
    <if test="dataCase != null and dataCase.province != null and dataCase.province.name != null">
        and c.province = #{dataCase.province.name}
    </if>
    <if test="dataCase != null and dataCase.city != null and dataCase.city.name != null">
        and c.city = #{dataCase.city.name}
    </if>
    <if test="dataCase != null and dataCase.county != null and dataCase.county.name != null">
        and c.county = #{dataCase.county.name}
    </if>
    <if test="dataCase != null and dataCase.status != null">
        and c.status = #{dataCase.status}
    </if>
    <if test="dataCase != null and dataCase.overdueBillTime != null">
        and c.overdue_bill_time = #{dataCase.overdueBillTime}
    </if>
    <if test="dataCase != null and dataCase.collectStatus != null and '' != dataCase.collectStatusMsg">
        and c.collect_status = #{dataCase.collectStatus}
    </if>
    <if test="dataCase != null and dataCase.caseDateStart != null">
        and c.case_date >= #{dataCase.caseDateStart}
    </if>
    <if test="dataCase != null and dataCase.caseDateEnd != null">
        and c.case_date &lt;= #{dataCase.caseDateEnd}
    </if>
    <if test="dataCase != null and dataCase.expectStartTime != null">
        and c.expect_time >= #{dataCase.expectStartTime}
    </if>
    <if test="dataCase != null and dataCase.expectEndTime != null">
        and c.expect_time &lt;= #{dataCase.expectEndTime}
    </if>
    <if test="dataCase != null and dataCase.caseType != null">
        and c.case_type = #{dataCase.caseType}
    </if>

    <if test="submitTimeStart != null">
        and b.submit_time >= #{submitTimeStart}
    </if>
    <if test="submitTimeEnd != null">
        and b.submit_time &lt;= #{submitTimeEnd}
    </if>
    <if test="dataCase != null and dataCase.names != null and dataCase.names.length > 0">
        and c.name in
        <foreach item="item"  index="index"   collection="dataCase.names" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </if>
        <if test="dataCase != null and dataCase.cardNos != null and dataCase.cardNos.length > 0">
            and c.card_no in
            <foreach index="index" collection="dataCase.cardNos" item="item2" open="(" close=")" separator=",">
                '${item2}'
            </foreach>
        </if>
    <if test="dataCase != null and dataCase.seqNos != null and dataCase.seqNos.length > 0">
        and c.seq_no in
        <foreach item="item" index="index"  collection="dataCase.seqNos" open="(" close=")" separator=",">
            '${item}'
        </foreach>
    </if>
    <if test="dataCase != null and dataCase.identNos != null and dataCase.identNos.length > 0">
        and c.ident_no in
        <foreach item="item" index="index"  collection="dataCase.identNos" open="(" close=")" separator=",">
            '${item}'
        </foreach>
    </if>
    <if test="dataCase != null and dataCase.accounts != null and dataCase.accounts.length > 0">
        and c.account in
        <foreach item="item" index="index" collection="dataCase.accounts" open="(" close=")" separator=",">
            '${item}'
        </foreach>
    </if>
        <if test="dataCase != null and dataCase.collectionArea != null and dataCase.collectionArea.ids != null
                and dataCase.collectionArea.ids.length > 0">
            and c.collection_area in
            <foreach item="item" index="index" collection="dataCase.collectionArea.ids" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>

        <if test="dataCase != null and dataCase.batchNos != null
                and dataCase.batchNos.length > 0">
            and c.batch_no in
            <foreach item="item" index="index" collection="dataCase.batchNos" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>

        <if test="dataCase != null and dataCase.clients != null
                and dataCase.clients.length > 0">
            and c.client in
            <foreach item="item" index="index" collection="dataCase.clients" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>

        <if test="dataCase != null and dataCase.collectionUser != null and dataCase.collectionUser.ids != null
                and dataCase.collectionUser.ids.length > 0">
            and b.data_case in
            (
            select data_case from data_case_repay_record where  collect_user in
            <foreach item="item" index="index" collection="dataCase.collectionUser.ids" open="(" separator="," close=")">
                #{item}
            </foreach>
            )
        </if>

        <if test="dataCase != null and dataCase.statuss != null
                and dataCase.statuss.length > 0">
            and c.status in
            <foreach item="item" index="index" collection="dataCase.statuss" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>

        <if test="dataCase != null and dataCase.accountAges != null
                and dataCase.accountAges.length > 0">
            and c.account_age in
            <foreach item="item" index="index" collection="dataCase.accountAges" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>

        <if test="dataCase != null and dataCase.collectStatuss != null
                and dataCase.collectStatuss.length > 0">
            and c.collect_status in
            <foreach item="item" index="index" collection="dataCase.collectStatuss" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>


        <if test="dataCase != null and dataCase.caseTypes != null
                and dataCase.collectStatuss.length > 0">
            and c.case_type in
            <foreach item="item" index="index" collection="dataCase.caseTypes" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>

        <if test="ids != null and ids.length >0">
        and b.id in
        <foreach collection="ids" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </if>
</select>

    <select id="totalExport" parameterType="xyz.zaijushou.zhx.sys.entity.DataCaseBankReconciliationEntity" resultType="xyz.zaijushou.zhx.sys.entity.DataCaseBankReconciliationEntity">
        select
        <foreach collection ="exportKeyList" item="reddemCode" index= "index" separator =",">
            ${reddemCode}
        </foreach >
        from data_case_bank_reconciliation b
        left join data_case c on b.data_case = c.id
        where b.delete_flag = 0
        <if test="status != null and status != ''">
            and b.status = #{status}
        </if>

        <if test="dataCase != null and dataCase.collectionArea != null and dataCase.collectionArea.id != null">
            and c.collection_area = #{dataCase.collectionArea.id}
        </if>
        <if test="dataCase != null and dataCase.client != null">
            and c.client = #{dataCase.client}
        </if>
        <if test="dataCase != null and dataCase.batchNo != null">
            and c.batch_no = #{dataCase.batchNo}
        </if>
        <if test="dataCase != null and dataCase.dept != null">
            and c.dept = #{dataCase.dept}
        </if>
        <if test="dataCase != null and dataCase.name != null">
            and c.name = #{dataCase.name}
        </if>
        <if test="dataCase != null and dataCase.collectionUser != null and dataCase.collectionUser.id != null">
            and c.collection_user = #{dataCase.collectionUser.id}
        </if>
        <if test="dataCase != null and dataCase.province != null and dataCase.province.name != null">
            and c.province = #{dataCase.province.name}
        </if>
        <if test="dataCase != null and dataCase.city != null and dataCase.city.name != null">
            and c.city = #{dataCase.city.name}
        </if>
        <if test="dataCase != null and dataCase.county != null and dataCase.county.name != null">
            and c.county = #{dataCase.county.name}
        </if>
        <if test="dataCase != null and dataCase.status != null">
            and c.status = #{dataCase.status}
        </if>
        <if test="dataCase != null and dataCase.overdueBillTime != null">
            and c.overdue_bill_time = #{dataCase.overdueBillTime}
        </if>
        <if test="dataCase != null and dataCase.collectStatus != null and '' != dataCase.collectStatusMsg">
            and c.collect_status = #{dataCase.collectStatus}
        </if>
        <if test="dataCase != null and dataCase.caseDateStart != null">
            and c.case_date >= #{dataCase.caseDateStart}
        </if>
        <if test="dataCase != null and dataCase.caseDateEnd != null">
            and c.case_date &lt;= #{dataCase.caseDateEnd}
        </if>
        <if test="dataCase != null and dataCase.expectStartTime != null">
            and c.expect_time >= #{dataCase.expectStartTime}
        </if>
        <if test="dataCase != null and dataCase.expectEndTime != null">
            and c.expect_time &lt;= #{dataCase.expectEndTime}
        </if>
        <if test="dataCase != null and dataCase.caseType != null">
            and c.case_type = #{dataCase.caseType}
        </if>

        <if test="submitTimeStart != null">
            and b.submit_time >= #{submitTimeStart}
        </if>
        <if test="submitTimeEnd != null">
            and b.submit_time &lt;= #{submitTimeEnd}
        </if>
        <if test="dataCase != null and dataCase.names != null and dataCase.names.length > 0">
            and c.name in
            <foreach collection="dataCase.names" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="dataCase != null and dataCase.seqNos != null and dataCase.seqNos.length > 0">
            and c.seq_no in
            <foreach collection="dataCase.seqNos" open="(" close=")" separator=",">
                '${item}'
            </foreach>
        </if>
        <if test="dataCase != null and dataCase.cardNos != null and dataCase.cardNos.length > 0">
            and c.card_no in
            <foreach collection="dataCase.cardNos" item="item2" open="(" close=")" separator=",">
                '${item2}'
            </foreach>
        </if>
        <if test="dataCase != null and dataCase.identNos != null and dataCase.identNos.length > 0">
            and c.ident_no in
            <foreach collection="dataCase.identNos" open="(" close=")" separator=",">
                '${item}'
            </foreach>
        </if>
        <if test="dataCase != null and dataCase.accounts != null and dataCase.accounts.length > 0">
            and c.account in
            <foreach collection="dataCase.accounts" open="(" close=")" separator=",">
                '${item}'
            </foreach>
        </if>
        <if test="dataCase != null and dataCase.collectionArea != null and dataCase.collectionArea.ids != null
                and dataCase.collectionArea.ids.length > 0">
            and c.collection_area in
            <foreach item="item" index="index" collection="dataCase.collectionArea.ids" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>

        <if test="dataCase != null and dataCase.batchNos != null
                and dataCase.batchNos.length > 0">
            and c.batch_no in
            <foreach item="item" index="index" collection="dataCase.batchNos" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>

        <if test="dataCase != null and dataCase.clients != null
                and dataCase.clients.length > 0">
            and c.client in
            <foreach item="item" index="index" collection="dataCase.clients" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>

        <if test="dataCase != null and dataCase.collectionUser != null and dataCase.collectionUser.ids != null
                and dataCase.collectionUser.ids.length > 0">
            and b.data_case in
            (
            select data_case from data_case_repay_record where  collect_user in
            <foreach item="item" index="index" collection="dataCase.collectionUser.ids" open="(" separator="," close=")">
                #{item}
            </foreach>
            )
        </if>

        <if test="dataCase != null and dataCase.statuss != null
                and dataCase.statuss.length > 0">
            and c.status in
            <foreach item="item" index="index" collection="dataCase.statuss" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>

        <if test="dataCase != null and dataCase.accountAges != null
                and dataCase.accountAges.length > 0">
            and c.account_age in
            <foreach item="item" index="index" collection="dataCase.accountAges" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>

        <if test="dataCase != null and dataCase.collectStatuss != null
                and dataCase.collectStatuss.length > 0">
            and c.collect_status in
            <foreach item="item" index="index" collection="dataCase.collectStatuss" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>


        <if test="dataCase != null and dataCase.caseTypes != null
                and dataCase.collectStatuss.length > 0">
            and c.case_type in
            <foreach item="item" index="index" collection="dataCase.caseTypes" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>

        <if test="ids != null and ids.length >0">
            and b.id in
            <foreach collection="ids" item="item" open="(" close=")">
                #{item}
            </foreach>
        </if>
    </select>

    <update id="updateStatus" parameterType="xyz.zaijushou.zhx.sys.entity.DataCaseBankReconciliationEntity">
        update data_case_bank_reconciliation
        set status = #{status}
        where delete_flag = 0
        and id in
        <foreach collection="ids" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </update>

    <insert id="addList" parameterType="java.util.List">
        insert into data_case_bank_reconciliation
        (
        data_case,
        cp_money,
        cp_date,
        remark,
        create_user,
        update_user,
        delete_flag,
        status,
        create_time
        )
        values
        <foreach collection="list" separator="," item="item">
            (
            #{item.dataCase.id},
            #{item.cpMoney},
            #{item.cpDate},
            #{item.remark},
            #{item.createUser.id},
            #{item.updateUser.id},
            0,
            0,
            GETDATE()
            )
        </foreach>
    </insert>

    <select id="findLatestCpByCaseId" parameterType="xyz.zaijushou.zhx.sys.entity.DataCaseBankReconciliationEntity" resultType="xyz.zaijushou.zhx.sys.entity.DataCaseBankReconciliationEntity">
        select top 1
        id as id,
        data_case as [dataCase.id],
        cp_money as [cpMoney]
        from data_case_bank_reconciliation
        where data_case = #{dataCase.id}
        and status = 0
        order by id desc
    </select>

    <select id="findById" parameterType="xyz.zaijushou.zhx.sys.entity.DataCaseBankReconciliationEntity" resultType="xyz.zaijushou.zhx.sys.entity.DataCaseBankReconciliationEntity">
        select
            id as id,
            data_case as '[dataCase.id]'
        from data_case_bank_reconciliation
        where id = #{id}
        and delete_flag = 0
    </select>

    <select id="listByCaseId" parameterType="xyz.zaijushou.zhx.sys.entity.DataCaseBankReconciliationEntity" resultType="xyz.zaijushou.zhx.sys.entity.DataCaseBankReconciliationEntity">
        select
        b.id as id,
        b.data_case as [dataCase.id],
        b.cp_money as cpMoney,
        b.cp_date as cpDate,
        b.repay_user as repayUser,
        b.repay_type as repayType,
        b.submit_user as [submitUser.id],
        b.submit_time as submitTime,
        b.status as status,
        b.remark as remark,
        b.create_user as [createUser.id],
        b.update_user as [updateUser.id],
        b.create_time as createTime,
        b.update_time as updateTime,
        b.delete_flag as deleteFlag
        from data_case_bank_reconciliation b
        where b.data_case = #{dataCase.id}
        and delete_flag = 0
    </select>


    <insert id="saveBank" parameterType="xyz.zaijushou.zhx.sys.entity.DataCaseBankReconciliationEntity">
        insert into data_case_bank_reconciliation
        (
            data_case,
            cp_money,
            cp_date,
            repay_user,
            repay_type,
            submit_user,
            remark,
            create_user,
            update_user,
            delete_flag,
            status,
            create_time
        )
        values
        (
            #{dataCase.id},
            #{cpMoney},
            #{cpDate},
            #{repayUser},
            #{repayType},
            #{submitUser.id},
            #{remark},
            #{createUser.id},
            #{updateUser.id},
            0,
            0,
            GETDATE()
        )
    </insert>

</mapper>