<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.zaijushou.zhx.sys.dao.DataCollectionMapper">


    <!--插入数据信息-->
    <insert id="saveCollection" parameterType="xyz.zaijushou.zhx.sys.entity.DataCollectionEntity" >
        <selectKey keyProperty="id" order="AFTER"  resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into data_collection
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="caseId != null">case_id,</if>
            <if test="dept != null">dept,</if>
            <if test="seqno != null">seqno,</if>
            <if test="archiveNo != null">archive_no,</if>
            <if test="cardNo != null">card_no,</if>
            <if test="account != null">account,</if>
            <if test="caseDate != null">case_date,</if>
            <if test="contractDate != null">contact_date,</if>
            <if test="resultId != null">result_id,</if>
            <if test="targetName != null">target_name,</if>
            <if test="relation != null">relation,</if>
            <if test="collectInfo != null">collect_info,</if>
            <if test="mobile != null">mobile,</if>
            <if test="telType != null">tel_type,</if>
            <if test="area != null">area,</if>
            <if test="mobile != null">mobile,</if>
            <if test="odv != null">odv,</if>
            <if test="remark != null">remark,</if>
            delete_flag,
            create_time,
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="caseId != null">#{caseId},</if>
            <if test="dept != null">#{dept},</if>
            <if test="seqno != null">#{seqno},</if>
            <if test="archiveNo != null">#{archiveNo},</if>
            <if test="cardNo != null">#{cardNo},</if>
            <if test="account != null">#{account},</if>
            <if test="caseDate != null">#{caseDate},</if>
            <if test="contractDate != null">#{contractDate},</if>
            <if test="resultId != null">#{resultId},</if>
            <if test="targetName != null">#{targetName},</if>
            <if test="relation != null">#{relation},</if>
            <if test="collectInfo != null">#{collectInfo},</if>
            <if test="mobile != null">#{mobile},</if>
            <if test="telType != null">#{telType},</if>
            <if test="area != null">#{area},</if>
            <if test="mobile != null">#{mobile},</if>
            <if test="odv != null">#{odv},</if>
            <if test="remark != null">#{remark},</if>
            0,
            now(),
        </trim>
    </insert>

    <update id="updateCollection" parameterType="xyz.zaijushou.zhx.sys.entity.DataCollectionEntity">
        update data_collection
        set
        <trim suffixOverrides=",">
            <if test="dept != null">name = #{dept},</if>
            <if test="area != null">area = #{area},</if>
            <if test="mobile != null">mobile = #{mobile},</if>
            <if test="odv != null">odv = #{odv},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where
        id = #{id}
    </update>

    <!--通过Id删除数据信息-->
    <delete id="deleteById" parameterType="java.lang.Integer">
        update data_collection set delete_flag =1
        where id = #{id}
    </delete>

    <select id="pageDataCollection" parameterType="xyz.zaijushou.zhx.sys.entity.DataCollectionEntity" resultType="xyz.zaijushou.zhx.sys.entity.DataCollectionEntity">
        select
        id,dept,create_time as createTime
        from data_collection
        <where>
            delete_flag = 0
            <trim suffixOverrides=",">
                <if test="dept != null and dept!=''">
                    AND  dept like CONCAT('%',#{dept},'%')
                </if>
                <if test="startTime != null and startTime!=''">
                    <![CDATA[   and DATE_FORMAT(create_time, '%Y-%m-%d')>=  DATE_FORMAT(#{startTime}, '%Y-%m-%d')   ]]>
                </if>
                <if test="endTime != null and endTime!=''" >
                    <![CDATA[   and DATE_FORMAT(create_time, '%Y-%m-%d')<=  DATE_FORMAT(#{endTime}, '%Y-%m-%d')   ]]>
                </if>
            </trim>
        </where>
    </select>


    <select id="countDataCollect" parameterType="xyz.zaijushou.zhx.sys.entity.DataCollectionEntity" resultType="java.lang.Integer">
        select
        count(id) as sum
        from data_collection
        <where>
            delete_flag = 0
            <trim suffixOverrides=",">
                <if test="dept != null and dept!=''">
                    AND  dept like CONCAT('%',#{dept},'%')
                </if>
                <if test="area != null and area!=''">
                    AND area like CONCAT('%',#{area},'%')
                </if>
                <if test="odv != null and odv!=''">
                    AND odv  like CONCAT('%',#{odv},'%')
                </if>
                <if test="measure != null and measure!=''">
                    AND measure like CONCAT('%',#{measure},'%')
                </if>
                <if test="collectMeasure != null and collectMeasure!=''">
                    AND measure like CONCAT('%',#{collectMeasure},'%')
                </if>
                <if test="client != null and client!=''">
                    AND client like CONCAT('%',#{client},'%')
                </if>
                <if test="caseStatus != null and caseStatus!=''">
                    AND case_status like CONCAT('%',#{caseStatus},'%')
                </if>
                <if test="result != null and result!=''">
                    AND result like CONCAT('%',#{result},'%')
                </if>
                <if test="batchNo != null and batchNo!=''">
                    AND batch_no like CONCAT('%',#{batchNo},'%')
                </if>
                <if test="identNo != null and identNo!=''">
                    AND ident_no like CONCAT('%',#{identNo},'%')
                </if>

                <if test="cardNo != null and cardNo!=''">
                    AND card_no like CONCAT('%',#{cardNo},'%')
                </if>
                <if test="collectInfo != null and collectInfo!=''">
                    AND collect_info like CONCAT('%',#{collectInfo},'%')
                </if>
                <if test="color != null and color!=''">
                    AND color like CONCAT('%',#{color},'%')
                </if>
                <if test="seqno != null and seqno!=''">
                    AND seqno like CONCAT('%',#{seqno},'%')
                </if>

                <if test="targetName != null and targetName!=''">
                    AND target_name like CONCAT('%',#{targetName},'%')
                </if>

                <if test="accountAge != null and accountAge!=''">
                    and account_age = #{accountAge}
                </if>
                <if test="identNo != null and identNo!=''">
                    and ident_no = #{identNo}
                </if>

                <if test="collectStatus != null and collectStatus!=''">
                    and collect_status = #{collectStatus}
                </if>

                <if test="caseType != null and caseType!=''">
                    and case_type = #{caseType}
                </if>

                <if test="archiveNo != null and archiveNo!=''">
                    and archive_no = #{archiveNo}
                </if>

                <if test="newCase != null and newCase!=''">
                    and new_case = #{newCase}
                </if>
                <if test="repayStatus != null and repayStatus!=''">
                    and repay_status = #{repayStatus}
                </if>
                <if test="remark != null and remark!=''">
                    and remark = #{remark}
                </if>

                <if test="telName != null and telName!=''">
                    AND tel_name like CONCAT('%',#{telName},'%')
                </if>

                <if test="telPhone != null and telPhone!=''">
                    AND tel_phone like CONCAT('%',#{telPhone},'%')
                </if>

                <if test="collectPhoneAddr != null and collectPhoneAddr!=''">
                    AND tel_phone like CONCAT('%',#{collectPhoneAddr},'%')
                </if>

                <if test="nextFollDateStart != null and nextFollDateStart!=''">
                    <![CDATA[   and DATE_FORMAT(next_foll_date, '%Y-%m-%d')>=  DATE_FORMAT(#{nextFollDateStart}, '%Y-%m-%d')   ]]>
                </if>
                <if test="nextFollDateEnd != null and nextFollDateEnd!=''" >
                    <![CDATA[   and DATE_FORMAT(next_foll_date, '%Y-%m-%d')<=  DATE_FORMAT(#{nextFollDateEnd}, '%Y-%m-%d')   ]]>
                </if>

                <if test="lastFollDateStart != null and lastFollDateStart!=''">
                    <![CDATA[   and DATE_FORMAT(last_foll_date, '%Y-%m-%d')>=  DATE_FORMAT(#{lastFollDateStart}, '%Y-%m-%d')   ]]>
                </if>
                <if test="lastFollDateEnd != null and lastFollDateEnd!=''" >
                    <![CDATA[   and DATE_FORMAT(last_foll_date, '%Y-%m-%d')<=  DATE_FORMAT(#{lastFollDateEnd}, '%Y-%m-%d')   ]]>
                </if>

                <if test="bailStartDate != null and bailStartDate!=''">
                    <![CDATA[   and DATE_FORMAT(bail_date, '%Y-%m-%d')>=  DATE_FORMAT(#{bailStartDate}, '%Y-%m-%d')   ]]>
                </if>
                <if test="bailEndDate != null and bailEndDate!=''" >
                    <![CDATA[   and DATE_FORMAT(bail_date, '%Y-%m-%d')<=  DATE_FORMAT(#{bailEndDate}, '%Y-%m-%d')   ]]>
                </if>
                <if test="expectTimeStart != null and expectTimeStart!=''">
                    <![CDATA[   and DATE_FORMAT(expect_time, '%Y-%m-%d')>=  DATE_FORMAT(#{expectTimeStart}, '%Y-%m-%d')   ]]>
                </if>
                <if test="expectTimeEnd != null and expectTimeEnd!=''" >
                    <![CDATA[   and DATE_FORMAT(expect_time, '%Y-%m-%d')<=  DATE_FORMAT(#{expectTimeEnd}, '%Y-%m-%d')   ]]>
                </if>
                <if test="collectStartTime != null and collectStartTime!=''">
                    <![CDATA[   and DATE_FORMAT(collect_time, '%Y-%m-%d')>=  DATE_FORMAT(#{collectStartTime}, '%Y-%m-%d')   ]]>
                </if>
                <if test="collectEndTime != null and collectEndTime!=''" >
                    <![CDATA[   and DATE_FORMAT(collect_time, '%Y-%m-%d')<=  DATE_FORMAT(#{collectEndTime}, '%Y-%m-%d')   ]]>
                </if>

                <if test="caseDateStart != null and caseDateStart!=''">
                    <![CDATA[   and DATE_FORMAT(case_date, '%Y-%m-%d')>=  DATE_FORMAT(#{caseDateStart}, '%Y-%m-%d')   ]]>
                </if>
                <if test="caseDateEnd != null and caseDateEnd!=''" >
                    <![CDATA[   and DATE_FORMAT(case_date, '%Y-%m-%d')<=  DATE_FORMAT(#{caseDateEnd}, '%Y-%m-%d')   ]]>
                </if>

                <if test="repayTimeStart != null and repayTimeStart!=''">
                    <![CDATA[   and DATE_FORMAT(repay_time, '%Y-%m-%d')>=  DATE_FORMAT(#{repayTimeStart}, '%Y-%m-%d')   ]]>
                </if>
                <if test="repayTimeEnd != null and repayTimeEnd!=''" >
                    <![CDATA[   and DATE_FORMAT(repay_time, '%Y-%m-%d')<=  DATE_FORMAT(#{repayTimeEnd}, '%Y-%m-%d')   ]]>
                </if>

                <if test="moneyStart != null and moneyStart!=''">
                    <![CDATA[   and DATE_FORMAT(money, '%Y-%m-%d')>=  DATE_FORMAT(#{moneyStart}, '%Y-%m-%d')   ]]>
                </if>
                <if test="moneyEnd != null and moneyEnd!=''" >
                    <![CDATA[   and DATE_FORMAT(money, '%Y-%m-%d')<=  DATE_FORMAT(#{moneyEnd}, '%Y-%m-%d')   ]]>
                </if>
            </trim>
        </where>
    </select>

    <select id="totalDataCollect" parameterType="xyz.zaijushou.zhx.sys.entity.DataCollectionEntity" resultType="xyz.zaijushou.zhx.sys.entity.DataCollectionEntity">
        select id,name,case_id as caseId,seqno,color,bail_date as bailDate,expect_time as expectTime,area,
        dept,odv,measure,collect_time as collectTime,target_name as targetName,relation,tel_type as telType,
        mobile,result,method,repay_time as repayTime,
        repay_amt as repayAmt,reduce_amt as reduceAmt,collect_status collectStatus,reduce_status as reduceStatus,
        account_age as accountAge,case_date as caseDate,card_no as cardNo,ident_no as identNo,
        money,balance,bank_amt as bankAmt,collect_info as collectInfo,
        en_repay_amt as enRepayAmt,next_foll_date as nextFollDate,leave_days as leaveDays,
        last_phone_time as lastPhoneTime,remind,count_follow as countFollow
        from data_collection
        <where>
            delete_flag = 0
            <trim suffixOverrides=",">
                <if test="dept != null and dept!=''">
                    AND  dept like CONCAT('%',#{dept},'%')
                </if>
                <if test="area != null and area!=''">
                    AND area like CONCAT('%',#{area},'%')
                </if>
                <if test="odv != null and odv!=''">
                    AND odv  like CONCAT('%',#{odv},'%')
                </if>
                <if test="measure != null and measure!=''">
                    AND measure like CONCAT('%',#{measure},'%')
                </if>
                <if test="collectMeasure != null and collectMeasure!=''">
                    AND measure like CONCAT('%',#{collectMeasure},'%')
                </if>
                <if test="client != null and client!=''">
                    AND client like CONCAT('%',#{client},'%')
                </if>
                <if test="caseStatus != null and caseStatus!=''">
                    AND case_status like CONCAT('%',#{caseStatus},'%')
                </if>
                <if test="result != null and result!=''">
                    AND result like CONCAT('%',#{result},'%')
                </if>
                <if test="batchNo != null and batchNo!=''">
                    AND batch_no like CONCAT('%',#{batchNo},'%')
                </if>
                <if test="identNo != null and identNo!=''">
                    AND ident_no like CONCAT('%',#{identNo},'%')
                </if>

                <if test="cardNo != null and cardNo!=''">
                    AND card_no like CONCAT('%',#{cardNo},'%')
                </if>
                <if test="collectInfo != null and collectInfo!=''">
                    AND collect_info like CONCAT('%',#{collectInfo},'%')
                </if>
                <if test="color != null and color!=''">
                    AND color like CONCAT('%',#{color},'%')
                </if>
                <if test="seqno != null and seqno!=''">
                    AND seqno like CONCAT('%',#{seqno},'%')
                </if>

                <if test="targetName != null and targetName!=''">
                    AND target_name like CONCAT('%',#{targetName},'%')
                </if>

                <if test="accountAge != null and accountAge!=''">
                    and account_age = #{accountAge}
                </if>
                <if test="identNo != null and identNo!=''">
                    and ident_no = #{identNo}
                </if>

                <if test="collectStatus != null and collectStatus!=''">
                    and collect_status = #{collectStatus}
                </if>

                <if test="caseType != null and caseType!=''">
                    and case_type = #{caseType}
                </if>

                <if test="archiveNo != null and archiveNo!=''">
                    and archive_no = #{archiveNo}
                </if>

                <if test="newCase != null and newCase!=''">
                    and new_case = #{newCase}
                </if>
                <if test="repayStatus != null and repayStatus!=''">
                    and repay_status = #{repayStatus}
                </if>
                <if test="remark != null and remark!=''">
                    and remark = #{remark}
                </if>

                <if test="telName != null and telName!=''">
                    AND tel_name like CONCAT('%',#{telName},'%')
                </if>

                <if test="telPhone != null and telPhone!=''">
                    AND tel_phone like CONCAT('%',#{telPhone},'%')
                </if>

                <if test="collectPhoneAddr != null and collectPhoneAddr!=''">
                    AND tel_phone like CONCAT('%',#{collectPhoneAddr},'%')
                </if>

                <if test="nextFollDateStart != null and nextFollDateStart!=''">
                    <![CDATA[   and DATE_FORMAT(next_foll_date, '%Y-%m-%d')>=  DATE_FORMAT(#{nextFollDateStart}, '%Y-%m-%d')   ]]>
                </if>
                <if test="nextFollDateEnd != null and nextFollDateEnd!=''" >
                    <![CDATA[   and DATE_FORMAT(next_foll_date, '%Y-%m-%d')<=  DATE_FORMAT(#{nextFollDateEnd}, '%Y-%m-%d')   ]]>
                </if>

                <if test="lastFollDateStart != null and lastFollDateStart!=''">
                    <![CDATA[   and DATE_FORMAT(last_foll_date, '%Y-%m-%d')>=  DATE_FORMAT(#{lastFollDateStart}, '%Y-%m-%d')   ]]>
                </if>
                <if test="lastFollDateEnd != null and lastFollDateEnd!=''" >
                    <![CDATA[   and DATE_FORMAT(last_foll_date, '%Y-%m-%d')<=  DATE_FORMAT(#{lastFollDateEnd}, '%Y-%m-%d')   ]]>
                </if>

                <if test="bailStartDate != null and bailStartDate!=''">
                    <![CDATA[   and DATE_FORMAT(bail_date, '%Y-%m-%d')>=  DATE_FORMAT(#{bailStartDate}, '%Y-%m-%d')   ]]>
                </if>
                <if test="bailEndDate != null and bailEndDate!=''" >
                    <![CDATA[   and DATE_FORMAT(bail_date, '%Y-%m-%d')<=  DATE_FORMAT(#{bailEndDate}, '%Y-%m-%d')   ]]>
                </if>
                <if test="expectTimeStart != null and expectTimeStart!=''">
                    <![CDATA[   and DATE_FORMAT(expect_time, '%Y-%m-%d')>=  DATE_FORMAT(#{expectTimeStart}, '%Y-%m-%d')   ]]>
                </if>
                <if test="expectTimeEnd != null and expectTimeEnd!=''" >
                    <![CDATA[   and DATE_FORMAT(expect_time, '%Y-%m-%d')<=  DATE_FORMAT(#{expectTimeEnd}, '%Y-%m-%d')   ]]>
                </if>
                <if test="collectStartTime != null and collectStartTime!=''">
                    <![CDATA[   and DATE_FORMAT(collect_time, '%Y-%m-%d')>=  DATE_FORMAT(#{collectStartTime}, '%Y-%m-%d')   ]]>
                </if>
                <if test="collectEndTime != null and collectEndTime!=''" >
                    <![CDATA[   and DATE_FORMAT(collect_time, '%Y-%m-%d')<=  DATE_FORMAT(#{collectEndTime}, '%Y-%m-%d')   ]]>
                </if>

                <if test="caseDateStart != null and caseDateStart!=''">
                    <![CDATA[   and DATE_FORMAT(case_date, '%Y-%m-%d')>=  DATE_FORMAT(#{caseDateStart}, '%Y-%m-%d')   ]]>
                </if>
                <if test="caseDateEnd != null and caseDateEnd!=''" >
                    <![CDATA[   and DATE_FORMAT(case_date, '%Y-%m-%d')<=  DATE_FORMAT(#{caseDateEnd}, '%Y-%m-%d')   ]]>
                </if>

                <if test="repayTimeStart != null and repayTimeStart!=''">
                    <![CDATA[   and DATE_FORMAT(repay_time, '%Y-%m-%d')>=  DATE_FORMAT(#{repayTimeStart}, '%Y-%m-%d')   ]]>
                </if>
                <if test="repayTimeEnd != null and repayTimeEnd!=''" >
                    <![CDATA[   and DATE_FORMAT(repay_time, '%Y-%m-%d')<=  DATE_FORMAT(#{repayTimeEnd}, '%Y-%m-%d')   ]]>
                </if>

                <if test="moneyStart != null and moneyStart!=''">
                    <![CDATA[   and DATE_FORMAT(money, '%Y-%m-%d')>=  DATE_FORMAT(#{moneyStart}, '%Y-%m-%d')   ]]>
                </if>
                <if test="moneyEnd != null and moneyEnd!=''" >
                    <![CDATA[   and DATE_FORMAT(money, '%Y-%m-%d')<=  DATE_FORMAT(#{moneyEnd}, '%Y-%m-%d')   ]]>
                </if>
            </trim>
        </where>
    </select>


    <select id="selectDataCollect" parameterType="xyz.zaijushou.zhx.sys.entity.DataCollectionEntity" resultType="xyz.zaijushou.zhx.sys.entity.DataCollectionEntity">
        select id,name,case_id as caseId,seqno,color,bail_date as bailDate,expect_time as expectTime,area,
        dept,odv,measure,collect_time as collectTime,target_name as targetName,relation,tel_type as telType,
        mobile,result,method,repay_time as repayTime,
        repay_amt as repayAmt,reduce_amt as reduceAmt,collect_status collectStatus,reduce_status as reduceStatus,
        account_age as accountAge,case_date as caseDate,card_no as cardNo,ident_no as identNo,
        money,balance,bank_amt as bankAmt,collect_info as collectInfo,
        en_repay_amt as enRepayAmt,next_foll_date as nextFollDate,leave_days as leaveDays,
        last_phone_time as lastPhoneTime,remind,count_follow as countFollow
        from data_collection
         where id = #{id}
    </select>

    <select id="selectDataCollectByBatch" parameterType="xyz.zaijushou.zhx.sys.entity.DataCollectionEntity" resultType="xyz.zaijushou.zhx.sys.entity.DataCollectionEntity">
        select id,name,case_id as caseId,seqno,color,bail_date as bailDate,expect_time as expectTime,area,
        dept,odv,measure,collect_time as collectTime,target_name as targetName,relation,tel_type as telType,
        mobile,result,method,repay_time as repayTime,
        repay_amt as repayAmt,reduce_amt as reduceAmt,collect_status collectStatus,reduce_status as reduceStatus,
        account_age as accountAge,case_date as caseDate,card_no as cardNo,ident_no as identNo,
        money,balance,bank_amt as bankAmt,collect_info as collectInfo,
        en_repay_amt as enRepayAmt,next_foll_date as nextFollDate,leave_days as leaveDays,
        last_phone_time as lastPhoneTime,remind,count_follow as countFollow
        from data_collection
        where case_id in (select id from data_case where batch_no #{batchNo})
    </select>

    <select id="pageDataCollect" parameterType="xyz.zaijushou.zhx.sys.entity.DataCollectionEntity" resultType="xyz.zaijushou.zhx.sys.entity.DataCollectionEntity">
        select id,name,case_id as caseId,seqno,color,bail_date as bailDate,expect_time as expectTime,area,
        dept,odv,measure,collect_time as collectTime,target_name as targetName,relation,tel_type as telType,
        mobile,result,method,repay_time as repayTime,
        repay_amt as repayAmt,reduce_amt as reduceAmt,collect_status collectStatus,reduce_status as reduceStatus,
        account_age as accountAge,case_date as caseDate,card_no as cardNo,ident_no as identNo,
        money,balance,bank_amt as bankAmt,collect_info as collectInfo,
        en_repay_amt as enRepayAmt,next_foll_date as nextFollDate,leave_days as leaveDays,new_money as moneyStart,
        last_phone_time as lastPhoneTime,remind,count_follow as countFollow,collection_type as collectionType
        from data_collection
        <where>
            delete_flag = 0
            <trim suffixOverrides=",">
                <if test="dept != null and dept!=''">
                    AND  dept like CONCAT('%',#{dept},'%')
                </if>
                <if test="area != null and area!=''">
                    AND area like CONCAT('%',#{area},'%')
                </if>
                <if test="odv != null and odv!=''">
                    AND odv  like CONCAT('%',#{odv},'%')
                </if>
                <if test="measure != null and measure!=''">
                    AND measure like CONCAT('%',#{measure},'%')
                </if>
                <if test="collectMeasure != null and collectMeasure!=''">
                    AND measure like CONCAT('%',#{collectMeasure},'%')
                </if>
                <if test="client != null and client!=''">
                    AND client like CONCAT('%',#{client},'%')
                </if>
                <if test="caseStatus != null and caseStatus!=''">
                    AND case_status like CONCAT('%',#{caseStatus},'%')
                </if>
                <if test="result != null and result!=''">
                    AND result like CONCAT('%',#{result},'%')
                </if>
                <if test="batchNo != null and batchNo!=''">
                    AND batch_no like CONCAT('%',#{batchNo},'%')
                </if>
                <if test="identNo != null and identNo!=''">
                    AND ident_no like CONCAT('%',#{identNo},'%')
                </if>

                <if test="cardNo != null and cardNo!=''">
                    AND card_no like CONCAT('%',#{cardNo},'%')
                </if>
                <if test="collectInfo != null and collectInfo!=''">
                    AND collect_info like CONCAT('%',#{collectInfo},'%')
                </if>
                <if test="color != null and color!=''">
                    AND color like CONCAT('%',#{color},'%')
                </if>
                <if test="seqno != null and seqno!=''">
                    AND seqno like CONCAT('%',#{seqno},'%')
                </if>

                <if test="targetName != null and targetName!=''">
                    AND target_name like CONCAT('%',#{targetName},'%')
                </if>

                <if test="accountAge != null and accountAge!=''">
                    and account_age = #{accountAge}
                </if>
                <if test="identNo != null and identNo!=''">
                    and ident_no = #{identNo}
                </if>

                <if test="collectStatus != null and collectStatus!=''">
                    and collect_status = #{collectStatus}
                </if>

                <if test="caseType != null and caseType!=''">
                    and case_type = #{caseType}
                </if>

                <if test="archiveNo != null and archiveNo!=''">
                    and archive_no = #{archiveNo}
                </if>

                <if test="newCase != null and newCase!=''">
                    and new_case = #{newCase}
                </if>
                <if test="repayStatus != null and repayStatus!=''">
                    and repay_status = #{repayStatus}
                </if>
                <if test="remark != null and remark!=''">
                    and remark = #{remark}
                </if>

                <if test="telName != null and telName!=''">
                    AND tel_name like CONCAT('%',#{telName},'%')
                </if>

                <if test="telPhone != null and telPhone!=''">
                    AND tel_phone like CONCAT('%',#{telPhone},'%')
                </if>

                <if test="collectPhoneAddr != null and collectPhoneAddr!=''">
                    AND tel_phone like CONCAT('%',#{collectPhoneAddr},'%')
                </if>

                <if test="nextFollDateStart != null and nextFollDateStart!=''">
                    <![CDATA[   and DATE_FORMAT(next_foll_date, '%Y-%m-%d')>=  DATE_FORMAT(#{nextFollDateStart}, '%Y-%m-%d')   ]]>
                </if>
                <if test="nextFollDateEnd != null and nextFollDateEnd!=''" >
                    <![CDATA[   and DATE_FORMAT(next_foll_date, '%Y-%m-%d')<=  DATE_FORMAT(#{nextFollDateEnd}, '%Y-%m-%d')   ]]>
                </if>

                <if test="lastFollDateStart != null and lastFollDateStart!=''">
                    <![CDATA[   and DATE_FORMAT(last_foll_date, '%Y-%m-%d')>=  DATE_FORMAT(#{lastFollDateStart}, '%Y-%m-%d')   ]]>
                </if>
                <if test="lastFollDateEnd != null and lastFollDateEnd!=''" >
                    <![CDATA[   and DATE_FORMAT(last_foll_date, '%Y-%m-%d')<=  DATE_FORMAT(#{lastFollDateEnd}, '%Y-%m-%d')   ]]>
                </if>

                <if test="bailStartDate != null and bailStartDate!=''">
                    <![CDATA[   and DATE_FORMAT(bail_date, '%Y-%m-%d')>=  DATE_FORMAT(#{bailStartDate}, '%Y-%m-%d')   ]]>
                </if>
                <if test="bailEndDate != null and bailEndDate!=''" >
                    <![CDATA[   and DATE_FORMAT(bail_date, '%Y-%m-%d')<=  DATE_FORMAT(#{bailEndDate}, '%Y-%m-%d')   ]]>
                </if>
                <if test="expectTimeStart != null and expectTimeStart!=''">
                    <![CDATA[   and DATE_FORMAT(expect_time, '%Y-%m-%d')>=  DATE_FORMAT(#{expectTimeStart}, '%Y-%m-%d')   ]]>
                </if>
                <if test="expectTimeEnd != null and expectTimeEnd!=''" >
                    <![CDATA[   and DATE_FORMAT(expect_time, '%Y-%m-%d')<=  DATE_FORMAT(#{expectTimeEnd}, '%Y-%m-%d')   ]]>
                </if>
                <if test="collectStartTime != null and collectStartTime!=''">
                    <![CDATA[   and DATE_FORMAT(collect_time, '%Y-%m-%d')>=  DATE_FORMAT(#{collectStartTime}, '%Y-%m-%d')   ]]>
                </if>
                <if test="collectEndTime != null and collectEndTime!=''" >
                    <![CDATA[   and DATE_FORMAT(collect_time, '%Y-%m-%d')<=  DATE_FORMAT(#{collectEndTime}, '%Y-%m-%d')   ]]>
                </if>

                <if test="caseDateStart != null and caseDateStart!=''">
                    <![CDATA[   and DATE_FORMAT(case_date, '%Y-%m-%d')>=  DATE_FORMAT(#{caseDateStart}, '%Y-%m-%d')   ]]>
                </if>
                <if test="caseDateEnd != null and caseDateEnd!=''" >
                    <![CDATA[   and DATE_FORMAT(case_date, '%Y-%m-%d')<=  DATE_FORMAT(#{caseDateEnd}, '%Y-%m-%d')   ]]>
                </if>

                <if test="repayTimeStart != null and repayTimeStart!=''">
                    <![CDATA[   and DATE_FORMAT(repay_time, '%Y-%m-%d')>=  DATE_FORMAT(#{repayTimeStart}, '%Y-%m-%d')   ]]>
                </if>
                <if test="repayTimeEnd != null and repayTimeEnd!=''" >
                    <![CDATA[   and DATE_FORMAT(repay_time, '%Y-%m-%d')<=  DATE_FORMAT(#{repayTimeEnd}, '%Y-%m-%d')   ]]>
                </if>

                <if test="moneyStart != null and moneyStart!=''">
                    <![CDATA[   and DATE_FORMAT(money, '%Y-%m-%d')>=  DATE_FORMAT(#{moneyStart}, '%Y-%m-%d')   ]]>
                </if>
                <if test="moneyEnd != null and moneyEnd!=''" >
                    <![CDATA[   and DATE_FORMAT(money, '%Y-%m-%d')<=  DATE_FORMAT(#{moneyEnd}, '%Y-%m-%d')   ]]>
                </if>
            </trim>
        </where>
    </select>


    <select id="statisticsCollectionState" parameterType="xyz.zaijushou.zhx.sys.entity.CollectionStatistic" resultType="xyz.zaijushou.zhx.sys.entity.CollectionStatistic">
        SELECT
        dc.collect_status as collectStatus,sum(dc.en_repay_amt) as paidMoney,sum(dc.money) as commisionMoney,
        count(DISTINCT(dc.case_id)) as sumCase
        from
        data_collection dc
        where dc.delete_flag = 0
        <if test="client != null and client !=''">
            and client = #{client}
        </if>
        <if test="batchNo != null and batchNo !=''">
            and batch_no = #{batchNo}
        </if>

        <if test="accountAge != null and accountAge !=''">
            and account_age = #{accountAge}
        </if>
        GROUP BY dc.collect_status
    </select>

    <select id="countStatisticsCollectionState" parameterType="xyz.zaijushou.zhx.sys.entity.CollectionStatistic" resultType="java.lang.Integer">
        SELECT
        count(DISTINCT(dc.collect_status)) as sum
        from
        data_collection dc
        where dc.delete_flag = 0
        <if test="client != null and client !=''">
            and client = #{client}
        </if>
        <if test="batchNo != null and batchNo !=''">
            and batch_no = #{batchNo}
        </if>

        <if test="accountAge != null and accountAge !=''">
            and account_age = #{accountAge}
        </if>
    </select>

    <select id="statisticsCollectionBatch" parameterType="xyz.zaijushou.zhx.sys.entity.CollectionStatistic" resultType="xyz.zaijushou.zhx.sys.entity.CollectionStatistic">
        SELECT
        dc.batch_no as batchNo,sum(dc.en_repay_amt) as paidMoney,sum(dc.money) as commisionMoney,
        count(DISTINCT(dc.case_id)) as sumCase
        from
        data_collection dc
        where dc.delete_flag = 0
        <if test="client != null and client !=''">
            and client = #{client}
        </if>
        <if test="batchNo != null and batchNo !=''">
            and batch_no = #{batchNo}
        </if>

        <if test="accountAge != null and accountAge !=''">
            and account_age = #{accountAge}
        </if>
        <if test="dept != null and dept!=''">
            AND  dept like CONCAT('%',#{dept},'%')
        </if>
        <if test="odv != null and odv!=''">
            AND odv  like CONCAT('%',#{odv},'%')
        </if>
        <if test="targetName != null and targetName!=''">
            AND target_name like CONCAT('%',#{targetName},'%')
        </if>
        GROUP BY dc.batch_no
    </select>

    <select id="countStatisticsCollectionBatch" parameterType="xyz.zaijushou.zhx.sys.entity.CollectionStatistic" resultType="java.lang.Integer">
        SELECT
        count(DISTINCT(dc.batch_no)) as sum
        from
        data_collection dc
        where dc.delete_flag = 0
        <if test="client != null and client !=''">
            and client = #{client}
        </if>
        <if test="batchNo != null and batchNo !=''">
            and batch_no = #{batchNo}
        </if>

        <if test="accountAge != null and accountAge !=''">
            and account_age = #{accountAge}
        </if>
        <if test="dept != null and dept!=''">
            AND  dept like CONCAT('%',#{dept},'%')
        </if>
        <if test="odv != null and odv!=''">
            AND odv  like CONCAT('%',#{odv},'%')
        </if>
        <if test="targetName != null and targetName!=''">
            AND target_name like CONCAT('%',#{targetName},'%')
        </if>
    </select>

    <select id="pageStatisticsCollectionPay" parameterType="xyz.zaijushou.zhx.sys.entity.DataCollectionEntity" resultType="xyz.zaijushou.zhx.sys.entity.DataCollectionEntity">
        SELECT
        dc.batch_no as batchNo,dc.target_name as targetName,dc.seqno,dc.client,dc.account_age as accountAge,
        dc.money,dc.m_val as mVal,dc.bank_amt as bankAmt,dc.bank_time as bankTime,
        IFNULL(dc.bank_amt*dc.m_val,0) as repaidAmtM,
        IFNULL(dc.repay_amt*dc.m_val,0) as repaidBankAmtM,
        dc.repay_amt as repayAmt, dc.repay_time as repayTime,dc.en_repay_amt as enRepayAmt,
        dc.expect_time as expectTime
        from
        data_collection dc
        where dc.delete_flag = 0
        <if test="targetName != null and targetName!=''">
            AND target_name like CONCAT('%',#{targetName},'%')
        </if>
        <if test="dept != null and dept!=''">
            AND  dept like CONCAT('%',#{dept},'%')
        </if>
        <if test="odv != null and odv!=''">
            AND odv  like CONCAT('%',#{odv},'%')
        </if>
        <if test="client != null and client !=''">
            and client = #{client}
        </if>
        <if test="batchNo != null and batchNo !=''">
            and batch_no = #{batchNo}
        </if>

        <if test="accountAge != null and accountAge !=''">
            and account_age = #{accountAge}
        </if>

        <if test="repayTimeStart != null and repayTimeStart!=''">
            <![CDATA[   and DATE_FORMAT(dc.repay_time, '%Y-%m-%d')>=  DATE_FORMAT(#{repayTimeStart}, '%Y-%m-%d')   ]]>
        </if>
        <if test="repayTimeEnd != null and repayTimeEnd!=''">
            <![CDATA[   and DATE_FORMAT(dc.repay_time, '%Y-%m-%d')<=  DATE_FORMAT(#{repayTimeEnd}, '%Y-%m-%d')   ]]>
        </if>
        <if test="bankTimeStart != null and bankTimeStart!=''">
            <![CDATA[   and DATE_FORMATd(dc.bank_time, '%Y-%m-%d')>=  DATE_FORMAT(#{bankTimeStart}, '%Y-%m-%d')   ]]>
        </if>
        <if test="bankTimeEnd != null and bankTimeEnd!=''">
            <![CDATA[   and DATE_FORMAT(dc.bank_time, '%Y-%m-%d')<=  DATE_FORMAT(#{bankTimeEnd}, '%Y-%m-%d')   ]]>
        </if>
        <if test="expectTimeStart != null and expectTimeStart!=''">
            <![CDATA[   and DATE_FORMAT(dc.expect_time, '%Y-%m-%d')>=  DATE_FORMAT(#{expectTimeStart}, '%Y-%m-%d')   ]]>
        </if>
        <if test="expectTimeEnd != null and expectTimeEnd!=''">
            <![CDATA[   and DATE_FORMAT(dc.expect_time, '%Y-%m-%d')<=  DATE_FORMAT(#{expectTimeEnd}, '%Y-%m-%d')   ]]>
        </if>

    </select>

    <select id="countStatisticsCollectionPay" parameterType="xyz.zaijushou.zhx.sys.entity.DataCollectionEntity" resultType="java.lang.Integer">
        SELECT
       count(1) as sum
        from
        data_collection dc
        where dc.delete_flag = 0
        <if test="targetName != null and targetName!=''">
            AND target_name like CONCAT('%',#{targetName},'%')
        </if>
        <if test="dept != null and dept!=''">
            AND  dept like CONCAT('%',#{dept},'%')
        </if>
        <if test="odv != null and odv!=''">
            AND odv  like CONCAT('%',#{odv},'%')
        </if>
        <if test="client != null and client !=''">
            and client = #{client}
        </if>
        <if test="batchNo != null and batchNo !=''">
            and batch_no = #{batchNo}
        </if>

        <if test="accountAge != null and accountAge !=''">
            and account_age = #{accountAge}
        </if>

        <if test="repayTimeStart != null and repayTimeStart!=''">
            <![CDATA[   and DATE_FORMAT(dc.repay_time, '%Y-%m-%d')>=  DATE_FORMAT(#{repayTimeStart}, '%Y-%m-%d')   ]]>
        </if>
        <if test="repayTimeEnd != null and repayTimeEnd!=''">
            <![CDATA[   and DATE_FORMAT(dc.repay_time, '%Y-%m-%d')<=  DATE_FORMAT(#{repayTimeEnd}, '%Y-%m-%d')   ]]>
        </if>
        <if test="bankTimeStart != null and bankTimeStart!=''">
            <![CDATA[   and DATE_FORMATd(dc.bank_time, '%Y-%m-%d')>=  DATE_FORMAT(#{bankTimeStart}, '%Y-%m-%d')   ]]>
        </if>
        <if test="bankTimeEnd != null and bankTimeEnd!=''">
            <![CDATA[   and DATE_FORMAT(dc.bank_time, '%Y-%m-%d')<=  DATE_FORMAT(#{bankTimeEnd}, '%Y-%m-%d')   ]]>
        </if>
        <if test="expectTimeStart != null and expectTimeStart!=''">
            <![CDATA[   and DATE_FORMAT(dc.expect_time, '%Y-%m-%d')>=  DATE_FORMAT(#{expectTimeStart}, '%Y-%m-%d')   ]]>
        </if>
        <if test="expectTimeEnd != null and expectTimeEnd!=''">
            <![CDATA[   and DATE_FORMAT(dc.expect_time, '%Y-%m-%d')<=  DATE_FORMAT(#{expectTimeEnd}, '%Y-%m-%d')   ]]>
        </if>

    </select>

    <select id="statisticsCollectionPayM" parameterType="xyz.zaijushou.zhx.sys.entity.CollectionStatistic" resultType="xyz.zaijushou.zhx.sys.entity.CollectionStatistic">
        SELECT
        IFNULL(sum(dc.en_repay_amt),0) as paidMoney , IFNULL(sum(dc.bank_amt),0) as bankAmtC,
        IFNULL(sum(dc.repay_amt),0) as repayAmtP,
        IFNULL(sum(dc.en_repay_amt*dc.m_val),0) as repaidAmt,IFNULL(sum(dc.bank_amt*dc.m_val),0) as repaidBankAmt
        from
        data_collection dc
        where dc.delete_flag = 0

        <if test="monthStart != null and monthStart!=''">
            <![CDATA[   and DATE_FORMAT(dc.repay_time, '%Y-%m-%d')>=  DATE_FORMAT(#{monthStart}, '%Y-%m-%d')   ]]>
        </if>
        <if test="monthEnd != null and monthEnd!=''">
            <![CDATA[   and DATE_FORMAT(dc.repay_time, '%Y-%m-%d')<=  DATE_FORMAT(#{monthEnd}, '%Y-%m-%d')   ]]>
        </if>

        <if test="dept != null and dept!=''">
            AND  dept like CONCAT('%',#{dept},'%')
        </if>
        <if test="odv != null and odv!=''">
            AND odv  like CONCAT('%',#{odv},'%')
        </if>
        <if test="client != null and client !=''">
            and client = #{client}
        </if>
        <if test="batchNo != null and batchNo !=''">
            and batch_no = #{batchNo}
        </if>

        <if test="accountAge != null and accountAge !=''">
            and account_age = #{accountAge}
        </if>

        <if test="repayTimeStart != null and repayTimeStart!=''">
            <![CDATA[   and DATE_FORMAT(dc.repay_time, '%Y-%m-%d')>=  DATE_FORMAT(#{repayTimeStart}, '%Y-%m-%d')   ]]>
        </if>
        <if test="repayTimeEnd != null and repayTimeEnd!=''">
            <![CDATA[   and DATE_FORMAT(dc.repay_time, '%Y-%m-%d')<=  DATE_FORMAT(#{repayTimeEnd}, '%Y-%m-%d')   ]]>
        </if>
        <if test="bankTimeStart != null and bankTimeStart!=''">
            <![CDATA[   and DATE_FORMATd(dc.bank_time, '%Y-%m-%d')>=  DATE_FORMAT(#{bankTimeStart}, '%Y-%m-%d')   ]]>
        </if>
        <if test="bankTimeEnd != null and bankTimeEnd!=''">
            <![CDATA[   and DATE_FORMAT(dc.bank_time, '%Y-%m-%d')<=  DATE_FORMAT(#{bankTimeEnd}, '%Y-%m-%d')   ]]>
        </if>
        <if test="expectTimeStart != null and expectTimeStart!=''">
            <![CDATA[   and DATE_FORMAT(dc.expect_time, '%Y-%m-%d')>=  DATE_FORMAT(#{expectTimeStart}, '%Y-%m-%d')   ]]>
        </if>
        <if test="expectTimeEnd != null and expectTimeEnd!=''">
            <![CDATA[   and DATE_FORMAT(dc.expect_time, '%Y-%m-%d')<=  DATE_FORMAT(#{expectTimeEnd}, '%Y-%m-%d')   ]]>
        </if>
    </select>

    <update id="addColor" parameterType="xyz.zaijushou.zhx.sys.entity.DataCollectionEntity">
        update data_collection set color = #{color}
        where case_id = #{caseId}
    </update>

    <update id="addCollectStatus" parameterType="xyz.zaijushou.zhx.sys.entity.DataCollectionEntity">
        update data_collection set collect_status = #{collectStatus}
        where case_id = #{caseId}
    </update>
</mapper>