<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.zaijushou.zhx.sys.dao.DataBatchMapper">

    <!--插入数据信息-->
    <insert id="saveBatch" parameterType="xyz.zaijushou.zhx.sys.entity.DataBatchEntity">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into data_batch
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="batchNo != null">batch_no,</if>
            <if test="client != null">client,</if>
            <if test="area != null">area,</if>
            <if test="caseTime != null">bail_date,</if>
            <if test="caseType != null">case_type,</if>
            <if test="returnTime != null">expect_time,</if>
            <if test="targetRate != null">target_rate,</if>
            <if test="batchStatus != null">batch_status,</if>
            delete_flag,
            <if test="remark != null">remark,</if>
            create_time,
            <if test="creatUser != null">create_user,</if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="batchNo != null">#{batchNo},</if>
            <if test="client != null">#{client},</if>
            <if test="area != null">#{area},</if>
            <if test="caseTime != null">#{caseTime},</if>
            <if test="caseType != null">#{caseType},</if>
            <if test="returnTime != null">#{returnTime},</if>
            <if test="targetRate != null">#{targetRate},</if>
            <if test="batchStatus != null">#{batchStatus},</if>
            0,
            <if test="remark != null">#{remark},</if>
            now(),
            <if test="creatUser != null">create_user,</if>
        </trim>
    </insert>

    <update id="updateBatch" parameterType="xyz.zaijushou.zhx.sys.entity.DataBatchEntity">
        update data_batch
        set
        <trim suffixOverrides=",">
            <if test="batchNo != null">batch_no =#{batchNo},</if>
            <if test="client != null">client=#{client},</if>
            <if test="area != null">area=#{area},</if>
            <if test="caseTime != null">bail_date=#{caseTime},</if>
            <if test="caseType != null">case_type=#{caseType},</if>
            <if test="returnTime != null">expect_time=#{returnTime},</if>
            <if test="targetRate != null">target_rate=#{targetRate},</if>
            <if test="remark != null">remark=#{remark},</if>
        </trim>
        where
        id = #{id}
    </update>

    <!--通过Id删除数据信息-->
    <delete id="deleteById" parameterType="java.lang.Integer">
       update data_batch set delete_flag=1
        where id = #{id}
    </delete>

    <!--退案-->
    <delete id="returnCase" parameterType="xyz.zaijushou.zhx.sys.entity.DataBatchEntity">
        update data_batch set batch_status=2
        where id = #{id}
    </delete>

    <select id="pageDataBatch" parameterType="xyz.zaijushou.zhx.sys.entity.DataBatchEntity" resultType="xyz.zaijushou.zhx.sys.entity.DataBatchEntity">
        select id,
        batch_no as batchNo,client,area,bail_date as caseTime,case_type as caseType,expect_time as returnTime,target_rate as targetRate,remark,upload_time as uploadTime,batch_status as batchStatus,DATE_FORMAT(create_time,'%Y-%m-%d %H:%i:%S') as createTime,create_user as creatUser,real_time as realReturnTime,
        batch_remark as batchRemark,upload_time as uploadTime,total_amt as totalAmt,user_count as userCount
        from data_batch
        <where>
            delete_flag = 0
            <trim suffixOverrides=",">
                <if test="batchNo != null and batchNo!=''">
                    AND  batch_no like CONCAT('%',#{batchNo},'%')
                </if>
                <if test="batchNoFlag != null and batchNoFlag!=''">
                    and batch_no in
                    <foreach item="item" index="index" collection="batchNos" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </if>
                <if test="clientFlag != null and clientFlag!=''">
                    and client in
                    <foreach item="item" index="index" collection="clients" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </if>
                <if test="batchStatus != null and batchStatus!=''">
                    AND  batch_status like CONCAT('%',#{batchStatus},'%')
                </if>

                <if test="area != null and area!=''">
                    AND area  like CONCAT('%',#{area},'%')
                </if>
                <if test="caseType != null and caseType!=''">
                    AND case_type like CONCAT('%',#{caseType},'%')
                </if>

                <if test="startTime != null and startTime!=''">
                    <![CDATA[   and DATE_FORMAT(bail_date, '%Y-%m-%d')>=  DATE_FORMAT(#{startTime}, '%Y-%m-%d')   ]]>
                </if>
                <if test="endTime != null and endTime!=''" >
                    <![CDATA[   and DATE_FORMAT(bail_date, '%Y-%m-%d')<=  DATE_FORMAT(#{endTime}, '%Y-%m-%d')   ]]>
                </if>
            </trim>
        </where>
        <if test="orderBy != null and orderBy!=''" >
            order by ${orderBy} ${sort}
        </if>
        <if test="orderBy == null and orderBy==''.toString()" >
            order by upload_time asc,create_time desc
        </if>

    </select>

    <select id="countDataBatch" parameterType="xyz.zaijushou.zhx.sys.entity.DataBatchEntity" resultType="java.lang.Integer">
        select count(id) as sum
        from data_batch
        <where>
            delete_flag = 0
            <trim suffixOverrides=",">
                <if test="batchNo != null and batchNo!=''">
                    AND  batch_no like CONCAT('%',#{batchNo},'%')
                </if>
                <if test="batchStatus != null and batchStatus!=''">
                    AND  batch_status like CONCAT('%',#{batchStatus},'%')
                </if>
                <if test="client != null and client!=''">
                    AND client like CONCAT('%',#{client},'%')
                </if>
                <if test="area != null and area!=''">
                    AND area  like CONCAT('%',#{area},'%')
                </if>
                <if test="caseType != null and caseType!=''">
                    AND case_type like CONCAT('%',#{caseType},'%')
                </if>

                <if test="startTime != null and startTime!=''">
                    <![CDATA[   and DATE_FORMAT(bail_date, '%Y-%m-%d')>=  DATE_FORMAT(#{startTime}, '%Y-%m-%d')   ]]>
                </if>
                <if test="endTime != null and endTime!=''" >
                    <![CDATA[   and DATE_FORMAT(bail_date, '%Y-%m-%d')<=  DATE_FORMAT(#{endTime}, '%Y-%m-%d')   ]]>
                </if>
            </trim>
        </where>
    </select>

    <select id="selectBatchById" parameterType="java.lang.Integer" resultType="xyz.zaijushou.zhx.sys.entity.DataBatchEntity">
        select id,
        batch_no as batchNo,client,area,bail_date as caseTime,case_type as caseType,expect_time as returnTime,target_rate as targetRate,remark,upload_time as uploadTime,batch_status as batchStatus,create_user as createUser,real_time as realReturnTime
        from data_batch limit 1
    </select>



    <select id="listAllDataBatch" parameterType="xyz.zaijushou.zhx.sys.entity.DataBatchEntity" resultType="xyz.zaijushou.zhx.sys.entity.DataBatchEntity">
        select id,
        batch_no as batchNo,client,area,bail_date as caseTime,case_type as caseType,expect_time as returnTime,target_rate as targetRate,remark,upload_time as uploadTime,batch_status as batchStatus,DATE_FORMAT(create_time,'%Y-%m-%d %H:%i:%S') as createTime,create_user as createUser,real_time as realReturnTime,
        batch_remark as batchRemark
        from data_batch
        where     delete_flag = 0
    </select>


    <select id="selectBatchNo" parameterType="xyz.zaijushou.zhx.sys.entity.DataBatchEntity" resultType="xyz.zaijushou.zhx.sys.entity.DataBatchEntity">
        select  DISTINCT batch_no as batchNo
        from data_batch
        <where>
            <trim suffixOverrides=",">
                <if test="batchNo != null and batchNo!=''">
                    AND batch_no like CONCAT('%',#{batchNo},'%')
                </if>
            </trim>
        </where>
    </select>


    <select id="totalDataBatch" parameterType="xyz.zaijushou.zhx.sys.entity.DataBatchEntity" resultType="xyz.zaijushou.zhx.sys.entity.DataBatchEntity">
        select id,
        batch_no as batchNo,client,area,bail_date as caseTime,case_type as caseType,expect_time as returnTime,target_rate as targetRate,remark,upload_time as uploadTime,batch_status as batchStatus,DATE_FORMAT(create_time,'%Y-%m-%d %H:%i:%S') as createTime,create_user as creatUser,real_time as realReturnTime,
        batch_remark as batchRemark,upload_time as uploadTime,total_amt as totalAmt,user_count as userCount
        from data_batch
        <where>
            delete_flag = 0
            <trim suffixOverrides=",">
                <if test="batchNo != null and batchNo!=''">
                    AND  batch_no like CONCAT('%',#{batchNo},'%')
                </if>
                <if test="batchStatus != null and batchStatus!=''">
                    AND  batch_status like CONCAT('%',#{batchStatus},'%')
                </if>
                <if test="client != null and client!=''">
                    AND client like CONCAT('%',#{client},'%')
                </if>
                <if test="area != null and area!=''">
                    AND area  like CONCAT('%',#{area},'%')
                </if>
                <if test="caseType != null and caseType!=''">
                    AND case_type like CONCAT('%',#{caseType},'%')
                </if>

                <if test="startTime != null and startTime!=''">
                    <![CDATA[   and DATE_FORMAT(bail_date, '%Y-%m-%d')>=  DATE_FORMAT(#{startTime}, '%Y-%m-%d')   ]]>
                </if>
                <if test="endTime != null and endTime!=''" >
                    <![CDATA[   and DATE_FORMAT(bail_date, '%Y-%m-%d')<=  DATE_FORMAT(#{endTime}, '%Y-%m-%d')   ]]>
                </if>
            </trim>
        </where>
        order by upload_time asc,create_time desc
    </select>

    <select id="selectDataBatch" parameterType="java.util.List" resultType="xyz.zaijushou.zhx.sys.entity.DataBatchEntity">
        select id,
        batch_no as batchNo,client,area,bail_date as caseTime,case_type as caseType,expect_time as returnTime,target_rate as targetRate,remark,upload_time as uploadTime,batch_status as batchStatus,DATE_FORMAT(create_time,'%Y-%m-%d %H:%i:%S') as createTime,create_user as creatUser,real_time as realReturnTime,
        batch_remark as batchRemark,upload_time as uploadTime,total_amt as totalAmt,user_count as userCount
        from data_batch
         where  id in
            <foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                #{item}
            </foreach>
        order by upload_time asc,create_time desc
    </select>

    <update id="updateUploadTimeByBatchNo" parameterType="xyz.zaijushou.zhx.sys.entity.DataBatchEntity">
          update data_batch set upload_time = #{uploadTime},batch_status=1,total_amt = total_amt+#{totalAmt},user_count=user_count+#{userCount} where batch_no = #{batchNo}
    </update>
</mapper>