<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.zaijushou.zhx.sys.dao.DataCaseMapper">

    <!--插入数据信息-->
    <insert id="saveArchive" parameterType="xyz.zaijushou.zhx.sys.entity.DataCaseEntity">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into data_case
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="batchNo != null">batch_no,</if>
            <if test="money != null">money,</if>
            <if test="balance != null">balance,</if>
            <if test="rate != null">rate,</if>
            <if test="remark != null">remark,</if>
            <if test="realReturnTime != null">real_return_time,</if>
            <if test="status != null">status,</if>
            delete_flag,
            create_time,
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="batchNo != null">#{batchNo},</if>
            <if test="money != null">#{money},</if>
            <if test="balance != null">#{balance},</if>
            <if test="rate != null">#{rate},</if>
            <if test="remark != null">#{remark},</if>
            <if test="realReturnTime != null">#{real_return_time},</if>
            <if test="status != null">#{status},</if>
            0,
            now(),
        </trim>
    </insert>

    <update id="updateArchive" parameterType="xyz.zaijushou.zhx.sys.entity.DataArchiveEntity">
        update data_case
        set
        <trim suffixOverrides=",">
            <if test="money != null">money = #{money},</if>
            <if test="balance != null">balance = #{balance},</if>
            <if test="status != null">status = #{status},</if>
        </trim>
        where
        id = #{id}
    </update>

    <!--通过Id删除数据信息-->
    <delete id="deleteById" parameterType="java.lang.Integer">
        update data_case set delete_flag =1
        where id = #{id}
    </delete>

    <select id="pageDataCase" parameterType="xyz.zaijushou.zhx.sys.entity.DataCaseEntity" resultType="xyz.zaijushou.zhx.sys.entity.DataCaseEntity">
        select
        id,money,balance,remark,status,create_time as createTime
        from data_case
        <where>
            <trim suffixOverrides=",">
                <if test="remark != null and remark!=''">
                    remark like CONCAT('%',#{remark},'%')
                </if>
            </trim>
        </where>
    </select>

    <!--数据模块-管理列表查询-->
    <select id="pageCaseList" parameterType="xyz.zaijushou.zhx.sys.entity.DataCaseEntity" resultType="xyz.zaijushou.zhx.sys.entity.DataCaseEntity">
        select da.batch_no as batchNo,da.client,da.collect_area as collectArea,da.dept,da.odv,da.status,da.area,da.expect_time as expectTime,
        da.collect_status as collectStatus , da.account_age as accountAge ,da.seq_no as seqNo,da.case_date as caseDate,da.collect_hand as collectHand,
        da.real_repay_date as realRepayDate ,da.name as name ,da.card_no as cardo,da.ident_no as identNo,da.distribute_time as distributeTime,
        da.money as money,da.balance as balance,da.over_days as overDays,da.pro_repay_date as proPepayDate,da.distribute_history as distributeHistory,
        da.bank_amt as bankAmt,da.en_repay_amt as enRepayAmt,da.pro_repay_date as proRepayDate
        from data_case da LEFT JOIN data_collection dc on da.id = dc.case_id
        <where>
            1 = 1
            <trim suffixOverrides=",">
                <if test="client != null and client!=''">
                    and da.client = #{client}
                </if>
                <if test="batchNo != null and batchNo!=''">
                    and da.batch_no = #{batchNo}
                </if>
                <if test="odv != null and odv!=''">
                    and da.odv = #{odv}
                </if>
                <if test="dept != null and dept!=''">
                    and da.dept = #{dept}
                </if>

                <if test="accountAge != null and accountAge!=''">
                    and da.account_age = #{accountAge}
                </if>
                <if test="realReturnTime != null and realReturnTime!=''">
                    and da.real_return_time = #{realReturnTime}
                </if>
                <if test="seqNo != null and seqNo!=''">
                    and da.seq_no = #{seqNo}
                </if>
                <if test="collectArea != null and collectArea!=''">
                    and da.collect_area = #{collectArea}
                </if>
                <if test="overDays != null and overDays!=''">
                    and da.overDays = #{overDays}
                </if>
                <if test="area != null and area!=''">
                    and da.area = #{area}
                </if>
                <if test="license != null and license!=''">
                    and da.license = #{license}
                </if>
                <if test="expectTime != null and expectTime!=''">
                    and da.expect_time = #{expectTime}
                </if>
                <if test="collectHand != null and collectHand!=''">
                    and da.collect_hand = #{collectHand}
                </if>
                <if test="distributeStatus != null and distributeStatus!=''">
                    and da.distribute_status = #{distributeStatus}
                </if>
                <if test="identNo != null and identNo!=''">
                    and da.identNo = #{identNo}
                </if>
                <if test="vin != null and vin!=''">
                    and da.vin = #{vin}
                </if>
                <if test="name != null and name!=''">
                    and da.name = #{name}
                </if>
                <if test="idenNo != null and idenNo!=''">
                    and da.iden_no = #{idenNo}
                </if>
                <if test="accountAge != null and accountAge!=''">
                    and da.account_age = #{accountAge}
                </if>
                <if test="status != null and status!=''">
                    and da.status = #{status}
                </if>
                <if test="bank != null and bank!=''">
                    and da.bank = #{bank}
                </if>
                <if test="collectDate != null and collectDate!=''">
                    and da.collect_date = #{collectDate}
                </if>
                <if test="collectInfo != null and collectInfo!=''">
                    and dc.collectInfo = #{collectInfo}
                </if>
                <if test="collectStatus != null and collectStatus!=''">
                    and dc.collect_status = #{collectStatus}
                </if>
                <if test="caseType != null and caseType!=''">
                    and da.case_type = #{caseType}
                </if>
                <if test="color != null and color!=''">
                    and da.color = #{color}
                </if>
                <if test="cardNo != null and cardNo!=''">
                    and da.card_no = #{cardNo}
                </if>
                <if test="archiveNo != null and archiveNo!=''">
                    and da.archive_no = #{archiveNo}
                </if>
                <if test="newCase != null and newCase!=''">
                    and da.new_case = #{newCase}
                </if>
                <if test="repayStatus != null and repayStatus!=''">
                    and da.repay_status = #{repayStatus}
                </if>

                <if test="caseDateStart != null and caseDateStart!=''">
                    <![CDATA[   and DATE_FORMAT(da.case_date, '%Y-%m-%d')>=  DATE_FORMAT(#{caseDateStart}, '%Y-%m-%d')   ]]>
                </if>
                <if test="caseDateEnd != null and caseDateEnd!=''" >
                    <![CDATA[   and DATE_FORMAT(da.case_date, '%Y-%m-%d')>=  DATE_FORMAT(#{caseDateEnd}, '%Y-%m-%d')   ]]>
                </if>
                <if test="repayDateStart != null and repayDateStart!=''">
                    <![CDATA[   and DATE_FORMATd(da.repay_date, '%Y-%m-%d')>=  DATE_FORMAT(#{repayDateStart}, '%Y-%m-%d')   ]]>
                </if>
                <if test="repayDateEnd != null and repayDateEnd!=''" >
                    <![CDATA[   and DATE_FORMAT(da.repay_date, '%Y-%m-%d')>=  DATE_FORMAT(#{repayDateEnd}, '%Y-%m-%d')   ]]>
                </if>
                <if test="moneyStart != null and moneyStart!=''">
                    <![CDATA[   and DATE_FORMAT(da.money, '%Y-%m-%d')>=  DATE_FORMAT(#{moneyStart}, '%Y-%m-%d')   ]]>
                </if>
                <if test="moneyEnd != null and moneyEnd!=''" >
                    <![CDATA[   and DATE_FORMAT(da.money, '%Y-%m-%d')>=  DATE_FORMAT(#{moneyEnd}, '%Y-%m-%d')   ]]>
                </if>

                <if test="realRepayDateStart != null and realRepayDateStart!=''">
                    <![CDATA[   and DATE_FORMAT(da.real_return_time, '%Y-%m-%d')>=  DATE_FORMAT(#{realRepayDateStart}, '%Y-%m-%d')   ]]>
                </if>
                <if test="realRepayDateEnd != null and realRepayDateEnd!=''" >
                    <![CDATA[   and DATE_FORMAT(da.real_return_time, '%Y-%m-%d')>=  DATE_FORMAT(#{realRepayDateEnd}, '%Y-%m-%d')   ]]>
                </if>
            </trim>
        </where>
    </select>

    <!--催收模块-我的案件-列表查询-->
    <select id="pageCaseInfo" parameterType="xyz.zaijushou.zhx.sys.entity.DataCaseEntity" resultType="xyz.zaijushou.zhx.sys.entity.DataCaseEntity">
        select
        da.collect_status as collectStatus , da.account_age as accountAge ,da.seq_no as seqNo,da.case_date as caseDate,
        da.real_repay_date as realRepayDate ,da.name as name ,da.card_no as cardo,da.ident_no as identNo,
        da.money as money,da.balance as balance,da.over_days as overDays,da.pro_repay_date as proPepayDate,
        da.bank_amt as bankAmt,dc.collect_info as collectInfo
        from data_case da LEFT JOIN data_collection dc on da.id = dc.case_id
        <where>
            1 = 1
            <trim suffixOverrides=",">
                <if test="client != null and client!=''">
                    and da.client = #{client}
                </if>
                <if test="batchNo != null and batchNo!=''">
                    and da.batch_no = #{batchNo}
                </if>
                <if test="seqNo != null and seqNo!=''">
                    and da.seq_no = #{seqNo}
                </if>
                <if test="name != null and name!=''">
                    and da.name = #{name}
                </if>
                <if test="idenNo != null and idenNo!=''">
                    and da.iden_no = #{idenNo}
                </if>
                <if test="accountAge != null and accountAge!=''">
                    and da.account_age = #{accountAge}
                </if>
                <if test="account != null and account!=''">
                    and da.account = #{account}
                </if>
                <if test="status != null and status!=''">
                    and da.status = #{status}
                </if>
                <if test="collectStatus != null and collectStatus!=''">
                    and da.collect_status = #{collectStatus}
                </if>
                <if test="caseType != null and caseType!=''">
                    and da.case_type = #{caseType}
                </if>
                <if test="color != null and color!=''">
                    and da.color = #{color}
                </if>
                <if test="cardNo != null and cardNo!=''">
                    and da.card_no = #{cardNo}
                </if>
                <if test="archiveNo != null and archiveNo!=''">
                    and da.archive_no = #{archiveNo}
                </if>
                <if test="newCase != null and newCase!=''">
                    and da.new_case = #{newCase}
                </if>
                <if test="repayStatus != null and repayStatus!=''">
                    and da.repay_status = #{repayStatus}
                </if>
                <if test="reduceStatus != null and reduceStatus!=''">
                    and da.reduce_status = #{reduceStatus}
                </if>
                <if test="reportStatus != null and reportStatus!=''">
                    and da.report_status = #{reportStatus}
                </if>

                <if test="caseDateStart != null and caseDateStart!=''">
                    <![CDATA[   and DATE_FORMAT(da.case_date, '%Y-%m-%d')>=  DATE_FORMAT(#{caseDateStart}, '%Y-%m-%d')   ]]>
                </if>
                <if test="caseDateEnd != null and caseDateEnd!=''" >
                    <![CDATA[   and DATE_FORMAT(da.case_date, '%Y-%m-%d')>=  DATE_FORMAT(#{caseDateEnd}, '%Y-%m-%d')   ]]>
                </if>
                <if test="repayDateStart != null and repayDateStart!=''">
                    <![CDATA[   and DATE_FORMATd(da.repay_date, '%Y-%m-%d')>=  DATE_FORMAT(#{repayDateStart}, '%Y-%m-%d')   ]]>
                </if>
                <if test="repayDateEnd != null and repayDateEnd!=''" >
                    <![CDATA[   and DATE_FORMAT(da.repay_date, '%Y-%m-%d')>=  DATE_FORMAT(#{repayDateEnd}, '%Y-%m-%d')   ]]>
                </if>
                <if test="moneyStart != null and moneyStart!=''">
                    <![CDATA[   and DATE_FORMAT(da.money, '%Y-%m-%d')>=  DATE_FORMAT(#{moneyStart}, '%Y-%m-%d')   ]]>
                </if>
                <if test="moneyEnd != null and moneyEnd!=''" >
                    <![CDATA[   and DATE_FORMAT(da.money, '%Y-%m-%d')>=  DATE_FORMAT(#{moneyEnd}, '%Y-%m-%d')   ]]>
                </if>

                <if test="realRepayDateStart != null and realRepayDateStart!=''">
                    <![CDATA[   and DATE_FORMAT(da.real_return_time, '%Y-%m-%d')>=  DATE_FORMAT(#{realRepayDateStart}, '%Y-%m-%d')   ]]>
                </if>
                <if test="realRepayDateEnd != null and realRepayDateEnd!=''" >
                    <![CDATA[   and DATE_FORMAT(da.real_return_time, '%Y-%m-%d')>=  DATE_FORMAT(#{realRepayDateEnd}, '%Y-%m-%d')   ]]>
                </if>
            </trim>
        </where>
    </select>

    <!--统计金额-->
    <select id="sumCaseMoney" parameterType="xyz.zaijushou.zhx.sys.entity.DataCaseEntity" resultType="xyz.zaijushou.zhx.sys.entity.DataCaseEntity">
        select
        id
        from data_case
        <where>
            <trim suffixOverrides=",">
                <if test="remark != null and remark!=''">
                    remark like CONCAT('%',#{remark},'%')
                </if>
            </trim>
        </where>
    </select>

    <update id="sendOdv" parameterType="xyz.zaijushou.zhx.sys.entity.DataCaseEntity">
        update data_case set odv = #{odv}
        where id = #{id}
    </update>

    <update id="updateStatus" parameterType="java.lang.Integer">
        update data_case set status = #{status}
        where id = #{id}
    </update>
</mapper>