<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xyz.zaijushou.zhx.sys.dao.LetterMapper" >
  <resultMap id="BaseResultMap" type="xyz.zaijushou.zhx.sys.entity.Letter" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="case_id" property="caseId" jdbcType="INTEGER" />
    <result column="card_no" property="cardNo" jdbcType="VARCHAR" />
    <result column="ident_no" property="identNo" jdbcType="VARCHAR" />
    <result column="case_date" property="caseDate" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="relation" property="relation" jdbcType="VARCHAR" />
    <result column="address_type" property="addressType" jdbcType="VARCHAR" />
    <result column="synergy_result" property="synergyResult" jdbcType="VARCHAR" />
    <result column="apply_context" property="applyContext" jdbcType="VARCHAR" />
    <result column="synergy_date" property="synergyDate" jdbcType="VARCHAR" />
    <result column="synergyer" property="synergyer" jdbcType="VARCHAR" />
    <result column="delete_flag" property="deleteFlag" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="DATE" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, case_id as caseId, card_no as cardNo, ident_no as identNo, case_date as caseDate, address, name, relation, address_type as addressType,
    apply_context as applyContext,applyer as applyer,apply_date as applyDate,
    synergy_result as synergyResult, apply_context  as applyContext, synergy_date as synergyDate, synergyer, delete_flag as deleteFlag, create_date as createDate,
    create_user
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from letter
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from letter
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="xyz.zaijushou.zhx.sys.entity.Letter" >
    insert into letter (id, case_id, card_no, 
      ident_no, case_date, address, 
      name, relation, address_type, 
      synergy_result, apply_context, synergy_date, 
      synergyer, delete_flag, create_date,status,module,applyer,relationer,periods)
    values (#{id,jdbcType=INTEGER}, #{caseId,jdbcType=INTEGER}, #{cardNo,jdbcType=VARCHAR}, 
      #{identNo,jdbcType=VARCHAR}, #{caseDate,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{relation,jdbcType=VARCHAR}, #{addressType,jdbcType=VARCHAR}, 
      #{synergyResult,jdbcType=VARCHAR}, #{applyContext,jdbcType=VARCHAR}, #{synergyDate,jdbcType=VARCHAR}, 
      #{synergyer,jdbcType=VARCHAR}, #{deleteFlag,jdbcType=INTEGER}, #{createDate,jdbcType=INTEGER}, #{status,jdbcType=INTEGER},
       #{module,jdbcType=VARCHAR},#{applyer,jdbcType=VARCHAR},#{relationer,jdbcType=VARCHAR},#{periods,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="xyz.zaijushou.zhx.sys.entity.Letter" >
    insert into letter
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="caseId != null" >
        case_id,
      </if>
      <if test="cardNo != null" >
        card_no,
      </if>
      <if test="identNo != null" >
        ident_no,
      </if>
      <if test="caseDate != null" >
        case_date,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="relation != null" >
        relation,
      </if>
      <if test="addressType != null" >
        address_type,
      </if>
      <if test="synergyResult != null" >
        synergy_result,
      </if>
      <if test="applyContext != null" >
        apply_context,
      </if>
      <if test="synergyDate != null" >
        synergy_date,
      </if>
      <if test="synergyer != null" >
        synergyer,
      </if>
      <if test="deleteFlag != null" >
        delete_flag,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="periods != null" >
        periods,
      </if>

    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="caseId != null" >
        #{caseId,jdbcType=INTEGER},
      </if>
      <if test="cardNo != null" >
        #{cardNo,jdbcType=VARCHAR},
      </if>
      <if test="identNo != null" >
        #{identNo,jdbcType=VARCHAR},
      </if>
      <if test="caseDate != null" >
        #{caseDate,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="relation != null" >
        #{relation,jdbcType=VARCHAR},
      </if>
      <if test="addressType != null" >
        #{addressType,jdbcType=VARCHAR},
      </if>
      <if test="synergyResult != null" >
        #{synergyResult,jdbcType=VARCHAR},
      </if>
      <if test="applyContext != null" >
        #{applyContext,jdbcType=VARCHAR},
      </if>
      <if test="synergyDate != null" >
        #{synergyDate,jdbcType=VARCHAR},
      </if>
      <if test="synergyer != null" >
        #{synergyer,jdbcType=VARCHAR},
      </if>
      <if test="deleteFlag != null" >
        #{deleteFlag,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=INTEGER},
      </if>
      <if test="periods != null" >
        #{periods,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="xyz.zaijushou.zhx.sys.entity.Letter" >
    update letter
    <set >
      <if test="caseId != null" >
        case_id = #{caseId,jdbcType=INTEGER},
      </if>
      <if test="cardNo != null" >
        card_no = #{cardNo,jdbcType=VARCHAR},
      </if>
      <if test="identNo != null" >
        ident_no = #{identNo,jdbcType=VARCHAR},
      </if>
      <if test="caseDate != null" >
        case_date = #{caseDate,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="relation != null" >
        relation = #{relation,jdbcType=VARCHAR},
      </if>
      <if test="addressType != null" >
        address_type = #{addressType,jdbcType=VARCHAR},
      </if>
      <if test="synergyResult != null" >
        synergy_result = #{synergyResult,jdbcType=VARCHAR},
      </if>
      <if test="applyContext != null" >
        apply_context = #{applyContext,jdbcType=VARCHAR},
      </if>
      <if test="synergyDate != null" >
        synergy_date = #{synergyDate,jdbcType=VARCHAR},
      </if>
      <if test="synergyer != null" >
        synergyer = #{synergyer,jdbcType=VARCHAR},
      </if>
      <if test="deleteFlag != null" >
        delete_flag = #{deleteFlag,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=INTEGER},
      </if>

    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="xyz.zaijushou.zhx.sys.entity.Letter" >
    update letter
    set case_id = #{caseId,jdbcType=INTEGER},
      card_no = #{cardNo,jdbcType=VARCHAR},
      ident_no = #{identNo,jdbcType=VARCHAR},
      case_date = #{caseDate,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      relation = #{relation,jdbcType=VARCHAR},
      address_type = #{addressType,jdbcType=VARCHAR},
      synergy_result = #{synergyResult,jdbcType=VARCHAR},
      apply_context = #{applyContext,jdbcType=VARCHAR},
      synergy_date = #{synergyDate,jdbcType=VARCHAR},
      synergyer = #{synergyer,jdbcType=VARCHAR},
      delete_flag = #{deleteFlag,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <update id="confirmSynergy" parameterType="xyz.zaijushou.zhx.sys.entity.Letter">
        update letter set synergy_date=#{synergyDate},synergy_result=#{synergyResult} where id =#{id}
  </update>

  <update id="cancelLetter" parameterType="xyz.zaijushou.zhx.sys.entity.Letter">
    update letter set status=2 where id =#{id}
  </update>

  <update id="confirmLetter" parameterType="xyz.zaijushou.zhx.sys.entity.Letter">
    update letter set status=1 where id =#{id}
  </update>

  <select id="pageDataLetter" parameterType="xyz.zaijushou.zhx.sys.entity.Letter" resultType="xyz.zaijushou.zhx.sys.entity.Letter" >
        select * from (
        select t.id,t.case_id as caseId,d.collect_status as collectStatus,d.seq_no as seqNo,d.name,d.money as caseAmt,d.en_repay_amt as repayAmt,
             t.address,(select count(id) from letter where id=t.case_id ) as times,t.apply_context as applyContext,t.address_type as addressType,
            t.module,t.relationer,d.synergy_date as applyDate,d.odv as applyer,t.synergy_date as synergyDate,t.synergyer,t.synergy_result as synergyResult
        from letter t LEFT  JOIN data_case d on t.case_id = d.id
        <where>
          t.status = #{status} and d.delete_flag=0
          <trim suffixOverrides=",">
            <if test="collectArea != null and collectArea!=''">
              AND  d.collection_area = #{collectArea}
            </if>
            <if test="clientFlag != null and clientFlag!=''">
              and d.client in
              <foreach item="item" index="index" collection="clients" open="(" separator="," close=")">
                #{item}
              </foreach>
            </if>
            <if test="batchNoFlag != null and batchNoFlag!=''">
              and d.batch_no in
              <foreach item="item" index="index" collection="batchNos" open="(" separator="," close=")">
                #{item}
              </foreach>
            </if>
            <if test="seqno != null and seqno!=''">
              AND  d.seq_no like CONCAT('%',#{seqno},'%')
            </if>
            <if test="module != null and module!=''">
              AND  t.module = #{module}
            </if>
            <if test="name != null and name!=''">
              AND  t.name like CONCAT('%',#{name},'%')
            </if>
            <if test="applyer != null and applyer!=''">
              AND  d.odv = #{applyer}
            </if>
            <if test="caseStatus != null and caseStatus!=''">
              AND  d.status  = #{caseStatus}
            </if>
            <if test="caseAmtStart != null and caseAmtStart!=''">
              <![CDATA[   and d.money>=  #{caseAmtStart}  ]]>
            </if>
            <if test="caseAmtEnd != null and caseAmtEnd!=''" >
              <![CDATA[   and d.money <=  #{caseAmtEnd}   ]]>
            </if>
            <if test="applyDateStart != null and applyDateStart!=''">
              <![CDATA[   and DATE_FORMAT(d.synergy_date, '%Y-%m-%d')>=  DATE_FORMAT(#{applyDateStart}, '%Y-%m-%d')   ]]>
            </if>
            <if test="applyDateEnd != null and applyDateEnd!=''" >
              <![CDATA[   and DATE_FORMAT(d.synergy_date, '%Y-%m-%d')<=  DATE_FORMAT(#{applyDateEnd}, '%Y-%m-%d')   ]]>
            </if>
          </trim>
        </where>
    ) s
    order by ${orderBy} ${sort}

  </select>


  <select id="pageDataLetter2" parameterType="xyz.zaijushou.zhx.sys.entity.Letter" resultType="xyz.zaijushou.zhx.sys.entity.Letter" >
    select * from (
    select t.id,d.collect_status as collectStatus,d.seq_no as seqNo,t.name,d.money as caseAmt,d.en_repay_amt as repayAmt,
    t.address,(select count(id) from letter where id=t.case_id ) as times,t.apply_context as applyContext,t.address_type as addressType,
    t.module,t.relationer,d.synergy_date as applyDate,d.odv as applyer,t.synergy_date as synergyDate,t.synergyer,t.synergy_result as synergyResult
    from letter t LEFT  JOIN data_case d on t.case_id = d.id
    <where>
      t.status in (1,2)
      <trim suffixOverrides=",">
        <if test="collectArea != null and collectArea!=''">
          AND  d.collection_area = #{collectArea}
        </if>
        <if test="clientFlag != null and clientFlag!=''">
          and d.client in
          <foreach item="item" index="index" collection="clients" open="(" separator="," close=")">
            #{item}
          </foreach>
        </if>
        <if test="batchNoFlag != null and batchNoFlag!=''">
          and d.batch_no in
          <foreach item="item" index="index" collection="batchNos" open="(" separator="," close=")">
            #{item}
          </foreach>
        </if>
        <if test="seqno != null and seqno!=''">
          AND  d.seq_no like CONCAT('%',#{seqno},'%')
        </if>
        <if test="module != null and module!=''">
          AND  t.module = #{module}
        </if>
        <if test="name != null and name!=''">
          AND  t.name like CONCAT('%',#{name},'%')
        </if>
        <if test="applyer != null and applyer!=''">
          AND  d.odv = #{applyer}
        </if>
        <if test="caseStatus != null and caseStatus!=''">
          AND  d.status  = #{caseStatus}
        </if>
        <if test="caseAmtStart != null and caseAmtStart!=''">
          <![CDATA[   and d.money>=  #{caseAmtStart}  ]]>
        </if>
        <if test="caseAmtEnd != null and caseAmtEnd!=''" >
          <![CDATA[   and d.money <=  #{caseAmtEnd}   ]]>
        </if>
        <if test="applyDateStart != null and applyDateStart!=''">
          <![CDATA[   and DATE_FORMAT(d.synergy_date, '%Y-%m-%d')>=  DATE_FORMAT(#{applyDateStart}, '%Y-%m-%d')   ]]>
        </if>
        <if test="applyDateEnd != null and applyDateEnd!=''" >
          <![CDATA[   and DATE_FORMAT(d.synergy_date, '%Y-%m-%d')<=  DATE_FORMAT(#{applyDateEnd}, '%Y-%m-%d')   ]]>
        </if>
      </trim>
    </where>
    ) s
    order by ${orderBy} ${sort}

  </select>


  <select id="findByCaseId" parameterType="xyz.zaijushou.zhx.sys.entity.Letter" resultType="xyz.zaijushou.zhx.sys.entity.Letter">
    select
    <include refid="Base_Column_List" />
    from letter
    where case_id = #{caseId}
  </select>

  <select id="totalExportList" parameterType="xyz.zaijushou.zhx.sys.entity.Letter" resultType="xyz.zaijushou.zhx.sys.entity.LetterExportEntity">
   select * from ( select
        t.id,d.batch_no as batchNo,d.client,d.seq_no as seqNo,d.name,t.address_type as addressType,t.address,t.applyer,t.apply_date as applyDate,t.apply_context as applyContext,
    t.synergy_date as synergyDate,t.synergyer,t.synergy_result as synergyResult,d.card_no as cardNo,d.card_type as cardType,d.ident_no as identNo,d.account,
    d.currency_type as currencyType,d.archive_no as archiveNo,d.money,d.en_repay_amt as enRepayAmt,d.principle,d.last_repay_date as lastRepayDate,d.case_date as caseDate,
    d.odv,d.credit_line as creditLine,d.home_address as homeAddress,d.home_tel_number as homeTelNumber,d.tel,d.unit_name as unitName,d.unit_address as unitAddress,
    d.unit_tel_number as unitTelNumber
    from letter t LEFT  JOIN data_case d on t.case_id = d.id
    <where>
      d.delete_flag=0
      <trim suffixOverrides=",">
        <if test="collectArea != null and collectArea!=''">
          AND  d.collection_area = #{collectArea}
        </if>
        <if test="clientFlag != null and clientFlag!=''">
          and d.client in
          <foreach item="item" index="index" collection="clients" open="(" separator="," close=")">
            #{item}
          </foreach>
        </if>
        <if test="batchNoFlag != null and batchNoFlag!=''">
          and d.batch_no in
          <foreach item="item" index="index" collection="batchNos" open="(" separator="," close=")">
            #{item}
          </foreach>
        </if>
        <if test="seqno != null and seqno!=''">
          AND  d.seq_no like CONCAT('%',#{seqno},'%')
        </if>
        <if test="module != null and module!=''">
          AND  t.module = #{module}
        </if>
        <if test="name != null and name!=''">
          AND  t.name like CONCAT('%',#{name},'%')
        </if>
        <if test="applyer != null and applyer!=''">
          AND  d.odv = #{applyer}
        </if>
        <if test="caseStatus != null and caseStatus!=''">
          AND  d.status  = #{caseStatus}
        </if>
        <if test="caseAmtStart != null and caseAmtStart!=''">
          <![CDATA[   and d.money>=  #{caseAmtStart}  ]]>
        </if>
        <if test="caseAmtEnd != null and caseAmtEnd!=''" >
          <![CDATA[   and d.money <=  #{caseAmtEnd}   ]]>
        </if>
        <if test="applyDateStart != null and applyDateStart!=''">
          <![CDATA[   and DATE_FORMAT(d.synergy_date, '%Y-%m-%d')>=  DATE_FORMAT(#{applyDateStart}, '%Y-%m-%d')   ]]>
        </if>
        <if test="applyDateEnd != null and applyDateEnd!=''" >
          <![CDATA[   and DATE_FORMAT(d.synergy_date, '%Y-%m-%d')<=  DATE_FORMAT(#{applyDateEnd}, '%Y-%m-%d')   ]]>
        </if>
      </trim>
    </where>
    ) s
    order by ${orderBy} ${sort}
  </select>

  <select id="pageExportList" parameterType="xyz.zaijushou.zhx.sys.entity.Letter" resultType="xyz.zaijushou.zhx.sys.entity.LetterExportEntity">
    select * from (select
    t.id,d.batch_no as batchNo,d.client,d.seq_no as seqNo,d.name,t.address_type as
    addressType,t.address,t.applyer,t.apply_date as applyDate,t.apply_context as applyContext,
    t.synergy_date as synergyDate,t.synergyer,t.synergy_result as synergyResult,d.card_no as cardNo,d.card_type as
    cardType,d.ident_no as identNo,d.account,
    d.currency_type as currencyType,d.archive_no as archiveNo,d.money,d.en_repay_amt as
    enRepayAmt,d.principle,d.last_repay_date as lastRepayDate,d.case_date as caseDate,
    d.odv,d.credit_line as creditLine,d.home_address as homeAddress,d.home_tel_number as homeTelNumber,d.tel,d.unit_name
    as unitName,d.unit_address as unitAddress,
    d.unit_tel_number as unitTelNumber
    from letter t LEFT JOIN data_case d on t.case_id = d.id
    <where>
      d.delete_flag=0
      <trim suffixOverrides=",">
        <if test="collectArea != null and collectArea!=''">
          AND d.collection_area = #{collectArea}
        </if>
        <if test="clientFlag != null and clientFlag!=''">
          and d.client in
          <foreach item="item" index="index" collection="clients" open="(" separator="," close=")">
            #{item}
          </foreach>
        </if>
        <if test="batchNoFlag != null and batchNoFlag!=''">
          and d.batch_no in
          <foreach item="item" index="index" collection="batchNos" open="(" separator="," close=")">
            #{item}
          </foreach>
        </if>
        <if test="seqno != null and seqno!=''">
          AND d.seq_no like CONCAT('%',#{seqno},'%')
        </if>
        <if test="module != null and module!=''">
          AND t.module = #{module}
        </if>
        <if test="name != null and name!=''">
          AND t.name like CONCAT('%',#{name},'%')
        </if>
        <if test="applyer != null and applyer!=''">
          AND d.odv = #{applyer}
        </if>
        <if test="caseStatus != null and caseStatus!=''">
          AND d.status = #{caseStatus}
        </if>
        <if test="caseAmtStart != null and caseAmtStart!=''">
          <![CDATA[   and d.money>=  #{caseAmtStart}  ]]>
        </if>
        <if test="caseAmtEnd != null and caseAmtEnd!=''">
          <![CDATA[   and d.money <=  #{caseAmtEnd}   ]]>
        </if>
        <if test="applyDateStart != null and applyDateStart!=''">
          <![CDATA[   and DATE_FORMAT(d.synergy_date, '%Y-%m-%d')>=  DATE_FORMAT(#{applyDateStart}, '%Y-%m-%d')   ]]>
        </if>
        <if test="applyDateEnd != null and applyDateEnd!=''">
          <![CDATA[   and DATE_FORMAT(d.synergy_date, '%Y-%m-%d')<=  DATE_FORMAT(#{applyDateEnd}, '%Y-%m-%d')   ]]>
        </if>
      </trim>
    </where>
    ) s
    order by ${orderBy} ${sort}
  </select>
</mapper>