<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.zaijushou.zhx.sys.dao.ReduceMapper">


    <!--插入数据信息-->
    <insert id="saveReduce" parameterType="xyz.zaijushou.zhx.sys.entity.DataCollectionEntity" >
        insert into data_collection
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="area != null">area,</if>
            <if test="client != null">client,</if>
            <if test="batchNo != null">batch_no,</if>
            <if test="seqno != null">seqno,</if>
            <if test="targetName != null">target_name,</if>
            <if test="accountAge != null">account_age,</if>
            <if test="odv != null">odv,</if>
            <if test="collectStatus != null">collect_status,</if>
            <if test="money != null">money,</if>
            <if test="approveRepayAmt != null">approve_repay_amt,</if>
            <if test="reduceValidTime != null">reduce_valid_time,</if>
            <if test="reduceReferTime != null">reduce_refer_time,</if>
            <if test="reduceStatus != null">reduce_status,</if>
            <if test="reduceResult != null">reduce_result,</if>
            <if test="enRepayAmt != null">en_repay_amt,</if>
            <if test="reduceUpdateTime != null">reduce_update_time,</if>
            delete_flag,
            create_time,
            reduce_flag,
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="area != null">area,</if>
            <if test="client != null">#{client},</if>
            <if test="batchNo != null">#{batchNo},</if>
            <if test="seqno != null">#{seqno},</if>
            <if test="targetName != null">#{targetName},</if>
            <if test="accountAge != null">#{accountAge},</if>
            <if test="odv != null">#{odv},</if>
            <if test="collectStatus != null">#{collectStatus},</if>
            <if test="money != null">#{money},</if>
            <if test="approveRepayAmt != null">#{approveRepayAmt},</if>
            <if test="reduceValidTime != null">#{reduceValidTime},</if>
            <if test="reduceReferTime != null">#{reduceReferTime},</if>
            <if test="reduceStatus != null">#{reduceStatus},</if>
            <if test="reduceResult != null">#{reduceResult},</if>
            <if test="enRepayAmt != null">#{enRepayAmt},</if>
            <if test="reduceUpdateTime != null">#{reduceUpdateTime},</if>
            0,
            now(),
            0,
        </trim>
    </insert>

    <update id="updateReduce" parameterType="xyz.zaijushou.zhx.sys.entity.DataCollectionEntity">
      update data_collection
       set
        <trim suffixOverrides=",">
        <if test="area != null">area = #{area},</if>
        <if test="client != null">client = #{client},</if>
        <if test="batchNo != null">batch_no = #{batchNo},</if>
        <if test="seqno != null">seqno = #{seqno},</if>
        <if test="targetName != null">target_name = #{targetName},</if>
        <if test="accountAge != null">account_age = #{accountAge},</if>
        <if test="odv != null">odv = #{odv},</if>
        <if test="collectStatus != null">collect_status = #{collectStatus},</if>
        <if test="money != null">money = #{money},</if>
        <if test="approveRepayAmt != null">approve_repay_amt = #{approveRepayAmt},</if>
        <if test="reduceValidTime != null">reduce_valid_time = #{reduceValidTime},</if>
        <if test="reduceReferTime != null">reduce_refer_time = #{reduceReferTime},</if>
        <if test="reduceStatus != null">reduce_status = #{reduceStatus},</if>
        <if test="reduceResult != null">reduce_result = #{reduceResult},</if>
        <if test="enRepayAmt != null">en_repay_amt = #{enRepayAmt},</if>
        <if test="reduceUpdateTime != null">reduce_update_time = #{reduceUpdateTime},</if>
        <if test="reduceFlag != null">reduce_flag = #{reduceFlag},</if>
        </trim>
        where
        id = #{id}
    </update>

    <update id="updateStatus" parameterType="xyz.zaijushou.zhx.sys.entity.DataCollectionEntity">
        update data_collection
        set reduce_flag = #{reduceFlag}
        where
        id in
        <foreach item="item" index="index" collection="ids" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

    <select id="findById" parameterType="xyz.zaijushou.zhx.sys.entity.DataCollectionEntity" resultType="xyz.zaijushou.zhx.sys.entity.DataCollectionEntity">
        select
         seqno,target_name as targetName,collect_status as collectStatus,account_age as accountAge ,
        complete_time as completeTime,complete_user as completeUser,approve_repay_amt,reduce_valid_time as reduceValidTime,
        reduce_status as reduceStatus,reduce_result as reduceResult,en_repay_amt as enRepayAmt,
        reduce_update_time as reduceUpdateTime,money,area,client,batch_no as batchNo,odv
        from data_collection
        where id = #{id}
    </select>

    <select id="pageReduce" parameterType="xyz.zaijushou.zhx.sys.entity.DataCollectionEntity" resultType="xyz.zaijushou.zhx.sys.entity.DataCollectionEntity">
        select
        seqno,target_name as targetName,collect_status as collectStatus,account_age as accountAge ,
        complete_time as completeTime,complete_user as completeUser,approve_repay_amt,reduce_valid_time as reduceValidTime,
        reduce_status as reduceStatus,reduce_result as reduceResult,en_repay_amt as enRepayAmt,
        reduce_update_time as reduceUpdateTime,money,area,client,batch_no as batchNo,odv
        from data_collection
        where delete_flag = 0 and reduce_flag != 1
        <if test="area != null and area!=''">
            AND area like CONCAT('%',#{area},'%')
        </if>
        <if test="seqno != null and seqno!=''">
            AND seqno like CONCAT('%',#{seqno},'%')
        </if>
        <if test="targetName != null and targetName!=''">
            AND target_name like CONCAT('%',#{targetName},'%')
        </if>
        <if test="identNo != null and identNo!=''">
            and ident_no = #{identNo}
        </if>
        <if test="collectStatus != null and collectStatus!=''">
            and collect_status = #{collectStatus}
        </if>
        <if test="client != null and client!=''">
            AND client like CONCAT('%',#{client},'%')
        </if>
        <if test="batchNo != null and batchNo !=''">
            and batch_no = #{batchNo}
        </if>
        <if test="accountAge != null and accountAge !=''">
            and account_age = #{accountAge}
        </if>
        <if test="odv != null and odv!=''">
            AND odv  like CONCAT('%',#{odv},'%')
        </if>
        <if test="reduceStatus != null and reduceStatus!=''">
            and reduce_status = #{reduceStatus}
        </if>

        <if test="completeTimeStart != null and completeTimeStart!=''">
            <![CDATA[   and DATE_FORMAT(complete_time, '%Y-%m-%d')>=  DATE_FORMAT(#{completeTimeStart}, '%Y-%m-%d')   ]]>
        </if>
        <if test="completeTimeEnd != null and completeTimeEnd!=''" >
            <![CDATA[   and DATE_FORMAT(complete_time, '%Y-%m-%d')<=  DATE_FORMAT(#{completeTimeEnd}, '%Y-%m-%d')   ]]>
        </if>

        <if test="reduceReferTimeStart != null and reduceReferTimeStart!=''">
            <![CDATA[   and DATE_FORMAT(reduce_refer_time, '%Y-%m-%d')>=  DATE_FORMAT(#{reduceReferTimeStart}, '%Y-%m-%d')   ]]>
        </if>
        <if test="reduceReferTimeEnd != null and reduceReferTimeEnd!=''" >
            <![CDATA[   and DATE_FORMAT(reduce_refer_time, '%Y-%m-%d')<=  DATE_FORMAT(#{reduceReferTimeEnd}, '%Y-%m-%d')   ]]>
        </if>

        <if test="reduceValidTimeStart != null and reduceValidTimeStart!=''">
            <![CDATA[   and DATE_FORMAT(reduce_valid_time, '%Y-%m-%d')>=  DATE_FORMAT(#{reduceValidTimeStart}, '%Y-%m-%d')   ]]>
        </if>
        <if test="reduceValidTimeEnd != null and reduceValidTimeEnd!=''" >
            <![CDATA[   and DATE_FORMAT(reduce_valid_time, '%Y-%m-%d')<=  DATE_FORMAT(#{reduceValidTimeEnd}, '%Y-%m-%d')   ]]>
        </if>
    </select>
</mapper>