<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.zaijushou.zhx.sys.dao.ReduceMapper">


    <!--插入数据信息-->
    <insert id="saveReduce" parameterType="xyz.zaijushou.zhx.sys.entity.DataCollectionEntity" >
        insert into data_case_reduce
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="seqno != null">seqno,</if>
            <if test="approveRepayAmt != null">approve_repay_amt,</if>
            <if test="reduceValidTime != null">reduce_valid_time,</if>
            <if test="reduceResult != null">reduce_result,</if>
            reduce_flag,
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="seqno != null">#{seqno},</if>
            <if test="approveRepayAmt != null">#{approveRepayAmt},</if>
            <if test="reduceValidTime != null">#{reduceValidTime},</if>
            <if test="reduceResult != null">#{reduceResult},</if>
            0,
        </trim>
    </insert>

    <update id="updateReduce" parameterType="xyz.zaijushou.zhx.sys.entity.DataCollectionEntity">
      update data_case_reduce
       set
        <trim suffixOverrides=",">
        <if test="seqno != null">seqno = #{seqno},</if>
        <if test="approveRepayAmt != null">approve_repay_amt = #{approveRepayAmt},</if>
        <if test="reduceValidTime != null">reduce_valid_time = #{reduceValidTime},</if>
        <if test="reduceResult != null">reduce_result = #{reduceResult},</if>
        <if test="reduceFlag != null">reduce_flag = #{reduceFlag},</if>
        </trim>
        where
        id = #{id}
    </update>

    <update id="updateStatus" parameterType="xyz.zaijushou.zhx.sys.entity.DataCollectionEntity">
        update data_case_reduce
        set reduce_flag = #{reduceFlag}
        where
        id in
        <foreach item="item" index="index" collection="ids" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

    <select id="findById" parameterType="xyz.zaijushou.zhx.sys.entity.DataCollectionEntity" resultType="xyz.zaijushou.zhx.sys.entity.DataCollectionEntity">
         select
        dc.collect_area as area,dc.client,dc.batch_no as batchNo,dc.name as targetName,dc.overdue_bill_time as accountAge,
        dc.complete_time as completeTime,dcr.seqno,dc.odv,dc.create_time as reduceReferTime,dc.reduce_status as reduceStatus,
        dcr.reduce_valid_time as reduceValidTime,dc.complete_user as completeUser,dcr.approve_repay_amt as approveRepayAmt,
        dcr.reduce_result as reduceResult,dc.en_repay_amt as enRepayAmt,dc.reduce_update_time as reduceUpdateTime,
        dc.collect_status as collectStatus,dcr.id
        from
        data_case_reduce dcr LEFT JOIN data_case dc on dcr.seqno = dc.seq_no
        where dcr.reduce_flag !=1
        and dcr.id = #{id}
    </select>

    <select id="pageReduce" parameterType="xyz.zaijushou.zhx.sys.entity.DataCollectionEntity" resultType="xyz.zaijushou.zhx.sys.entity.DataCollectionEntity">
        select
        dc.collect_area as area,dc.client,dc.batch_no as batchNo,dc.name as targetName,dc.overdue_bill_time as accountAge,
        dc.complete_time as completeTime,dcr.seqno,dc.odv,dc.create_time as reduceReferTime,dc.reduce_status as reduceStatus,
        dcr.reduce_valid_time as reduceValidTime,dc.complete_user as completeUser,dcr.approve_repay_amt as approveRepayAmt,
        dcr.reduce_result as reduceResult,dc.en_repay_amt as enRepayAmt,dc.reduce_update_time as reduceUpdateTime,
        dc.collect_status as collectStatus,dcr.id
        from
        data_case_reduce dcr LEFT JOIN data_case dc on dcr.seqno = dc.seq_no
        where dcr.reduce_flag !=1
        <if test="area != null and area!=''">
            AND dc.collect_area like CONCAT('%',#{area},'%')
        </if>
        <if test="seqno != null and seqno!=''">
            AND seqno like CONCAT('%',#{seqno},'%')
        </if>
        <if test="targetName != null and targetName!=''">
            AND name like CONCAT('%',#{targetName},'%')
        </if>
        <if test="batchNo != null and batchNo!=''">
            and batch_no = #{batchNo}
        </if>
        <if test="collectStatus != null and collectStatus!=''">
            and collect_status = #{collectStatus}
        </if>
        <if test="client != null and client!=''">
            AND client like CONCAT('%',#{client},'%')
        </if>
        <if test="accountAge != null and accountAge !=''">
            and overdue_bill_time = #{accountAge}
        </if>
        <if test="odv != null and odv!=''">
            AND odv  like CONCAT('%',#{odv},'%')
        </if>
        <if test="reduceStatus != null and reduceStatus!=''">
            and reduce_status = #{reduceStatus}
        </if>

        <if test="completeTimeStart != null and completeTimeStart!=''">
            <![CDATA[   and DATE_FORMAT(complete_time, '%Y-%m-%d')>=  DATE_FORMAT(#{completeTimeStart}, '%Y-%m-%d')   ]]>
        </if>
        <if test="completeTimeEnd != null and completeTimeEnd!=''" >
            <![CDATA[   and DATE_FORMAT(complete_time, '%Y-%m-%d')<=  DATE_FORMAT(#{completeTimeEnd}, '%Y-%m-%d')   ]]>
        </if>

        <if test="reduceReferTimeStart != null and reduceReferTimeStart!=''">
            <![CDATA[   and DATE_FORMAT(dc.create_time, '%Y-%m-%d')>=  DATE_FORMAT(#{reduceReferTimeStart}, '%Y-%m-%d')   ]]>
        </if>
        <if test="reduceReferTimeEnd != null and reduceReferTimeEnd!=''" >
            <![CDATA[   and DATE_FORMAT(dc.create_time, '%Y-%m-%d')<=  DATE_FORMAT(#{reduceReferTimeEnd}, '%Y-%m-%d')   ]]>
        </if>

        <if test="reduceValidTimeStart != null and reduceValidTimeStart!=''">
            <![CDATA[   and DATE_FORMAT(reduce_valid_time, '%Y-%m-%d')>=  DATE_FORMAT(#{reduceValidTimeStart}, '%Y-%m-%d')   ]]>
        </if>
        <if test="reduceValidTimeEnd != null and reduceValidTimeEnd!=''" >
            <![CDATA[   and DATE_FORMAT(reduce_valid_time, '%Y-%m-%d')<=  DATE_FORMAT(#{reduceValidTimeEnd}, '%Y-%m-%d')   ]]>
        </if>
        order by dcr.id desc
    </select>


    <!--插入数据信息-->
    <insert id="saveReduceApply" parameterType="xyz.zaijushou.zhx.sys.entity.DataReduceEntity" >
        insert into data_reduce_apply
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="caseId != null">case_id,</if>
            <if test="payer != null">payer,</if>
            <if test="relation != null">relation,</if>
            <if test="contactWay != null">contact_way,</if>
            <if test="sex != null">sex,</if>
            <if test="age != null">age,</if>
            <if test="visitFlag != null">visit_flag,</if>
            <if test="joinFlag != null">join_flag,</if>
            <if test="connectFlag != null">connect_flag,</if>
            <if test="enRepayAmt != null">en_repay_amt,</if>
            <if test="repayAmt != null">repay_amt,</if>
            <if test="repayTime != null">repay_time,</if>
            <if test="reduceReason != null">reduce_reason,</if>
            <if test="reduceData != null">reduce_data,</if>
            <if test="remark != null">remark,</if>
            delete_flag,
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="caseId != null">#{caseId},</if>
            <if test="payer != null">#{payer},</if>
            <if test="relation != null">#{relation},</if>
            <if test="contactWay != null">#{contactWay},</if>
            <if test="sex != null">#{sex},</if>
            <if test="age != null">#{age},</if>
            <if test="visitFlag != null">#{visitFlag},</if>
            <if test="joinFlag != null">#{joinFlag},</if>
            <if test="connectFlag != null">#{connectFlag},</if>
            <if test="enRepayAmt != null">#{enRepayAmt},</if>
            <if test="repayAmt != null">#{repayAmt},</if>
            <if test="repayTime != null">#{repayTime},</if>
            <if test="reduceReason != null">#{reduceReason},</if>
            <if test="reduceData != null">#{reduceData},</if>
            <if test="remark != null">#{remark},</if>
            0,
        </trim>
    </insert>

    <update id="updateReduceApply" parameterType="xyz.zaijushou.zhx.sys.entity.DataReduceEntity">
        update data_reduce_apply
        set
        <trim suffixOverrides=",">
            <if test="caseId != null"> case_id = #{caseId},</if>
            <if test="payer != null"> payer = #{payer},</if>
            <if test="relation != null"> relation = #{relation},</if>
            <if test="contactWay != null"> contact_way = #{contactWay},</if>
            <if test="sex != null"> sex = #{sex},</if>
            <if test="age != null"> age = #{age},</if>
            <if test="visitFlag != null"> visit_flag = #{visitFlag},</if>
            <if test="joinFlag != null"> join_flag = #{joinFlag},</if>
            <if test="connectFlag != null"> connect_flag = #{connectFlag},</if>
            <if test="enRepayAmt != null"> en_repay_amt = #{enRepayAmt},</if>
            <if test="repayAmt != null"> repay_amt = #{repayAmt},</if>
            <if test="repayTime != null"> repay_time = #{repayTime},</if>
            <if test="reduceReason != null"> reduce_reason = #{reduceReason},</if>
            <if test="reduceData != null"> reduce_data = #{reduceData},</if>
            <if test="remark != null"> remark = #{remark},</if>
        </trim>
        where
        id = #{id}
    </update>

    <update id="updateApplyStatus" parameterType="xyz.zaijushou.zhx.sys.entity.DataReduceEntity">
        update data_reduce_apply
        set delete_flag = 1
        where
        id = #{id}
    </update>

    <select id="findApplyById" parameterType="xyz.zaijushou.zhx.sys.entity.DataReduceEntity" resultType="xyz.zaijushou.zhx.sys.entity.DataReduceEntity">
        select
        *
        from
        data_reduce_apply
        where id = #{id}
    </select>
</mapper>