<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.zaijushou.zhx.sys.dao.ReduceMapper">


    <select id="findById" parameterType="xyz.zaijushou.zhx.sys.entity.DataCollectionEntity" resultType="xyz.zaijushou.zhx.sys.entity.DataCollectionEntity">
          select dc.id as caseId,
        dc.collect_area as area,dc.client,dc.batch_no as batchNo,dc.name as targetName,dc.money as accountAge,
        dc.odv,dc.reduce_status as reduceStatus,
        dc.collect_status as collectStatus,
        dc.reduce_update_time as reduceUpdateTime, dc.en_repay_amt as enRepayAmt,
        dcr.complete_time as completeTime,dcr.complete_user as completeUser,
        dcr.audit_time as auditTime,dcr.audit_user as auditUser,
        dcr.apply_time as reduceReferTime,dcr.apply_time as applyTime,dcr.apply_user as applyUser,
        dcr.apply_status as applyStatus,
        dcr.reduce_type as reduceType,dcr.relation,
        dcr.repay_amt as repayAmt,dcr.create_time as createTime,
        dcr.id,dcr.reduce_valid_time as reduceValidTime,dcr.seqno as seqno,dcr.approve_repay_amt as approveRepayAmt,
        dcr.reduce_result as reduceResult,
        dcr.payer ,dcr.contact_way as contactWay,dcr.sex ,dcr.age,dcr.visit_flag as visitFlag,
        dcr.join_flag as joinFlag,dcr.connect_flag as connectFlag,dcr.reduce_reason as reduceReason,
        dcr.reduce_data as reduceData,dcr.reduce_flag as reduceFlag,dcr.file_name as fileName,dcr.file_uuid as fileUuid
        from
        data_reduce_apply dcr LEFT JOIN data_case dc on dcr.seqno = dc.seq_no
        where dcr.delete_flag = 0 and dcr.seqno is not null
        and dcr.id = #{id}
    </select>

    <select id="pageReduceApply" parameterType="xyz.zaijushou.zhx.sys.entity.DataCollectionEntity" resultType="xyz.zaijushou.zhx.sys.entity.DataCollectionEntity">
    select dc.id as caseId,
    dc.collect_area as area,dc.client,dc.batch_no as batchNo,dc.name as targetName,dc.money as money,
    dc.odv,dc.reduce_status as reduceStatus,
    dc.collect_status as collectStatus,dc.money,
    dc.reduce_update_time as reduceUpdateTime, dc.en_repay_amt as enRepayAmt,
    dcr.complete_time as completeTime,dcr.complete_user as completeUser,
    dcr.audit_time as auditTime,dcr.audit_user as auditUser,
    dcr.apply_time as reduceReferTime,dcr.apply_time as applyTime,dcr.apply_user as applyUser,
    dcr.apply_status as applyStatus,
    dcr.reduce_type as reduceType,dcr.relation,
    dcr.repay_amt as repayAmt,dcr.create_time as createTime,
    dcr.id,dcr.reduce_valid_time as reduceValidTime,dcr.seqno as seqno,dcr.approve_repay_amt as approveRepayAmt,
    dcr.reduce_result as reduceResult,
    dcr.payer ,dcr.contact_way as contactWay,dcr.sex ,dcr.age,dcr.visit_flag as visitFlag,
    dcr.join_flag as joinFlag,dcr.connect_flag as connectFlag,dcr.reduce_reason as reduceReason,
    dcr.reduce_data as reduceData,dcr.reduce_flag as reduceFlag,dcr.file_name as fileName,dcr.file_uuid as fileUuid
    from
    data_reduce_apply dcr LEFT JOIN data_case dc on dcr.seqno = dc.seq_no
    where dcr.delete_flag = 0 and dcr.seqno is not null
    <if test="area != null and area!=''">
        AND dc.collect_area like CONCAT('%',#{area},'%')
    </if>
    <if test="seqno != null and seqno!=''">
        AND dcr.seqno like CONCAT('%',#{seqno},'%')
    </if>
    <if test="targetName != null and targetName!=''">
        AND dc.name like CONCAT('%',#{targetName},'%')
    </if>
    <if test="batchNo != null and batchNo!=''">
        and dc.batch_no = #{batchNo}
    </if>
    <if test="collectStatus != null and collectStatus!=''">
        and dc.collect_status = #{collectStatus}
    </if>
    <if test="client != null and client!=''">
        AND dc.client like CONCAT('%',#{client},'%')
    </if>
    <if test="accountAge != null and accountAge !=''">
        and dc.overdue_bill_time = #{accountAge}
    </if>
    <if test="odv != null and odv!=''">
        AND dc.odv  like CONCAT('%',#{odv},'%')
    </if>
    <if test="reduceStatus != null and reduceStatus!=''">
        and dc.reduce_status = #{reduceStatus}
    </if>
    <!--<if test="reduceFlag != null and reduceFlag!=''">-->
    <!--AND <![CDATA[ dcr.reduce_flag != #{reduceFlag} ]]>-->
    <!--</if>-->

    <if test="applyStatus != null and applyStatus!=''">
        and dcr.apply_status = #{applyStatus}
    </if>

    <if test="caseId != null and caseId!=''">
        and dc.id = #{caseId}
    </if>

    <if test="completeTimeStart != null and completeTimeStart!=''">
        <![CDATA[   and DATE_FORMAT(dcr.complete_time, '%Y-%m-%d')>=  DATE_FORMAT(#{completeTimeStart}, '%Y-%m-%d')   ]]>
    </if>
    <if test="completeTimeEnd != null and completeTimeEnd!=''" >
        <![CDATA[   and DATE_FORMAT(dcr.complete_time, '%Y-%m-%d')<=  DATE_FORMAT(#{completeTimeEnd}, '%Y-%m-%d')   ]]>
    </if>

    <if test="reduceReferTimeStart != null and reduceReferTimeStart!=''">
        <![CDATA[   and DATE_FORMAT(dc.create_time, '%Y-%m-%d')>=  DATE_FORMAT(#{reduceReferTimeStart}, '%Y-%m-%d')   ]]>
    </if>
    <if test="reduceReferTimeEnd != null and reduceReferTimeEnd!=''" >
        <![CDATA[   and DATE_FORMAT(dc.create_time, '%Y-%m-%d')<=  DATE_FORMAT(#{reduceReferTimeEnd}, '%Y-%m-%d')   ]]>
    </if>

    <if test="reduceValidTimeStart != null and reduceValidTimeStart!=''">
        <![CDATA[   and DATE_FORMAT(dcr.reduce_valid_time, '%Y-%m-%d')>=  DATE_FORMAT(#{reduceValidTimeStart}, '%Y-%m-%d')   ]]>
    </if>
    <if test="reduceValidTimeEnd != null and reduceValidTimeEnd!=''" >
        <![CDATA[   and DATE_FORMAT(dcr.reduce_valid_time, '%Y-%m-%d')<=  DATE_FORMAT(#{reduceValidTimeEnd}, '%Y-%m-%d')   ]]>
    </if>
    order by ${orderBy} ${sort}
</select>

    <select id="totalExport" parameterType="xyz.zaijushou.zhx.sys.entity.DataCollectionEntity" resultType="xyz.zaijushou.zhx.sys.entity.DataCollectionEntity">
        select
        <foreach collection ="exportKeyList" item="reddemCode" index= "index" separator =",">
            ${reddemCode}
        </foreach >
        from
        data_reduce_apply dcr LEFT JOIN data_case dc on dcr.seqno = dc.seq_no
        where dcr.delete_flag = 0 and dcr.seqno is not null
        <if test="area != null and area!=''">
            AND dc.collect_area like CONCAT('%',#{area},'%')
        </if>
        <if test="seqno != null and seqno!=''">
            AND dcr.seqno like CONCAT('%',#{seqno},'%')
        </if>
        <if test="targetName != null and targetName!=''">
            AND dc.name like CONCAT('%',#{targetName},'%')
        </if>
        <if test="batchNo != null and batchNo!=''">
            and dc.batch_no = #{batchNo}
        </if>
        <if test="collectStatus != null and collectStatus!=''">
            and dc.collect_status = #{collectStatus}
        </if>
        <if test="client != null and client!=''">
            AND dc.client like CONCAT('%',#{client},'%')
        </if>
        <if test="accountAge != null and accountAge !=''">
            and dc.overdue_bill_time = #{accountAge}
        </if>
        <if test="odv != null and odv!=''">
            AND dc.odv  like CONCAT('%',#{odv},'%')
        </if>
        <if test="reduceStatus != null and reduceStatus!=''">
            and dc.reduce_status = #{reduceStatus}
        </if>

        <if test="applyStatus != null and applyStatus!=''">
            and dcr.apply_status = #{applyStatus}
        </if>

        <if test="caseId != null and caseId!=''">
            and dc.id = #{caseId}
        </if>

        <if test="completeTimeStart != null and completeTimeStart!=''">
            <![CDATA[   and DATE_FORMAT(dcr.complete_time, '%Y-%m-%d')>=  DATE_FORMAT(#{completeTimeStart}, '%Y-%m-%d')   ]]>
        </if>
        <if test="completeTimeEnd != null and completeTimeEnd!=''" >
            <![CDATA[   and DATE_FORMAT(dcr.complete_time, '%Y-%m-%d')<=  DATE_FORMAT(#{completeTimeEnd}, '%Y-%m-%d')   ]]>
        </if>

        <if test="reduceReferTimeStart != null and reduceReferTimeStart!=''">
            <![CDATA[   and DATE_FORMAT(dc.create_time, '%Y-%m-%d')>=  DATE_FORMAT(#{reduceReferTimeStart}, '%Y-%m-%d')   ]]>
        </if>
        <if test="reduceReferTimeEnd != null and reduceReferTimeEnd!=''" >
            <![CDATA[   and DATE_FORMAT(dc.create_time, '%Y-%m-%d')<=  DATE_FORMAT(#{reduceReferTimeEnd}, '%Y-%m-%d')   ]]>
        </if>

        <if test="reduceValidTimeStart != null and reduceValidTimeStart!=''">
            <![CDATA[   and DATE_FORMAT(dcr.reduce_valid_time, '%Y-%m-%d')>=  DATE_FORMAT(#{reduceValidTimeStart}, '%Y-%m-%d')   ]]>
        </if>
        <if test="reduceValidTimeEnd != null and reduceValidTimeEnd!=''" >
            <![CDATA[   and DATE_FORMAT(dcr.reduce_valid_time, '%Y-%m-%d')<=  DATE_FORMAT(#{reduceValidTimeEnd}, '%Y-%m-%d')   ]]>
        </if>
        order by ${orderBy} ${sort}
    </select>

    <!--插入数据信息-->
    <insert id="saveReduceApply" parameterType="xyz.zaijushou.zhx.sys.entity.DataCollectionEntity" >
        insert into data_reduce_apply
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="caseId != null">case_id,</if>
            <if test="payer != null">payer,</if>
            <if test="relation != null">relation,</if>
            <if test="contactWay != null">contact_way,</if>
            <if test="sex != null">sex,</if>
            <if test="age != null">age,</if>
            <if test="visitFlag != null">visit_flag,</if>
            <if test="joinFlag != null">join_flag,</if>
            <if test="connectFlag != null">connect_flag,</if>
            <if test="enRepayAmt != null">en_repay_amt,</if>
            <if test="repayAmt != null">repay_amt,</if>
            <if test="repayTime != null">repay_time,</if>
            <if test="reduceReason != null">reduce_reason,</if>
            <if test="reduceData != null">reduce_data,</if>
            <if test="remark != null">remark,</if>

            <if test="seqno != null">seqno,</if>
            <if test="approveRepayAmt != null">approve_repay_amt,</if>
            <if test="reduceValidTime != null">reduce_valid_time,</if>
            <if test="reduceResult != null">reduce_result,</if>
            <if test="reduceFlag != null">reduce_flag,</if>
            <if test="applyStatus != null">apply_status,</if>
            <if test="reduceType != null">reduce_type,</if>

            <if test="applyUser != null">apply_user,</if>
            <if test="applyTime != null">apply_time,</if>
            <if test="auditUser != null">audit_user,</if>
            <if test="auditTime != null">audit_time,</if>
            <if test="completeUser != null">complete_user,</if>
            <if test="completeTime != null">complete_time,</if>
            delete_flag,
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="caseId != null">#{caseId},</if>
            <if test="payer != null">#{payer},</if>
            <if test="relation != null">#{relation},</if>
            <if test="contactWay != null">#{contactWay},</if>
            <if test="sex != null">#{sex},</if>
            <if test="age != null">#{age},</if>
            <if test="visitFlag != null">#{visitFlag},</if>
            <if test="joinFlag != null">#{joinFlag},</if>
            <if test="connectFlag != null">#{connectFlag},</if>
            <if test="enRepayAmt != null">#{enRepayAmt},</if>
            <if test="repayAmt != null">#{repayAmt},</if>
            <if test="repayTime != null">#{repayTime},</if>
            <if test="reduceReason != null">#{reduceReason},</if>
            <if test="reduceData != null">#{reduceData},</if>
            <if test="remark != null">#{remark},</if>

            <if test="seqno != null">#{seqno},</if>
            <if test="approveRepayAmt != null">#{approveRepayAmt},</if>
            <if test="reduceValidTime != null">#{reduceValidTime},</if>
            <if test="reduceResult != null">#{reduceResult},</if>
            <if test="reduceFlag != null">#{reduceFlag},</if>
            <if test="applyStatus != null">#{applyStatus},</if>
            <if test="reduceType != null">#{reduceType},</if>

            <if test="applyUser != null">#{applyUser},</if>
            <if test="applyTime != null">#{applyTime},</if>
            <if test="auditUser != null">#{auditUser},</if>
            <if test="auditTime != null">#{auditTime},</if>
            <if test="completeUser != null">#{completeUser},</if>
            <if test="completeTime != null">#{completeTime},</if>
            0,
        </trim>
    </insert>

    <update id="updateReduceApply" parameterType="xyz.zaijushou.zhx.sys.entity.DataCollectionEntity">
        update data_reduce_apply
        set
        <trim suffixOverrides=",">
            <if test="caseId != null"> case_id = #{caseId},</if>
            <if test="payer != null"> payer = #{payer},</if>
            <if test="relation != null"> relation = #{relation},</if>
            <if test="contactWay != null"> contact_way = #{contactWay},</if>
            <if test="sex != null"> sex = #{sex},</if>
            <if test="age != null"> age = #{age},</if>
            <if test="visitFlag != null"> visit_flag = #{visitFlag},</if>
            <if test="joinFlag != null"> join_flag = #{joinFlag},</if>
            <if test="connectFlag != null"> connect_flag = #{connectFlag},</if>
            <if test="enRepayAmt != null"> en_repay_amt = #{enRepayAmt},</if>
            <if test="repayAmt != null"> repay_amt = #{repayAmt},</if>
            <if test="repayTime != null"> repay_time = #{repayTime},</if>
            <if test="reduceReason != null"> reduce_reason = #{reduceReason},</if>
            <if test="reduceData != null"> reduce_data = #{reduceData},</if>
            <if test="remark != null"> remark = #{remark},</if>

            <if test="seqno != null">seqno = #{seqno},</if>
            <if test="approveRepayAmt != null">approve_repay_amt = #{approveRepayAmt},</if>
            <if test="reduceValidTime != null">reduce_valid_time = #{reduceValidTime},</if>
            <if test="reduceResult != null">reduce_result = #{reduceResult},</if>
            <if test="reduceFlag != null">reduce_flag = #{reduceFlag},</if>

            <if test="fileName != null">file_name = #{fileName},</if>
            <if test="fileUuid != null">file_uuid = #{fileUuid},</if>
        </trim>
        where
        id = #{id}
    </update>

    <update id="updateApplyStatus" parameterType="xyz.zaijushou.zhx.sys.entity.DataCollectionEntity">
        update data_reduce_apply
        set delete_flag = 1
        where
        id = #{id}
    </update>

    <update id="updateStatus" parameterType="xyz.zaijushou.zhx.sys.entity.DataCollectionEntity">
        update data_reduce_apply
        set
        <trim suffixOverrides=",">
            <if test="applyStatus != null">apply_status = #{applyStatus},</if>
            <if test="reduceFlag != null">reduce_flag = #{reduceFlag},</if>
            <if test="auditTime != null">audit_time = #{auditTime},</if>
            <if test="completeUser != null">complete_user = #{completeUser},</if>
            <if test="completeTime != null">complete_time = #{completeTime},</if>
            <if test="deleteFlag != null">delete_flag = #{deleteFlag},</if>
        </trim>
        where
        id in
        <foreach item="item" index="index" collection="ids" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

</mapper>