<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xyz.zaijushou.zhx.sys.dao.SynergyMapper" >
  <resultMap id="BaseResultMap" type="xyz.zaijushou.zhx.sys.entity.Synergy" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="seq_no" property="seqNo" jdbcType="VARCHAR" />
    <result column="ident_no" property="identNo" jdbcType="VARCHAR" />
    <result column="case_date" property="caseDate" jdbcType="VARCHAR" />
    <result column="apply_context" property="applyContext" jdbcType="VARCHAR" />
    <result column="synergy_result" property="synergyResult" jdbcType="VARCHAR" />
    <result column="synergy_date" property="synergyDate" jdbcType="VARCHAR" />
    <result column="synergyer" property="synergyer" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="create_user" property="createUser" jdbcType="INTEGER" />
    <result column="delete_flag" property="deleteFlag" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, seq_no, ident_no, case_date, apply_context, synergy_result, synergy_date, synergyer, 
    create_date, create_user, delete_flag
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from synergy
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from synergy
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="xyz.zaijushou.zhx.sys.entity.Synergy" >
    insert into synergy (id, seq_no, ident_no, 
      case_date, apply_context, synergy_result, 
      synergy_date, synergyer, create_date, 
      create_user, delete_flag)
    values (#{id,jdbcType=INTEGER}, #{seqNo,jdbcType=VARCHAR}, #{identNo,jdbcType=VARCHAR}, 
      #{caseDate,jdbcType=VARCHAR}, #{applyContext,jdbcType=VARCHAR}, #{synergyResult,jdbcType=VARCHAR}, 
      #{synergyDate,jdbcType=VARCHAR}, #{synergyer,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, 
      #{createUser,jdbcType=INTEGER}, #{deleteFlag,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="xyz.zaijushou.zhx.sys.entity.Synergy" >
    insert into synergy
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="seqNo != null" >
        seq_no,
      </if>
      <if test="identNo != null" >
        ident_no,
      </if>
      <if test="caseDate != null" >
        case_date,
      </if>
      <if test="applyContext != null" >
        apply_context,
      </if>
      <if test="synergyResult != null" >
        synergy_result,
      </if>
      <if test="synergyDate != null" >
        synergy_date,
      </if>
      <if test="synergyer != null" >
        synergyer,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="deleteFlag != null" >
        delete_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="seqNo != null" >
        #{seqNo,jdbcType=VARCHAR},
      </if>
      <if test="identNo != null" >
        #{identNo,jdbcType=VARCHAR},
      </if>
      <if test="caseDate != null" >
        #{caseDate,jdbcType=VARCHAR},
      </if>
      <if test="applyContext != null" >
        #{applyContext,jdbcType=VARCHAR},
      </if>
      <if test="synergyResult != null" >
        #{synergyResult,jdbcType=VARCHAR},
      </if>
      <if test="synergyDate != null" >
        #{synergyDate,jdbcType=VARCHAR},
      </if>
      <if test="synergyer != null" >
        #{synergyer,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=INTEGER},
      </if>
      <if test="deleteFlag != null" >
        #{deleteFlag,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="xyz.zaijushou.zhx.sys.entity.Synergy" >
    update synergy
    <set >
      <if test="seqNo != null" >
        seq_no = #{seqNo,jdbcType=VARCHAR},
      </if>
      <if test="identNo != null" >
        ident_no = #{identNo,jdbcType=VARCHAR},
      </if>
      <if test="caseDate != null" >
        case_date = #{caseDate,jdbcType=VARCHAR},
      </if>
      <if test="applyContext != null" >
        apply_context = #{applyContext,jdbcType=VARCHAR},
      </if>
      <if test="synergyResult != null" >
        synergy_result = #{synergyResult,jdbcType=VARCHAR},
      </if>
      <if test="synergyDate != null" >
        synergy_date = #{synergyDate,jdbcType=VARCHAR},
      </if>
      <if test="synergyer != null" >
        synergyer = #{synergyer,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=INTEGER},
      </if>
      <if test="deleteFlag != null" >
        delete_flag = #{deleteFlag,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="xyz.zaijushou.zhx.sys.entity.Synergy" >
    update synergy
    set seq_no = #{seqNo,jdbcType=VARCHAR},
      ident_no = #{identNo,jdbcType=VARCHAR},
      case_date = #{caseDate,jdbcType=VARCHAR},
      apply_context = #{applyContext,jdbcType=VARCHAR},
      synergy_result = #{synergyResult,jdbcType=VARCHAR},
      synergy_date = #{synergyDate,jdbcType=VARCHAR},
      synergyer = #{synergyer,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      create_user = #{createUser,jdbcType=INTEGER},
      delete_flag = #{deleteFlag,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>