<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.zaijushou.zhx.sys.dao.SysDictionaryMapper">

    <!--数据对应字段-->
    <sql id="dataDictionaryInfo">
        id,
        name,
        description,
        status,
        number,
        dictionary_id as dictionaryId,
        create_user as 'createUser.id',
        update_user as 'updateUser.id',
        create_time as createTime,
        update_time as updateTime

    </sql>

    <!--插入数据信息-->
    <insert id="insertDataDictionary" parameterType="xyz.zaijushou.zhx.sys.entity.SysDictionaryEntity">
        INSERT INTO sys_data_dictionary
        SET
        name=#{name}
		,description=#{description}
		,status=#{status}
		,dictionary_id=#{dictionaryId}
    </insert>

    <!--更新数据信息-->
    <update id="updateDataDictionary" parameterType="xyz.zaijushou.zhx.sys.entity.SysDictionaryEntity">
        update sys_data_dictionary
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="number != null">
                number = #{number,jdbcType=INTEGER},
            </if>
            <if test="dictionaryId !=null">
                dictionary_id = #{dictionaryId,jdbcType=INTEGER}
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <!--查询数据集合-->
    <select id="getDataList" resultType="xyz.zaijushou.zhx.sys.entity.SysDictionaryEntity">
        select
        <include refid="dataDictionaryInfo"/>
        from sys_data_dictionary
        where status = 1
        <if test="dictionaryId != null">
            AND  dictionary_id = #{dictionaryId,jdbcType=INTEGER}
        </if>
        <if test="name != null and name != ''">
            AND  name = #{name}
        </if>
        order by create_time desc
    </select>

    <!--根据Id查询数据-->
    <select id="getDataById" resultType="xyz.zaijushou.zhx.sys.entity.SysDictionaryEntity">
        select
        <include refid="dataDictionaryInfo"/>
        from sys_data_dictionary
        where status = 1 and id = #{id,jdbcType=INTEGER}
        order by create_time desc
    </select>

    <!--通过Id删除数据信息-->
    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from sys_data_dictionary
        where id = #{id,jdbcType=INTEGER}
    </delete>
</mapper>
