<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.zaijushou.zhx.sys.dao.SysMenuMapper">

    <sql id="colSql">
        id as id,
        menu_label as menuLabel,
        parent_id as [parent.id],
        menu_url as menuUrl,
        menu_level as menuLevel,
        leaf_node as leafNode,
        menu_auth_symbol as menuAuthSymbol,
        menu_icon as menuIcon,
        sort as sort,
        remark as remark,
        create_user as [createUser.id],
        update_user as [updateUser.id],
        create_time as createTime,
        update_time as updateTime,
        delete_flag as deleteFlag
    </sql>

    <select id="listAllMenus" parameterType="xyz.zaijushou.zhx.sys.entity.SysMenuEntity" resultType="xyz.zaijushou.zhx.sys.entity.SysMenuEntity">
        select
        <include refid="colSql"/>
        from sys_menu
        where delete_flag = '0'
    </select>

</mapper>
