<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.zaijushou.zhx.sys.dao.SysOrganizationMapper">

    <sql id="colSql">
        id as id,
        org_name as orgName,
        parent_id as [parent.id],
        org_nature as orgNature,
        legal_person as legalPerson,
        user_num as userNum,
        org_address as orgAddress,
        main_industry as mainIndustry,
        sort as sort,
        remark as remark,
        create_user as [createUser.id],
        update_user as [updateUser.id],
        create_time as createTime,
        update_time as updateTime,
        delete_flag as deleteFlag
    </sql>

    <insert id="saveOrg" parameterType="xyz.zaijushou.zhx.sys.entity.SysOrganizationEntity">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT @@IDENTITY AS 'Identity'
        </selectKey>
        insert into sys_organization
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orgName != null">org_name,</if>
            <if test="parent != null and parent.id != null">parent_id,</if>
            <if test="orgNature != null">org_nature,</if>
            <if test="legalPerson != null">legal_person,</if>
            <if test="userNum != null">user_num,</if>
            <if test="orgAddress != null">org_address,</if>
            <if test="mainIndustry != null">main_industry,</if>
            <if test="sort != null">sort,</if>
            <if test="remark != null">remark,</if>
            <if test="createUser != null and createUser.id != null">create_user,</if>
            <if test="updateUser != null and updateUser.id != null">update_user,</if>
            create_time,
            update_time,
            delete_flag,
        </trim>

        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orgName != null">#{orgName},</if>
            <if test="parent != null and parent.id != null">#{parent.id},</if>
            <if test="orgNature != null">#{orgNature},</if>
            <if test="legalPerson != null">#{legalPerson},</if>
            <if test="userNum != null">#{userNum},</if>
            <if test="orgAddress != null">#{orgAddress},</if>
            <if test="mainIndustry != null">#{mainIndustry},</if>
            <if test="sort != null">#{sort},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createUser != null and createUser.id != null">#{createUser.id},</if>
            <if test="updateUser != null and updateUser.id != null">#{updateUser.id},</if>
            GETDATE(),
            GETDATE(),
            0,
        </trim>

    </insert>
    <insert id="addDept" parameterType="xyz.zaijushou.zhx.sys.entity.SysOrganizationEntity">
        insert into sys_organization (org_name,parent_id,sort,create_time,update_time,delete_flag)
        values (#{orgName},#{pid},#{sort}, GETDATE(),GETDATE(),0)
    </insert>

    <update id="updateOrg" parameterType="xyz.zaijushou.zhx.sys.entity.SysOrganizationEntity">
        update sys_organization
        set
        <trim prefix="" suffix="" suffixOverrides=",">
            <if test="orgName != null">org_name = #{orgName},</if>
            <if test="parent != null and parent.id != null">parent_id = #{parent.id},</if>
            org_nature = #{orgNature},
            legal_person = #{legalPerson},
            user_num = #{userNum},
            org_address = #{orgAddress},
            main_industry = #{mainIndustry},
            <if test="sort != null">sort = #{sort},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="updateUser != null and updateUser.id != null">update_user = #{updateUser.id},</if>
        </trim>
        where id = #{id}
    </update>
    <update id="deleteSelectDepartment">
        update sys_organization set delete_flag=1 where id = #{id}
    </update>

    <select id="selectMaxSort" resultType="xyz.zaijushou.zhx.sys.entity.SysOrganizationEntity">
        select max(sort) as sort from sys_organization
    </select>

    <update id="deleteOrg" parameterType="xyz.zaijushou.zhx.sys.entity.SysOrganizationEntity">
        update sys_organization
        set delete_flag = '1'
        where id = #{id}
          and delete_flag = '0'
    </update>
    <update id="moveUpDown">
        update sys_organization set sort=#{sort1} where id=#{id}
    </update>
    <update id="moveUpDown1">
        update sys_organization set sort=#{sort} where id=#{id1}
    </update>
    <update id="updateDepartment">
        update sys_organization set org_name=#{orgName} where id=#{id}
    </update>
    <update id="moveToTargetDepartment">
        update sys_organization set parent_id=#{pid} where id=#{id}
    </update>

    <select id="listAllOrganizations" parameterType="xyz.zaijushou.zhx.sys.entity.SysOrganizationEntity"
            resultType="xyz.zaijushou.zhx.sys.entity.SysOrganizationEntity">
        select
        <include refid="colSql"/>
        from sys_organization
        where delete_flag = '0'
        <if test="id != null">and id = #{id}</if>
        order by sort
    </select>

    <select id="listChildOrganizationBy" parameterType="xyz.zaijushou.zhx.sys.entity.SysOrganizationEntity"
            resultType="xyz.zaijushou.zhx.sys.entity.SysOrganizationEntity">
        select
        <include refid="colSql"/>
        from sys_organization
        where delete_flag = '0'
        <if test="orgName != null and orgName != ''">and org_name = #{orgName}</if>
        order by sort
    </select>

    <select id="listAllOrganizationsByParentId" parameterType="xyz.zaijushou.zhx.sys.entity.SysOrganizationEntity"
            resultType="xyz.zaijushou.zhx.sys.entity.SysOrganizationEntity">
        select
        <include refid="colSql"/>
        from sys_organization
        where delete_flag = '0' and parent_id = #{id}
        order by sort
    </select>

    <select id="listAll" resultType="xyz.zaijushou.zhx.sys.entity.SysOrganizationEntity">
        select
        <include refid="colSql"/>
        from sys_organization
        where delete_flag = '0'
    </select>


    <select id="findByName" resultType="xyz.zaijushou.zhx.sys.entity.SysOrganizationEntity">
        select top 1
        <include refid="colSql"/>
        from sys_organization
        where delete_flag = '0' and org_name = #{name}
    </select>

    <select id="findById" resultType="xyz.zaijushou.zhx.sys.entity.SysNewUserEntity">
with tem_table(id,parent_id,org_name,curlevel)
as
(
select   id, parent_id, org_name, 1 as level
     from
           dbo.sys_organization
     where
           parent_id = #{department}
union all
select   a.id,  a.parent_id,  a.org_name, b.curlevel+1
    from
         dbo.sys_organization  a
    inner join
         tem_table  b
    on (a.parent_id = b.id)
)
select sys_user.id,sys_user.username, sys_user.actual_time as actualTime from tem_table,sys_user where tem_table.id=sys_user.department and  sys_user.status=1

    </select>
    <select id="findSysNewUserInformationById" resultType="xyz.zaijushou.zhx.sys.entity.SysNewUserDataForm">
         with tem_table(id,parent_id,org_name,curlevel) as
			(select   id, parent_id, org_name, 1 as level
			 from dbo.sys_organization where parent_id = #{department} union all
			 select   a.id,  a.parent_id,  a.org_name, b.curlevel+1 from
			 dbo.sys_organization a inner join tem_table b on (a.parent_id = b.id))
         select t.id,t.username,t.actualTime,o.repay_amt,o.percentage from (
         select sys_user.id,sys_user.username, sys_user.actual_time as actualTime from tem_table,sys_user where tem_table.id=sys_user.department and  sys_user.status=1) t
         left join (select odv, sum(o.repay_amt) as repay_amt, sum(o.percentage) as percentage
         from odv_percentage o group by odv) o on t.id=o.odv
    </select>
    <select id="findStaffNumberById" resultType="java.lang.Integer">
        with tem_table(id,parent_id,org_name,curlevel) as
			(select   id, parent_id, org_name, 1 as level
			 from dbo.sys_organization where parent_id = #{department} union all
			 select   a.id,  a.parent_id,  a.org_name, b.curlevel+1 from
			 dbo.sys_organization a inner join tem_table b on (a.parent_id = b.id))
         select count(1) as staffNumber  from tem_table,sys_user where tem_table.id=sys_user.department and  sys_user.status=1 and sys_user.delete_flag=0
    </select>
    <select id="findStaffNumberById2" resultType="java.lang.Integer">
        select count(1) from sys_user where department=#{department}
    </select>

    <resultMap id="UserResultMap" type="xyz.zaijushou.zhx.sys.entity.SysNewUserEntity">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="mobile" property="mobile" jdbcType="VARCHAR"/>
        <result column="number" property="number" jdbcType="VARCHAR"/>
        <result column="sex" property="sex" jdbcType="VARCHAR"/>
        <result column="officePhone" property="officePhone" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="loginFailTimes" property="loginFailTimes" jdbcType="INTEGER"/>
        <result column="loginName" property="loginName" jdbcType="VARCHAR"/>
        <result column="enable" property="enable" jdbcType="INTEGER"/>
        <result column="userName" property="userName" jdbcType="VARCHAR"/>
        <result column="department" property="department" jdbcType="VARCHAR"/>
        <result column="departId" property="departId" jdbcType="VARCHAR"/>
        <result column="position" property="position" jdbcType="INTEGER"/>
        <result column="deleteFlag" property="deleteFlag" jdbcType="INTEGER"/>
        <result column="updateTime" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="leaveTime" property="leaveTime" jdbcType="TIMESTAMP"/>
        <result column="joinTime" property="joinTime" jdbcType="TIMESTAMP"/>
        <result column="actualTime" property="actualTime" jdbcType="TIMESTAMP"/>
        <result column="deptName" property="deptName" jdbcType="VARCHAR"/>
        <collection property="roleList" column="role_id" ofType="xyz.zaijushou.zhx.sys.entity.SysRoleEntity">
            <result column="roleId" property="id" jdbcType="INTEGER"/>
            <result column="role" property="roleName" jdbcType="VARCHAR"/>
        </collection>
    </resultMap>

    <select id="findUserByOrgId" resultMap="UserResultMap">
           select
        su.id , su.mobile,su.number,su.sex,su.office_phone as officePhone,
        su.status,su.enable,su.username as userName,so.org_name as department,so.org_name as deptName,su.login_name as loginName,
        su.create_time as createTime,su.create_user as [createUser.id],
        su.update_user as [updateUser.id],su.update_time as updateTime,
        su.delete_flag as deleteFlag,
        sr.role_name as role,
        su.leave_time as leaveTime,su.actual_time as actualTime,
        su.join_time as joinTime,
        su.department as departId,
        sr.id as roleId,
        su.position
        from sys_user su
        LEFT JOIN (select * from sys_user_role where delete_flag =0) sur on su.id = sur.user_id
        LEFT JOIN (select * from sys_role  where delete_flag =0) sr on sur.role_id = sr.id
        LEFT JOIN sys_organization so on su.department = so.id
        where su.delete_flag = 0 and  su.department = #{orgId,jdbcType=INTEGER}
    </select>
    <select id="findTableData" resultType="xyz.zaijushou.zhx.sys.entity.SysOrganizationEntity">
          select <include refid="colSql"/>
           from sys_organization s where s.parent_id=#{id} and s.delete_flag=0 order by sort
    </select>

    <select id="queryDept" resultType="xyz.zaijushou.zhx.sys.entity.QueryEntity">
        select id,org_name as value from sys_organization where delete_flag = 0 and parent_id != 0 and org_name like dbo.concat('%',#{deptName},'%')
    </select>
</mapper>
