<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.zaijushou.zhx.sys.dao.SysPercentMapper">

    <!--插入数据信息-->
    <update id="updatePercent" parameterType="xyz.zaijushou.zhx.sys.entity.SysPercent" >
        update sys_percent set odv_high_basic=#{odvHighBasic},odv_high_reward=#{odvHighReward},manage_method=#{manageMethod},
        client = #{client},enable=#{enable},odv_low=#{odvLow},odv_basic=#{odvBasic},odv_reward=#{odvReward},odv_reward2=#{odvReward2},odv_reward3=#{odvReward3},
        manage_reward = #{manageReward},manage_basic=#{manageBasic},remark=#{remark},odv_reward_range1=#{odvRewardRange1},odv_reward_range2=#{odvRewardRange2},odv_reward_range3=#{odvRewardRange3},
        odv_reward_range4 = #{odvRewardRange4},odv_reward_range5=#{odvRewardRange5},manage_reward_range1=#{manageRewardRange1},manage_reward_range2=#{manageRewardRange2},manage_reward_range3=#{manageRewardRange3},
        manage_reward_range4=#{manageRewardRange4},manage_reward_range5=#{manageRewardRange5},manage_reward_range6=#{manageRewardRange6}
        where id = #{id}
    </update>


    <select id="listPencent" resultType="xyz.zaijushou.zhx.sys.entity.SysPercent">
        select
        t.id,t.client as client,t.enable,t.odv_low as odvLow,t.odv_basic as odvBasic,t.odv_reward as odvReward,t.manage_reward as manageReward,t.manage_basic as manageBasic,t.remark,
        t.odv_reward_range1 as odvRewardRange1,t.odv_reward2 as odvReward2,t.odv_reward3 as odvReward3,
        t.odv_high_basic as odvHighBasic,t.odv_high_reward as odvHighReward,t.manage_method as manageMethod,
            t.odv_reward_range2 as odvRewardRange2,
            t.odv_reward_range3 as odvRewardRange3,
            t.odv_reward_range4 as odvRewardRange4,
            t.odv_reward_range5 as odvRewardRange5,
            t.manage_reward_range1 as manageRewardRange1,
            t.manage_reward_range2 as manageRewardRange2,
            t.manage_reward_range3 as manageRewardRange3,
            t.manage_reward_range4 as manageRewardRange4,
            t.manage_reward_range5 as manageRewardRange5,
            t.manage_reward_range6 as manageRewardRange6
        from sys_percent t
    </select>

    <select id="findByClient" parameterType="xyz.zaijushou.zhx.sys.entity.SysPercent"   resultType="xyz.zaijushou.zhx.sys.entity.SysPercent">
        select
        t.id,t.client,t.enable,t.odv_low as odvLow,t.odv_basic as odvBasic,t.odv_reward as odvReward,t.manage_reward as manageReward,t.manage_basic as manageBasic,t.remark,
         t.odv_reward_range1 as odvRewardRange1,t.odv_reward2 as odvReward2,t.odv_reward3 as odvReward3,
         t.odv_high_basic as odvHighBasic,t.odv_high_reward as odvHighReward,t.manage_method as manageMethod,
            t.odv_reward_range2 as odvRewardRange2,
            t.odv_reward_range3 as odvRewardRange3,
            t.odv_reward_range4 as odvRewardRange4,
            t.odv_reward_range5 as odvRewardRange5,
            t.manage_reward_range1 as manageRewardRange1,
            t.manage_reward_range2 as manageRewardRange2,
            t.manage_reward_range3 as manageRewardRange3,
            t.manage_reward_range4 as manageRewardRange4,
            t.manage_reward_range5 as manageRewardRange5,
            t.manage_reward_range6 as manageRewardRange6
        from sys_percent t where t.client = #{client}
    </select>
</mapper>