<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.zaijushou.zhx.sys.dao.SysPercentMapper">

    <!--插入数据信息-->
    <insert id="updatePercent" parameterType="xyz.zaijushou.zhx.sys.entity.SysPercent" >
        <selectKey keyProperty="id" order="AFTER"  resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        replace  into sys_percent
        (
            client,
            enable,
            odv_low,
            odv_basic,
            odv_reward,
            manage_reward,
            manage_basic,
            remark
        )
        values
        <foreach collection ="list" item="reddemCode" index= "index" separator =",">
            (
                #{reddemCode.client},
                #{reddemCode.enable},
                #{reddemCode.odvLow},
                #{reddemCode.odvBasic},
                #{reddemCode.odvReward},
                #{reddemCode.manageReward},
                #{reddemCode.manageBasic},
                #{reddemCode.remark}
            )
        </foreach >
    </insert>


    <select id="listPencent" resultType="xyz.zaijushou.zhx.sys.entity.SysPercent">
        select
        t.id,t.client as client,t.enable,t.odv_low as odvLow,t.odv_basic as odvBasic,t.odv_reward as odvReward,t.manage_reward as manageReward,t.manage_basic as manageBasic,t.remark
        from sys_percent t
    </select>

    <select id="findByClient" parameterType="xyz.zaijushou.zhx.sys.entity.SysPercent"   resultType="xyz.zaijushou.zhx.sys.entity.SysPercent">
        select
        t.id,t.client,t.enable,t.odv_low as odvLow,t.odv_basic as odvBasic,t.odv_reward as odvReward,t.manage_reward as manageReward,t.manage_basic as manageBasic,t.remark
        from sys_percent t where t.client = #{client}
    </select>
</mapper>