<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.zaijushou.zhx.sys.dao.SysRoleMapper">

    <sql id="colSql">
        id as id,
        role_name as roleName,
        role_desc as roleDesc,
        data_auth as dataAuth,
        busi_auth as busiAuth,
        delete_auth as deleteAuth,
        role_auth_symbol as roleAuthSymbol,
        remark as remark,
        create_user as [createUser.id],
        update_user as [updateUser.id],
        create_time as createTime,
        update_time as updateTime,
        delete_flag as deleteFlag
    </sql>

    <select id="listAllRoles" parameterType="xyz.zaijushou.zhx.sys.entity.SysRoleEntity" resultType="xyz.zaijushou.zhx.sys.entity.SysRoleEntity">
        select
        <include refid="colSql"/>
        from sys_role
        where delete_flag = '0'
    </select>

    <select id="listAllRolesByRoleId" parameterType="xyz.zaijushou.zhx.sys.entity.SysRoleEntity" resultType="xyz.zaijushou.zhx.sys.entity.SysRoleEntity">
        select
        <include refid="colSql"/>
        from sys_role
        where delete_flag = '0' and id = #{id}
    </select>

    <select id="listRoles" parameterType="xyz.zaijushou.zhx.sys.entity.SysRoleEntity" resultType="xyz.zaijushou.zhx.sys.entity.SysRoleEntity">
        select
        <include refid="colSql"/>
        from sys_role
        where delete_flag = '0'
        <if test="roleName != null and roleName != ''">
            <!-- sqlServer2014 后才提供concat函数 -->
            and role_name like dbo.CONCAT('%',#{roleName},'%')
        </if>
    </select>

    <select id="listAllRoleMenus" parameterType="xyz.zaijushou.zhx.sys.entity.SysToRoleMenu" resultType="xyz.zaijushou.zhx.sys.entity.SysToRoleMenu">
        select
            role_id as [role.id],
            menu_id as [menu.id]
        from sys_role_menu
        where delete_flag = '0'
    </select>

    <select id="listAllRoleMenusByRoleId" parameterType="xyz.zaijushou.zhx.sys.entity.SysToRoleMenu" resultType="xyz.zaijushou.zhx.sys.entity.SysToRoleMenu">
        select
        role_id as [role.id],
        menu_id as [menu.id]
        from sys_role_menu
        where delete_flag = '0' and role_id = #{role.id}
    </select>

    <select id="listAllRoleButtons" parameterType="xyz.zaijushou.zhx.sys.entity.SysToRoleButton" resultType="xyz.zaijushou.zhx.sys.entity.SysToRoleButton">
        select
            role_id as [role.id],
            button_id as [button.id]
        from sys_role_button
        where delete_flag = '0'
    </select>

    <select id="listAllRoleButtonsByRoleId" parameterType="xyz.zaijushou.zhx.sys.entity.SysToRoleButton" resultType="xyz.zaijushou.zhx.sys.entity.SysToRoleButton">
        select
        role_id as [role.id],
        button_id as [button.id]
        from sys_role_button
        where delete_flag = '0' and role_id = #{role.id}
    </select>

    <select id="selectByRoleName" parameterType="xyz.zaijushou.zhx.sys.entity.SysRoleEntity" resultType="xyz.zaijushou.zhx.sys.entity.SysRoleEntity">
        select
        <include refid="colSql"/>
        from sys_role
        where delete_flag = '0'
          and role_name = #{roleName}
    </select>

    <select id="selectByRoleId" parameterType="xyz.zaijushou.zhx.sys.entity.SysRoleEntity" resultType="xyz.zaijushou.zhx.sys.entity.SysRoleEntity">
        select
        <include refid="colSql"/>
        from sys_role
        where delete_flag = '0'
        and id = #{id}
    </select>

    <select id="countDataAuthRole" parameterType="xyz.zaijushou.zhx.sys.entity.SysNewUserEntity" resultType="java.lang.Integer">
        select
        count(id)
        from sys_role where id in (select role_id from sys_user_role where user_id  =#{id}) and data_auth=1

    </select>

    <select id="countDataAuth" parameterType="xyz.zaijushou.zhx.sys.entity.SysNewUserEntity" resultType="java.lang.Integer">
SELECT
	COUNT (id)
FROM
	sys_role
WHERE
	id IN (
		SELECT
			role_id
		FROM
			sys_user_role
		WHERE
			user_id IN (
				SELECT
					id
				FROM
					sys_user
				WHERE
					department IN (
						SELECT
							parent_id
						FROM
							sys_organization
						WHERE
							id = (
								SELECT
									department
								FROM
									sys_user
								WHERE
									id = #{id}
							)
					)
				AND delete_flag = 0
			)
	)
AND data_auth = 1

    </select>

    <select id="countBusiAuthRole" parameterType="xyz.zaijushou.zhx.sys.entity.SysNewUserEntity" resultType="java.lang.Integer">
        select
        count(id)
        from sys_role where id in (select role_id from sys_user_role where user_id  =#{id}) and busi_auth=1

    </select>

    <select id="countBusiAuth" parameterType="xyz.zaijushou.zhx.sys.entity.SysNewUserEntity" resultType="java.lang.Integer">
SELECT
	COUNT (id)
FROM
	sys_role
WHERE
	id IN (
		SELECT
			role_id
		FROM
			sys_user_role
		WHERE
			user_id IN (
    select  id from sys_user where department in
    (select parent_id from sys_organization where id = (select department from sys_user where id=#{id}))
    and delete_flag=0
)
	)
AND busi_auth = 1

    </select>

    <select id="listRoleByUserId" parameterType="xyz.zaijushou.zhx.sys.entity.SysUserEntity" resultType="xyz.zaijushou.zhx.sys.entity.SysRoleEntity">
        select
        <include refid="colSql"/>
        from sys_role where id in (select role_id from sys_user_role where user_id  =#{id} and delete_flag=0) and delete_flag=0

    </select>

    <insert id="saveRole" parameterType="xyz.zaijushou.zhx.sys.entity.SysRoleEntity">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT @@IDENTITY AS 'Identity'
        </selectKey>
        insert into sys_role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="roleName != null">role_name,</if>
            <if test="roleDesc != null">role_desc,</if>
            <if test="dataAuth != null">data_auth,</if>
            <if test="busiAuth != null">busi_auth,</if>
            <if test="deleteAuth != null">delete_auth,</if>
            <if test="roleAuthSymbol != null">role_auth_symbol,</if>
            <if test="remark != null">remark,</if>
            <if test="createUser != null and createUser.id != null">create_user,</if>
            <if test="updateUser != null and updateUser.id != null">update_user,</if>
            create_time,
            update_time,
            delete_flag,
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="roleName != null">#{roleName},</if>
            <if test="roleDesc != null">#{roleDesc},</if>
            <if test="dataAuth != null">#{dataAuth},</if>
            <if test="busiAuth != null">#{busiAuth},</if>
            <if test="deleteAuth != null">#{deleteAuth},</if>
            <if test="roleAuthSymbol != null">#{roleAuthSymbol},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createUser != null and createUser.id != null">#{createUser.id},</if>
            <if test="updateUser != null and updateUser.id != null">#{updateUser.id},</if>
            GETDATE(),
            GETDATE(),
            0,
        </trim>
    </insert>

    <update id="updateRole" parameterType="xyz.zaijushou.zhx.sys.entity.SysRoleEntity">
        update sys_role
        set
        <trim prefix="" suffix="" suffixOverrides=",">
            <if test="roleName != null">role_name = #{roleName},</if>
            <if test="roleDesc != null">role_desc = #{roleDesc},</if>
            <if test="dataAuth != null">data_auth = #{dataAuth},</if>
            <if test="busiAuth != null">busi_auth = #{busiAuth},</if>
            <if test="deleteAuth != null">delete_auth = #{deleteAuth},</if>
            <if test="roleAuthSymbol != null">role_auth_symbol = #{roleAuthSymbol},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="updateUser != null and updateUser.id != null">update_user = #{updateUser.id},</if>
        </trim>
        where id = #{id}
    </update>

    <update id="deleteRole" parameterType="xyz.zaijushou.zhx.sys.entity.SysRoleEntity">
        update sys_role
        set delete_flag = '1'
        where id = #{id}
          and delete_flag = '0'
    </update>

    <update id="deleteRoleMenus" parameterType="xyz.zaijushou.zhx.sys.entity.SysRoleEntity">
        update sys_role_menu
        set delete_flag = '1'
        where delete_flag = '0'
          and role_id = #{id}
    </update>

    <insert id="saveRoleMenus" parameterType="xyz.zaijushou.zhx.sys.entity.SysRoleEntity">
        insert into sys_role_menu
            (
              role_id,
              menu_id,
              create_time,
              update_time,
              delete_flag
            )
        values
          <foreach collection="menus" item="menu" separator=",">
              (
                #{id},
                #{menu.id},
                GETDATE(),
                GETDATE(),
                0
              )
          </foreach>
    </insert>

    <update id="deleteRoleButtons" parameterType="xyz.zaijushou.zhx.sys.entity.SysRoleEntity">
        update sys_role_button
        set delete_flag = '1'
        where delete_flag = '0'
          and role_id = #{id}
    </update>

    <insert id="saveRoleButtons" parameterType="xyz.zaijushou.zhx.sys.entity.SysRoleEntity">
        insert into sys_role_button
        (
        role_id,
        button_id,
        create_time,
        update_time,
        delete_flag
        )
        values
        <foreach collection="buttons" item="button" separator=",">
            (
            #{id},
            #{button.id},
            GETDATE(),
            GETDATE(),
            0
            )
        </foreach>
    </insert>

</mapper>
