<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.zaijushou.zhx.sys.dao.SysRoleMapper">

    <sql id="colSql">
        id as id,
        role_name as roleName,
        role_desc as roleDesc,
        remark as remark,
        create_user as 'createUser.id',
        update_user as 'updateUser.id',
        create_time as createTime,
        update_time as updateTime,
        delete_flag as deleteFlag
    </sql>

    <select id="listAllRoles" parameterType="xyz.zaijushou.zhx.sys.entity.SysRoleEntity" resultType="xyz.zaijushou.zhx.sys.entity.SysRoleEntity">
        select
        <include refid="colSql"/>
        from sys_role
        where delete_flag = '0'
    </select>

    <select id="listAllRoleMenus" parameterType="xyz.zaijushou.zhx.sys.entity.SysToRoleMenu" resultType="xyz.zaijushou.zhx.sys.entity.SysToRoleMenu">
        select
            role_id as 'role.id',
            menu_id as 'menu.id'
        from sys_role_menu
        where delete_flag = '0'
    </select>

</mapper>
