<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.zaijushou.zhx.sys.dao.SysUserMapper">

    <!-- 无密码等敏感信息返回 -->
    <sql id="colSqlWithoutPassword">
        id as id,
        username as userName,
        login_name as loginName,
        mobile as mobile,
        email as email,
        remark as remark,
        create_user as 'createUser.id',
        update_user as 'updateUser.id',
        create_time as createTime,
        update_time as updateTime,
        delete_flag as deleteFlag
    </sql>

    <!-- 无密码信息返回 -->
    <sql id="colSqlPasswordInfo">
        id as id,
        username as userName,
        login_name as loginName,
        password as password,
        mobile as mobile,
        email as email,
        remark as remark,
        create_user as 'createUser.id',
        update_user as 'updateUser.id',
        create_time as createTime,
        update_time as updateTime,
        delete_flag as deleteFlag
    </sql>

    <sql id="userInfo">
        id as id,
        username as userName,
        login_name as loginName,
        mobile as mobile,
        email as email,
        remark as remark,

        department,
        position,
        sex,
        high_edu as highEdu,
        user_type as userType,

        category,
        posi_title as posiTitle,
        come_resource as comeResource,
        join_time as joinTime,
        internship,

        plan_time as planTime,
        actual_time as actualTime,
        credit_time as creditTime,
        leave_time as leaveTime,
        yearly_salary as yearlySalary,

        security_number as securityNumber,
        fund_number as fundNumber,
        benefit,
        deposit_bank as depositBank,
        bank_number as bankNumber,

        idnumber,
        birth_time as birthTime,
        marry_status as marryStatus,
        political,
        nation,

        birth_origin as birthOrigin,
        household_address as householdAddress,
        household_nature as householdNature,
        graduation,
        edu_background as eduBackground,

        work_experience as workExperience,
        mobilization,
        office_phone as officePhone,
        qq,
        home_phone as homePhone,

        msn,
        address,
        status,

        create_user as 'createUser.id',
        update_user as 'updateUser.id',
        create_time as createTime,
        update_time as updateTime,
        delete_flag as deleteFlag
    </sql>

    <select id="findPasswordInfoByLoginName" parameterType="xyz.zaijushou.zhx.sys.entity.SysUserEntity" resultType="xyz.zaijushou.zhx.sys.entity.SysUserEntity">
        select
        <include refid="colSqlPasswordInfo"/>
        from sys_user
        where delete_flag = '0'
        and enable = '1'
        and login_name = #{loginName}
    </select>
    
    <select id="findUserInfoWithoutPasswordByLoginName" parameterType="xyz.zaijushou.zhx.sys.entity.SysUserEntity" resultType="xyz.zaijushou.zhx.sys.entity.SysUserEntity">
        select
        <include refid="colSqlWithoutPassword"/>
        from sys_user
        where delete_flag = '0'
        and enable = '1'
        and login_name = #{loginName}
    </select>

    <select id="findUserInfoWithoutPasswordById" parameterType="xyz.zaijushou.zhx.sys.entity.SysUserEntity" resultType="xyz.zaijushou.zhx.sys.entity.SysUserEntity">
        select
        <include refid="colSqlWithoutPassword"/>
        from sys_user
        where delete_flag = '0'
        and enable = '1'
        and id = #{id}
    </select>

    <select id="listAllUserRoles" parameterType="xyz.zaijushou.zhx.sys.entity.SysToUserRole" resultType="xyz.zaijushou.zhx.sys.entity.SysToUserRole">
        select
            user_id as 'user.id',
            role_id as 'role.id'
        from sys_user_role
        where delete_flag = '0'
    </select>

    <select id="listAllUsers" parameterType="xyz.zaijushou.zhx.sys.entity.SysUserEntity" resultType="xyz.zaijushou.zhx.sys.entity.SysUserEntity">
        select
        <include refid="colSqlWithoutPassword"/>
        from sys_user
        where delete_flag = '0'
    </select>

    <!--插入用户数据信息-->
    <insert id="saveUser" parameterType="xyz.zaijushou.zhx.sys.entity.SysOperationUserEntity">
        INSERT INTO `sys_user`
(`username`, `number`, `department`, `position`, `sex`,
`high_edu`, `user_type`, `category`, `posi_title`, `come_resource`,
 `join_time`, `internship`, `plan_time`, `actual_time`, `credit_time`,
`leave_time`, `yearly_salary`, `security_number`, `fund_number`, `benefit`,
 `deposit_bank`, `bank_number`, `idnumber`, `birth_time`, `marry_status`,
 `political`, `nation`, `birth_origin`, `household_address`, `household_nature`,
`graduation`, `edu_background`, `work_experience`, `mobilization`, `mobile`,
`office_phone`, `home_phone`, `qq`, `msn`, `email`,
 `address`, `login_name`, `password`, `remark`, `enable`,
`create_time`, `delete_flag`, `status`)
VALUES (
#{username,jdbcType=VARCHAR}, #{number,jdbcType=VARCHAR}, #{department,jdbcType=INTEGER}, #{position,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR},
#{highEdu,jdbcType=VARCHAR}, #{userType,jdbcType=VARCHAR}, #{category,jdbcType=VARCHAR}, #{posiTitle,jdbcType=VARCHAR}, #{comeResource,jdbcType=VARCHAR},
#{joinTime,jdbcType=TIMESTAMP}, #{internship,jdbcType=INTEGER}, #{planTime,jdbcType=TIMESTAMP}, #{actualTime,jdbcType=TIMESTAMP}, #{creditTime,jdbcType=TIMESTAMP},
#{leaveTime,jdbcType=TIMESTAMP}, #{yearlySalary,jdbcType=DECIMAL}, #{securityNumber,jdbcType=VARCHAR}, #{fundNumber,jdbcType=VARCHAR}, #{benefit,jdbcType=VARCHAR},
#{depositBank,jdbcType=VARCHAR}, #{bankNumber,jdbcType=VARCHAR}, #{idnumber,jdbcType=VARCHAR}, #{birthTime,jdbcType=TIMESTAMP}, #{marryStatus,jdbcType=INTEGER},
#{political,jdbcType=VARCHAR}, #{nation,jdbcType=VARCHAR}, #{birthOrigin,jdbcType=VARCHAR}, #{householdAddress,jdbcType=VARCHAR}, #{householdNature,jdbcType=VARCHAR},
#{graduation,jdbcType=VARCHAR}, #{eduBackground,jdbcType=VARCHAR}, #{workExperience,jdbcType=VARCHAR}, #{mobilization,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR},

#{officePhone,jdbcType=VARCHAR}, #{homePhone,jdbcType=VARCHAR}, #{qq,jdbcType=VARCHAR}, #{msn,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR},
#{address,jdbcType=VARCHAR}, #{loginName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{enable,jdbcType=INTEGER},
#{createTime,jdbcType=TIMESTAMP}, #{deleteFlag,jdbcType=INTEGER}, #{status,jdbcType=INTEGER})
    </insert>

    <!--更新用户数据信息-->
    <update id="updateUser" parameterType="xyz.zaijushou.zhx.sys.entity.SysOperationUserEntity">
        update sys_user
        <set>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR}
            </if>

        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <!--查询数据集合-->
    <select id="pageDataList" parameterType="xyz.zaijushou.zhx.sys.entity.SysOperationUserEntity" resultType="xyz.zaijushou.zhx.sys.entity.SysOperationUserEntity">
        select
        <include refid="userInfo"/>
        from sys_user
        where 1 = 1
        <if test="status != null">
            AND  status = #{status,jdbcType=INTEGER}
        </if>

        order by create_time
    </select>

    <!--根据Id查询数据-->
    <select id="getDataById" resultType="xyz.zaijushou.zhx.sys.entity.SysOperationUserEntity">
        select
        <include refid="userInfo"/>
        from sys_user
        where 1 = 1 and id = #{id,jdbcType=INTEGER}
    </select>

</mapper>
