<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.zaijushou.zhx.sys.dao.SysUserMapper">

    <!-- 无密码等敏感信息返回 -->
    <sql id="colSqlWithoutPassword">
        id as id,
        username as userName,
        login_name as loginName,
        mobile as mobile,
        department as department,
        actual_time as actualTime,
        email as email,
        remark as remark,
        create_user as [createUser.id],
        update_user as [updateUser.id],
        create_time as createTime,
        update_time as updateTime,
        delete_flag as deleteFlag
    </sql>

    <!-- 无密码信息返回 -->
    <sql id="colSqlPasswordInfo">
        id as id,
        username as userName,
        login_name as loginName,
        password as password,
        mobile as mobile,
        email as email,
        last_login_fail_time as lastLoginFailTime,
        login_fail_times as loginFailTimes,
         office_phone as officePhone,
        remark as remark,
        enable,
        create_user as [createUser.id],
        update_user as [updateUser.id],
        create_time as createTime,
        update_time as updateTime,
        delete_flag as deleteFlag,
        callcenterid
    </sql>

    <sql id="userInfo">
        id as id,
        username as userName,
        login_name as loginName,
        mobile as mobile,
        email as email,
        remark as remark,

        department,
        position,
        sex,
        high_edu as highEdu,
        user_type as userType,

        category,
        posi_title as posiTitle,
        come_resource as comeResource,
        join_time as joinTime,
        internship,

        plan_time as planTime,
        actual_time as actualTime,
        credit_time as creditTime,
        leave_time as leaveTime,
        yearly_salary as yearlySalary,

        security_number as securityNumber,
        fund_number as fundNumber,
        benefit,
        deposit_bank as depositBank,
        bank_number as bankNumber,

        idnumber,
        birth_time as birthTime,
        marry_status as marryStatus,
        political,
        nation,

        birth_origin as birthOrigin,
        household_address as householdAddress,
        household_nature as householdNature,
        graduation,
        edu_background as eduBackground,

        work_experience as workExperience,
        mobilization,
        office_phone as officePhone,
        qq,
        home_phone as homePhone,

        msn,
        address,
        status,

        create_user as [createUser.id],
        update_user as [updateUser.id],
        create_time as createTime,
        update_time as updateTime,
        delete_flag as deleteFlag
    </sql>

    <resultMap id="UserResultMap" type="xyz.zaijushou.zhx.sys.entity.SysNewUserEntity">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="mobile" property="mobile" jdbcType="VARCHAR"/>
        <result column="number" property="number" jdbcType="VARCHAR"/>
        <result column="sex" property="sex" jdbcType="VARCHAR"/>
        <result column="officePhone" property="officePhone" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="loginFailTimes" property="loginFailTimes" jdbcType="INTEGER"/>
        <result column="loginName" property="loginName" jdbcType="VARCHAR"/>
        <result column="enable" property="enable" jdbcType="INTEGER"/>
        <result column="userName" property="userName" jdbcType="VARCHAR"/>
        <result column="department" property="department" jdbcType="VARCHAR"/>
        <result column="departId" property="departId" jdbcType="VARCHAR"/>
        <result column="position" property="position" jdbcType="INTEGER"/>
        <result column="deleteFlag" property="deleteFlag" jdbcType="INTEGER"/>
        <result column="updateTime" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="leaveTime" property="leaveTime" jdbcType="TIMESTAMP"/>
        <result column="joinTime" property="joinTime" jdbcType="TIMESTAMP"/>
        <result column="actualTime" property="actualTime" jdbcType="TIMESTAMP"/>
        <result column="deptName" property="deptName" jdbcType="VARCHAR"/>
        <result column="callcenterid" property="callcenterid" jdbcType="INTEGER"/>
        <collection property="roleList" column="role_id" ofType="xyz.zaijushou.zhx.sys.entity.SysRoleEntity">
            <result column="roleId" property="id"  jdbcType="INTEGER"/>
            <result column="role" property="roleName"  jdbcType="VARCHAR"/>
        </collection>
    </resultMap>


    <select id="findPasswordInfoByLoginName" parameterType="xyz.zaijushou.zhx.sys.entity.SysUserEntity" resultType="xyz.zaijushou.zhx.sys.entity.SysUserEntity">
        select
        <include refid="colSqlPasswordInfo"/>
        from sys_user
        where delete_flag = '0'
<!--         and enable = '1' -->
        and login_name = #{loginName}
    </select>

    <select id="selectPasswordInfoById" parameterType="xyz.zaijushou.zhx.sys.entity.SysNewUserEntity" resultType="xyz.zaijushou.zhx.sys.entity.SysNewUserEntity">
        select
        <include refid="colSqlPasswordInfo"/>
        from sys_user
        where delete_flag = '0'
        and id = #{id}
    </select>

    <select id="selectPasswordInfoByOffice" parameterType="xyz.zaijushou.zhx.sys.entity.SysNewUserEntity" resultType="xyz.zaijushou.zhx.sys.entity.SysNewUserEntity">
        select
        <include refid="colSqlPasswordInfo"/>
        from sys_user
        where delete_flag = '0'
        and office_phone = #{officePhone}
        and callcenterid = #{callcenterid}
        and id != #{id}
    </select>

    <select id="findUserInfoWithoutPasswordByLoginName" parameterType="xyz.zaijushou.zhx.sys.entity.SysUserEntity" resultType="xyz.zaijushou.zhx.sys.entity.SysUserEntity">
        select
        <include refid="colSqlWithoutPassword"/>
        from sys_user
        where delete_flag = '0'
        and enable = '1'
        and login_name = #{loginName}
    </select>

    <select id="findUserInfoWithoutPasswordById" parameterType="xyz.zaijushou.zhx.sys.entity.SysUserEntity" resultType="xyz.zaijushou.zhx.sys.entity.SysUserEntity">
        select
        <include refid="colSqlWithoutPassword"/>
        from sys_user
        where delete_flag = '0'
        and enable = '1'
        and id = #{id}
    </select>

    <select id="findUserInfoWithoutStatusById" parameterType="xyz.zaijushou.zhx.sys.entity.SysUserEntity" resultType="xyz.zaijushou.zhx.sys.entity.SysUserEntity">
        select
        <include refid="colSqlWithoutPassword"/>
        from sys_user
        where  id = #{id}
    </select>

    <select id="listAllUserRoles" parameterType="xyz.zaijushou.zhx.sys.entity.SysToUserRole" resultType="xyz.zaijushou.zhx.sys.entity.SysToUserRole">
        select
            user_id as [user.id],
            role_id as [role.id]
        from sys_user_role
        where delete_flag = '0'
    </select>

    <select id="listAllUserRolesByUserId" parameterType="xyz.zaijushou.zhx.sys.entity.SysToUserRole" resultType="xyz.zaijushou.zhx.sys.entity.SysToUserRole">
        select
        user_id as [user.id],
        role_id as [role.id]
        from sys_user_role
        where delete_flag = '0' and user_id = #{user.id}
    </select>

    <select id="listAllUsers" parameterType="xyz.zaijushou.zhx.sys.entity.SysUserEntity" resultType="xyz.zaijushou.zhx.sys.entity.SysUserEntity">
        select
        <include refid="colSqlWithoutPassword"/>
        from sys_user
        where delete_flag = '0' and status=1
        order by id
    </select>

    <!--插入用户数据信息-->
    <insert id="saveUser"  parameterType="xyz.zaijushou.zhx.sys.entity.SysOperationUserEntity">
        INSERT INTO `sys_user`
        (`username`, `number`, `department`, `position`, `sex`,
        `high_edu`, `user_type`, `category`, `posi_title`, `come_resource`,
         `join_time`, `internship`, `plan_time`, `actual_time`, `credit_time`,
        `leave_time`, `yearly_salary`, `security_number`, `fund_number`, `benefit`,
         `deposit_bank`, `bank_number`, `idnumber`, `birth_time`, `marry_status`,
         `political`, `nation`, `birth_origin`, `household_address`, `household_nature`,
        `graduation`, `edu_background`, `work_experience`, `mobilization`, `mobile`,
        `office_phone`, `home_phone`, `qq`, `msn`, `email`,
         `address`, `login_name`, `password`, `remark`, `enable`,
        `create_time`, `delete_flag`, `status`)
        VALUES (
        #{username,jdbcType=VARCHAR}, #{number,jdbcType=VARCHAR}, #{departId,jdbcType=INTEGER}, #{position,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR},
        #{highEdu,jdbcType=VARCHAR}, #{userType,jdbcType=VARCHAR}, #{category,jdbcType=VARCHAR}, #{posiTitle,jdbcType=VARCHAR}, #{comeResource,jdbcType=VARCHAR},
        #{joinTime,jdbcType=TIMESTAMP}, #{internship,jdbcType=INTEGER}, #{planTime,jdbcType=TIMESTAMP}, #{actualTime,jdbcType=TIMESTAMP}, #{creditTime,jdbcType=TIMESTAMP},
        #{leaveTime,jdbcType=TIMESTAMP}, #{yearlySalary,jdbcType=DECIMAL}, #{securityNumber,jdbcType=VARCHAR}, #{fundNumber,jdbcType=VARCHAR}, #{benefit,jdbcType=VARCHAR},
        #{depositBank,jdbcType=VARCHAR}, #{bankNumber,jdbcType=VARCHAR}, #{idnumber,jdbcType=VARCHAR}, #{birthTime,jdbcType=TIMESTAMP}, #{marryStatus,jdbcType=INTEGER},
        #{political,jdbcType=VARCHAR}, #{nation,jdbcType=VARCHAR}, #{birthOrigin,jdbcType=VARCHAR}, #{householdAddress,jdbcType=VARCHAR}, #{householdNature,jdbcType=VARCHAR},
        #{graduation,jdbcType=VARCHAR}, #{eduBackground,jdbcType=VARCHAR}, #{workExperience,jdbcType=VARCHAR}, #{mobilization,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR},

        #{officePhone,jdbcType=VARCHAR}, #{homePhone,jdbcType=VARCHAR}, #{qq,jdbcType=VARCHAR}, #{msn,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR},
        #{address,jdbcType=VARCHAR}, #{loginName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{enable,jdbcType=INTEGER},
        #{createTime,jdbcType=TIMESTAMP}, #{deleteFlag,jdbcType=INTEGER}, #{status,jdbcType=INTEGER})
    </insert>

    <insert id="saveNewUser"  parameterType="xyz.zaijushou.zhx.sys.entity.SysNewUserEntity" useGeneratedKeys="true" keyProperty="id">
        <selectKey keyProperty="id" order="AFTER"  resultType="java.lang.Integer">
            SELECT @@IDENTITY AS 'Identity'
        </selectKey>
        insert into sys_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userName != null">username,</if>
            <if test="number != null">number,</if>
            <if test="departId != null">department,</if>
            <if test="sex != null">sex,</if>
            <if test="joinTime != null">join_time,</if>

            <if test="leaveTime != null">leave_time,</if>
            <if test="mobile != null">mobile,</if>
            <if test="officePhone != null">office_phone,</if>
            <if test="loginName != null">login_name,</if>
            <if test="password != null">password,</if>
            <if test="actualTime != null">actual_time,</if>

            <if test="enable != null">enable,</if>
            <if test="status != null">status,</if>
            <if test="position != null">position,</if>
            <if test="loginNameCount != null">login_name_count,</if>
            login_fail_times,
            delete_flag,
            create_time,
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userName != null">#{userName},</if>
            <if test="number != null">#{number},</if>
            <if test="departId != null">#{departId},</if>
            <if test="sex != null">#{sex},</if>
            <if test="joinTime != null">#{joinTime},</if>

            <if test="leaveTime != null">#{leaveTime},</if>
            <if test="mobile != null">#{mobile},</if>
            <if test="officePhone != null">#{officePhone},</if>
            <if test="loginName != null">#{loginName},</if>
            <if test="password != null">#{password},</if>
            <if test="actualTime != null">#{actualTime},</if>
            1,
            1,
            <if test="position != null">#{position},</if>
            <if test="loginNameCount != null">#{loginNameCount},</if>
            0,
            0,
            GETDATE(),
        </trim>
    </insert>

    <!--更新用户数据信息-->
    <update id="updateUser" parameterType="xyz.zaijushou.zhx.sys.entity.SysNewUserEntity">
        update sys_user
        <set>
                mobile = #{mobile},

            <if test="userName != null and userName != ''">
                username = #{userName},
            </if>

            <if test="loginName != null and loginName != ''">
                login_name = #{loginName},
            </if>

            <if test="number != null and number != ''">
                number = #{number},
            </if>

            <if test="department != null and userName != ''">
                department = #{departId},
            </if>

                sex = #{sex},

                office_phone = #{officePhone},

            <if test="joinTime != null">
                join_time = #{joinTime,jdbcType=TIMESTAMP},
            </if>

            <if test="leaveTime != null">
                leave_time = #{leaveTime,jdbcType=TIMESTAMP},
            </if>

                position = #{position},

            <if test="status != null and status != ''">
                status = #{status},
            </if>

            <if test="enable != null ">
                enable = #{enable},
            </if>
            <if test="actualTime != null and actualTime != ''">
                actual_time = #{actualTime},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>



    <!--查询数据集合-->
    <select id="userDataList" parameterType="xyz.zaijushou.zhx.sys.entity.SysNewUserEntity" resultMap="UserResultMap">
        select
        su.id , su.mobile,su.number,su.sex,su.office_phone as officePhone,su.login_fail_times as loginFailTimes,
        su.status,su.enable,su.username as userName,so.org_name department,su.login_name as loginName,
        su.create_time as createTime,su.create_user as [createUser.id],
        su.update_user as [updateUser.id],su.update_time as updateTime,
        su.delete_flag as deleteFlag,
        sr.role_name as role,
        su.leave_time as leaveTime,
        su.join_time as joinTime,
        su.department as departId,
        sr.id as roleId,
        su.actual_time as actualTime,
        su.position
        from sys_user su
        LEFT JOIN (select * from sys_user_role where delete_flag = 0) sur on su.id = sur.user_id
        LEFT JOIN (select * from sys_role where delete_flag=0) sr on sur.role_id = sr.id
        LEFT JOIN sys_organization so on su.department = so.id
        WHERE  su.delete_flag = 0
        <if test="status != null ">
            AND  su.status = #{status,jdbcType=INTEGER}
        </if>
        <if test="ids != null  and ids.length > 0">
            and su.id in
            <foreach collection="ids" open="(" close=")" separator="," item="item">
                #{item}
            </foreach>
        </if>
        <if test="accountStatus != null and accountStatus==2">
            AND  (su.enable = 0 or <![CDATA[ login_fail_times >= 3 ]]>)
        </if>
        <if test="accountStatus != null and accountStatus==1">
            AND  su.enable=1 and  <![CDATA[ login_fail_times < 3 ]]>
        </if>
        <if test="number != null and number!=''">
            AND  su.number like dbo.CONCAT('%',#{number},'%')
        </if>
        <if test="userName != null and userName!=''">
            AND  su.username like dbo.CONCAT('%',#{userName},'%')
        </if>
        <if test="officePhone != null and officePhone!=''">
            AND  su.office_phone like dbo.CONCAT('%',#{officePhone},'%')
        </if>
        <if test="loginName != null and loginName!=''">
            AND  su.login_name like dbo.CONCAT('%',#{loginName},'%')
        </if>
        <if test="departmens != null and departmens.length > 0 ">
            and su.department in
            <foreach item="item" index="index" collection="departmens" open="(" separator="," close=")">
                '${item}'
            </foreach>
        </if>
        ORDER BY ${orderBy} ${sort}
    </select>

    <select id="countUserData" parameterType="xyz.zaijushou.zhx.sys.entity.SysNewUserEntity" resultType="java.lang.Integer">
        select count(1) as sum
        from sys_user
        where delete_flag = 0
        <if test="status != null">
            AND  status = #{status,jdbcType=INTEGER}
        </if>
        <if test="department != null and department!=''">
            AND  department = #{department}
        </if>
        <if test="number != null and number!=''">
            AND  number like dbo.CONCAT('%',#{number},'%')
        </if>
        <if test="userName != null and userName!=''">
            AND  username like dbo.CONCAT('%',#{userName},'%')
        </if>
        <if test="loginName != null and loginName!=''">
            AND  login_name like dbo.CONCAT('%',#{loginName},'%')
        </if>
    </select>

    <!--根据Id查询数据-->
    <select id="getDataById" resultMap="UserResultMap">
           select
        su.id , su.mobile,su.number,su.sex,su.office_phone as officePhone,
        su.status,su.enable,su.username as userName,so.org_name as department,so.org_name as deptName,su.login_name as loginName,
        su.create_time as createTime,su.create_user as [createUser.id],
        su.update_user as [updateUser.id],su.update_time as updateTime,
        su.delete_flag as deleteFlag,
        sr.role_name as role,
        su.leave_time as leaveTime,su.actual_time as actualTime,
        su.join_time as joinTime,
        su.department as departId,
        sr.id as roleId,
        su.position,
        su.callcenterid
        from sys_user su
        LEFT JOIN (select * from sys_user_role where delete_flag =0) sur on su.id = sur.user_id
        LEFT JOIN (select * from sys_role  where delete_flag =0) sr on sur.role_id = sr.id
        LEFT JOIN sys_organization so on su.department = so.id
        where su.delete_flag = 0 and  su.id = #{id,jdbcType=INTEGER}
    </select>

    <select id="getDataByRoleName" parameterType="xyz.zaijushou.zhx.sys.entity.SysNewUserEntity" resultType="xyz.zaijushou.zhx.sys.entity.SysNewUserEntity">
        select
        su.id , su.mobile,su.number,su.sex,su.office_phone as officePhone,
        su.status,su.enable,su.username as userName,
        su.create_time as createTime,su.create_user as [createUser.id],
        su.update_user as [updateUser.id],su.update_time as updateTime,
        su.delete_flag as deleteFlag,
        sr.role_name as role,
        su.leave_time as leaveTime
        from
        sys_user su LEFT JOIN sys_user_role sur on su.id = sur.user_id
        LEFT JOIN sys_role sr on sur.role_id = sr.id
        where su.delete_flag = 0 and su.status=1
        <if test="role != null and role!=''">
            AND  sr.role_name = #{role}
        </if>
        <if test="userName != null and userName!=''">
            AND username like dbo.CONCAT('%',#{username},'%')
        </if>
    </select>

    <select id="getDataListByRoleName" parameterType="xyz.zaijushou.zhx.sys.entity.SysNewUserEntity" resultType="xyz.zaijushou.zhx.sys.entity.SysNewUserEntity">
        select
        DISTINCT  su.id , su.username as userName
        from
        sys_user su LEFT JOIN sys_user_role sur on su.id = sur.user_id
        LEFT JOIN sys_role sr on sur.role_id = sr.id
        where su.delete_flag = 0 and su.status=1
        <if test="role != null and role!=''">
            AND  sr.role_name = #{role}
        </if>
    </select>

    <!--通过Id删除数据信息-->
    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from sys_user   where id = #{id}
    </delete>

    <!--更新员工状态-->
    <update id="updateDataStatus" parameterType="xyz.zaijushou.zhx.sys.entity.SysNewUserEntity">
        update sys_user
        <set>
            login_fail_times = 0,
            <if test="status != null">
                status = #{status},
            </if>

            <if test="enable != null">
                enable = #{enable},
            </if>

            <if test="leaveTime != null">
                leave_time = #{leaveTime},
            </if>

        </set>
        where id = #{id}
    </update>

    <!--批量更新员工状态-->
    <update id="updateDataBatchStatus" parameterType="xyz.zaijushou.zhx.sys.entity.SysNewUserEntity">
        update sys_user
        <set>
            login_fail_times = 0,
            <if test="status != null">
                status = #{status},
            </if>

            <if test="enable != null">
                enable = #{enable},
            </if>

            <if test="leaveTime != null">
                leave_time = #{leaveTime},
            </if>

        </set>
        where id in
        <foreach collection="ids" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
    </update>

    <!--更新员工部门-->
    <update id="updateDept" parameterType="xyz.zaijushou.zhx.sys.entity.SysNewUserEntity">
        update sys_user set department = #{departId}
        where id in
        <foreach collection="ids" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
    </update>

    <!--更新员工部门-->
    <update id="updateDeptByName" parameterType="xyz.zaijushou.zhx.sys.entity.SysNewUserEntity">
        update sys_user set department = #{departId}
        where username = #{userName}
    </update>

    <!--修改坐席号-->
    <update id="updateOfficePhone" parameterType="xyz.zaijushou.zhx.sys.entity.SysNewUserEntity">
        update sys_user set office_phone = #{officePhone},callcenterid = #{callcenterid}
        where id = #{id}
    </update>

    <delete id="batchDelete" parameterType="java.lang.Integer">
        delete from sys_user  where id in
        <foreach collection="ids" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
    </delete>

    <select id="listUsers" parameterType="xyz.zaijushou.zhx.sys.entity.SysUserEntity" resultType="xyz.zaijushou.zhx.sys.entity.SysUserEntity">
        select
        <include refid="colSqlWithoutPassword"/>
        from sys_user
        where delete_flag = '0'
        <if test="userName != null and userName != ''">
            and username like dbo.CONCAT('%', #{userName}, '%')
        </if>
    </select>

    <select id="listUsersByName" parameterType="xyz.zaijushou.zhx.sys.entity.SysUserEntity" resultType="xyz.zaijushou.zhx.sys.entity.SysUserEntity">
        select
        <include refid="colSqlWithoutPassword"/>
        from sys_user
        where delete_flag = '0'
        <if test="userName != null and userName != ''">
            and username = #{userName}
        </if>
    </select>

    <update id="passwordReset" parameterType="xyz.zaijushou.zhx.sys.entity.SysNewUserEntity">
        update sys_user
        set password = #{password}
        where id = #{id}
    </update>

    <update id="updateLoginFailTimes" parameterType="xyz.zaijushou.zhx.sys.entity.SysUserEntity">
        update sys_user
        set login_fail_times = #{loginFailTimes}
        where id = #{id}
    </update>

    <update id="updateLoginFailInfo" parameterType="xyz.zaijushou.zhx.sys.entity.SysUserEntity">
        update sys_user
        set login_fail_times = #{loginFailTimes},
            last_login_fail_time = #{lastLoginFailTime}
        where id = #{id}
    </update>

    <update id="updateLoginFailLockInfo" parameterType="xyz.zaijushou.zhx.sys.entity.SysUserEntity">
        update sys_user
        set login_fail_times = #{loginFailTimes},
        last_login_fail_time = #{lastLoginFailTime},
        enable = 0
        where id = #{id}
    </update>

    <select id="countByLoginName" parameterType="xyz.zaijushou.zhx.sys.entity.SysUserEntity" resultType="xyz.zaijushou.zhx.sys.entity.SysUserEntity">
          select <include refid="colSqlPasswordInfo"/> from sys_user where login_name LIKE dbo.CONCAT('%',#{loginName},'%') and delete_flag = 0 AND  status =1
    </select>

    <select id="listByNameSet" parameterType="xyz.zaijushou.zhx.sys.entity.SysNewUserEntity" resultType="xyz.zaijushou.zhx.sys.entity.SysNewUserEntity">
        select
        <include refid="colSqlWithoutPassword"/>
        from sys_user
        where
        delete_flag = 0
         and username in
        <foreach collection="namesSet" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
    </select>

    <select id="listByDepartIdsSet" parameterType="xyz.zaijushou.zhx.sys.entity.SysNewUserEntity" resultType="xyz.zaijushou.zhx.sys.entity.SysNewUserEntity">
        select
        <include refid="colSqlWithoutPassword"/>
        from sys_user
        where
        delete_flag = 0 and status = 1
        and department in
        <foreach collection="departIdsSet" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
    </select>

    <select id="countUserNameAndNumber" parameterType="xyz.zaijushou.zhx.sys.entity.SysNewUserEntity" resultType="java.lang.Integer">
        SELECT COUNT(1) as sum from sys_user
        where delete_flag = 0
        <if test="userName != null and userName != ''">
            and username = #{userName}
        </if>
        <if test="loginName != null and loginName != ''">
            and login_name = #{loginName}
        </if>
        <if test="number != null and number != ''">
            and number = #{number}
        </if>

        <if test="id != null and id != ''">
            and <![CDATA[ id <> #{id} ]]>
        </if>
    </select>

    <!--查询数据集合-->
    <select id="userExportList" parameterType="xyz.zaijushou.zhx.sys.entity.SysNewUserEntity" resultMap="UserResultMap">
        select
        su.id , su.mobile,su.number,su.sex,su.office_phone as officePhone,su.login_name as loginName,
        su.status,su.enable,su.username as userName,so.org_name department,
        su.create_time as createTime,su.create_user as [createUser.id],
        su.update_user as [updateUser.id],su.update_time as updateTime,
        su.delete_flag as deleteFlag,
        sr.role_name as role,
        su.leave_time as leaveTime,
        su.join_time as joinTime,
        su.department as departId,
        sr.id as roleId,
        su.position
        from
        (
        select * from sys_user where delete_flag = 0
        <if test="status != null">
            AND  status = #{status,jdbcType=INTEGER}
        </if>
        <if test="department != null and department!=''">
            AND  department = #{department}
        </if>
        <if test="number != null and number!=''">
            AND  number like dbo.CONCAT('%',#{number},'%')
        </if>
        <if test="userName != null and userName!=''">
            AND  username like dbo.CONCAT('%',#{userName},'%')
        </if>
        )su
        LEFT JOIN (select * from sys_user_role where delete_flag = 0) sur on su.id = sur.user_id
        LEFT JOIN (select * from sys_role where delete_flag = 0) sr on sur.role_id = sr.id
        LEFT JOIN sys_organization so on su.department = so.id
    </select>

    <select id="countLockedUser" resultType="java.lang.Integer">
        select count(1) as sum
        from sys_user
        where delete_flag = 0 AND  status =1 and (enable = 0 or login_fail_times >=3)
    </select>

    <select id="listParent" parameterType="xyz.zaijushou.zhx.sys.entity.SysNewUserEntity" resultMap="UserResultMap">

    select <include refid="colSqlWithoutPassword"/> from sys_user where department in
    (select parent_id from sys_organization where id = (select department from sys_user where id=#{id}))
    and delete_flag=0

</select>

    <select id="showManage" parameterType="xyz.zaijushou.zhx.sys.entity.SysNewUserEntity" resultMap="UserResultMap">

        select <include refid="colSqlWithoutPassword"/> from sys_user where department in
        (select department from sys_user where id=#{id}) and id in (select user_id from sys_user_role where role_id=16)
        and delete_flag=0

    </select>

    <select id="listUserByDept" parameterType="xyz.zaijushou.zhx.sys.entity.SysNewUserEntity" resultMap="UserResultMap">

        select <include refid="colSqlWithoutPassword"/> from sys_user where department = #{department} and delete_flag=0 and status = 1
        AND  id in (select user_id from sys_user_role
        <where>
            <if test="roles != null and roles.length > 0">
                role_id in
                <foreach item="item" index="index" collection="roles" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
        )
    </select>

    <select id="findDepartment" resultType="xyz.zaijushou.zhx.sys.entity.SysNewUserEntity">
        select department from sys_user where id=#{id}
    </select>

    <!--查询数据集合-->
    <select id="userDataListByDept" parameterType="xyz.zaijushou.zhx.sys.entity.SysNewUserEntity" resultType="xyz.zaijushou.zhx.sys.entity.SysNewUserEntity">
        select
        su.id , su.mobile,su.number,su.sex,su.office_phone as officePhone,su.login_fail_times as loginFailTimes,
        su.status,su.enable,su.username as userName,su.login_name as loginName,
        su.create_time as createTime,su.create_user as 'createUser.id',
        su.update_user as 'updateUser.id',su.update_time as updateTime,
        su.delete_flag as deleteFlag,
        su.leave_time as leaveTime,
        su.join_time as joinTime,
        su.department as departId,
        su.enable,su.actual_time as actualTime,
        su.position
        from
         sys_user su WHERE su.delete_flag = 0 and su.status=1
        and su.department = #{department}
    </select>

    <select id="queryOdvs" resultType="xyz.zaijushou.zhx.sys.entity.SysNewUserEntity">
        with x as (
            select id,parent_id from sys_organization where id in
            <foreach item="detpid" index="index" collection="array" open="(" separator="," close=")">
                #{detpid}
            </foreach>
            union all
            select o.id,o.parent_id from x inner join sys_organization o on o.parent_id=x.id and o.delete_flag=0
        )
        select <include refid="colSqlWithoutPassword"/> from sys_user u where exists (select 1 from x where u.department=x.id)
    </select>

    <select id="queryOdv" resultType="xyz.zaijushou.zhx.sys.entity.QueryEntity">
        select id,username as value from sys_user where delete_flag = 0 and status = 1 and username like dbo.concat('%',#{odvName},'%')
    </select>
    <select id="findUserByDept" resultType="xyz.zaijushou.zhx.sys.entity.QueryEntity">
        select id,username as value from sys_user where department = #{department} and delete_flag=0 and status = 1 and username like dbo.concat('%',#{odvName},'%')
    </select>
    <select id="queryDepartment" resultType="java.lang.String">
        select department from sys_user where id=#{id}
    </select>
    <select id="queryOdvs1" resultType="xyz.zaijushou.zhx.sys.entity.SysNewUserEntity">
        with x as (
        select id,parent_id from sys_organization where id in
        <foreach item="detpid" index="index" collection="array" open="(" separator="," close=")">
            #{detpid}
        </foreach>
        union all
        select o.id,o.parent_id from x inner join sys_organization o on o.parent_id=x.id and o.delete_flag=0
        )
        select <include refid="colSqlWithoutPassword"/> from sys_user u where exists (select 1 from x where u.department=x.id)
    </select>
</mapper>
